<div>
  <ion-list>
    <ion-list-header lines="inset">Filtros</ion-list-header>
    <ion-item>
      <ion-label class="datos">Estado</ion-label>
      <ion-select placeholder="Abiertas" [(value)]="_oporServices.filtros.estado" #selectEstado>
        <ion-select-option value="abiertas">Abiertas</ion-select-option>
        <ion-select-option value="cerradas">Cerradas</ion-select-option>
        <ion-select-option value="todas">Todas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="datos">Periodo</ion-label>
      <ion-select placeholder="Todos" [(value)]="_oporServices.filtros.periodo" #selectPeriodo>
        <ion-select-option value="todos">Todos</ion-select-option>
        <ion-select-option value="actual">Actual</ion-select-option>
        <ion-select-option value="anteriores">3 meses</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="datos">Contacto</ion-label>
      <ion-select placeholder="Todos" [(value)]="_oporServices.filtros.tipoContacto" #selectTipoContacto>
        <ion-select-option value="todos">Todos</ion-select-option>
        <ion-select-option value="Llamada">Llamadas</ion-select-option>
        <ion-select-option value="Visita">Visitas</ion-select-option>
        <ion-select-option value="Whatsapp">Whatsapp</ion-select-option>
        <ion-select-option value="Videoconferencia">Videoconf.</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="datos">Ordenar</ion-label>
      <ion-select placeholder="Ordenar por" [(value)]="_oporServices.filtros.orderBy" #selectorderBy>
        <ion-select-option value="fecha_limite">Fecha Cierre</ion-select-option>
        <ion-select-option value="fecha_creacion">Fecha. creación</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button size="small" class="filterButton" mode="md" (click)="cerrar()"> Cancelar </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="filterButton" mode="md" (click)="setFiltros(selectEstado.value, selectPeriodo.value, selectorderBy.value, selectTipoContacto.value)"> Filtrar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>