<ion-header>
  <ion-toolbar color="light" style="color:#444">
    <ion-buttons slot="start">
      <ion-menu-button       
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" >
      Picking Pendientes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopoverFiltros($event)" icon-only [ngClass]="{'filtrosButton': filtroDespachosPendientes != 'TODOS'}">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="primary">
    <ion-row class="ion-align-items-center">
      <ion-col size="9">
        <ion-item color="primary">
          <ion-label><b>Sucursal:</b></ion-label>
          <ion-select [(ngModel)]="selectedSucursal"  #selectSucursales placeholder="Seleccionar" [value]="selectedSucursal" mode="ios"  cancelText="Cancelar" (ionChange)="getPickingPendientes(); saveSelectedSucursal(selectSucursales.value)">
            <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.codigo">{{sucursal.nombre | titlecase }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-text-center refresh">
        <ion-icon name="refresh" color='warning' *ngIf="loadData" style="font-size: 28px;" (click)="getPickingPendientes()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngIf="!loadData && selectedSucursal">
      <ion-label>Cargando Datos...</ion-label>
      <ion-spinner name="lines" color='primary'></ion-spinner>
    </ion-item>
    <ion-item *ngFor="let despacho of ( despachosPendientes | filtrarDespachosPendientes : filtroDespachosPendientes ) ">
      <ion-grid>
        <ion-row>
          <ion-col size="11">
            <app-item-despacho-pendiente [despachoPendiente]="despacho"></app-item-despacho-pendiente>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div *ngIf="filtroDespachosPendientes === 'TODOS' || filtroDespachosPendientes === 'RETIROS PENDIENTES'">
      <ion-item *ngFor="let retiro of retirosPendientes" (click)="showRetiroPendienteDetail(retiro.ordenVenta)">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <app-item-retiro-pendiente [retiroPendiente]="retiro" (reloadRetiros)="getPickingPendientes()"></app-item-retiro-pendiente>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    <ion-item *ngIf="((filtroDespachosPendientes === 'TRANSFERENCIA' || filtroDespachosPendientes === 'ORDEN VENTA')
      && (despachosPendientes | filtrarDespachosPendientes : filtroDespachosPendientes) < 1 && loadData)
      || ( filtroDespachosPendientes === 'RETIROS PENDIENTES' && retirosPendientes?.length < 1 && loadData)">
      <p style="font-size: 14px;">No se han encontrado picking pendientes para sucursal: <b>{{selectedSucursal | titlecase}}</b>, tipo picking: <b>{{ filtroDespachosPendientes | titlecase }}</b></p>
    </ion-item>
  </ion-list>
</ion-content>
