ion-select{
    max-width: 100% !important; 
}

.refresh:hover{
    cursor: pointer;
}

.filtrosButton:before{
    content: '!';
    background-color: var(--ion-color-warning);
    position: absolute;
    text-align: center;
    bottom: 57%;
    left: 23px;
    padding: 1px 0px 1px 1px;
    width: 11px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    z-index: 100;
}


ion-item{
    --inner-padding-end: 0px;
    --padding-star: 5px !important;
}
