<div (click)="viewDetail = !viewDetail">
  <ion-row>
    <ion-col class="datos">
      {{concepName}}
    </ion-col>
    <ion-col class="ion-text-end">
      <ion-icon [name]="!viewDetail? 'eye' : 'remove'" color="primary" style="font-size: 20px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="viewDetail">
    <ion-col size="11">
      <ion-row *ngFor="let concepto of conceptos">
        <ion-col size="12" class="tituloConcepto">{{concepto.concepName}}</ion-col>
        <ion-col size="12">
          <ion-row class="ion-justify-content-center">
            <ion-col size="11">
              <ion-row>
                <ion-col size="5">Monto</ion-col>
                <ion-col size="7" class="ion-text-end">{{concepto.concepMontoTotal | currency:'$' : 'symbol' : '1.0-0'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">Cantidad</ion-col>
                <ion-col size="7" class="ion-text-end">{{concepto.concepCantidad}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  Alta / Media / Baja
                </ion-col>
                <ion-col class="ion-text-end">
                  {{concepto.concepCantAlta}} / {{ concepto.concepCantMedia }} / {{  concepto.concepCantBaja }}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
