<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/objetivos"></ion-back-button>
    </ion-buttons>

    <ion-title> Propuesta </ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/carro-compra">
        <ion-badge color="primary"> {{ items }}</ion-badge>
        <ion-icon color="light"  name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-segment       
      scrollable="scrollable"
      mode="md"
      color="light"
      (ionChange)="changetipoPropuesta( $event )">
      
      <ion-segment-button *ngFor="let propuesta of tipoPropuesta" [value]="propuesta.value" style="font-size: 9px;" [checked]="propuesta.value === propuestaActual">
        <ion-label> {{ propuesta.label }} </ion-label>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" [ngSwitch]="propuestaActual">
    <ion-card-header>
      <ion-card-title *ngSwitchCase="'ofrecer'"> Combos </ion-card-title>
      <ion-card-title *ngSwitchCase="'nocompra'"> Productos que Antes Compraba </ion-card-title>
      <ion-card-title *ngSwitchCase="'promo'"> Productos Nuevos </ion-card-title>
      <ion-card-subtitle *ngIf="cliente"> <strong>Cliente: </strong> {{ cliente.nombre | lowercase | titlecase }} </ion-card-subtitle>
      <hr>
    </ion-card-header>
    <ion-card-content>
        <div *ngSwitchCase="'ofrecer'"> <app-product-item-view *ngFor="let articulo of  productos_recomendados" [articulo]="articulo" (actualizaCarro)="obtenerCarro()"> </app-product-item-view>  </div>
        <div *ngSwitchCase="'nocompra'"> <app-product-item-view *ngFor="let articulo of  productos_nocompra" [articulo]="articulo" (actualizaCarro)="obtenerCarro()"> </app-product-item-view>  </div>
        <div *ngSwitchCase="'promo'"> <app-product-item-view *ngFor="let articulo of  productos_promo" [articulo]="articulo" (actualizaCarro)="obtenerCarro()"> </app-product-item-view> </div>
        <div  *ngIf="(propuestaActual === 'ofrecer' && loadingCategoria[0] == 1) || 
                      (propuestaActual === 'nocompra' && loadingCategoria[1] == 1) || 
                      (propuestaActual === 'promo' && loadingCategoria[2] == 1)">
        <ion-item> 
          <ion-label > Cargando Productos  </ion-label> <ion-spinner name="lines" slot="end"></ion-spinner>
        </ion-item>
        </div>
    
      </ion-card-content>

  </ion-card>
</ion-content>


<!-- <ion-footer class="ion-no-border ion-hide-sm-up">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer> -->