<ion-card>
    <app-header [titulo]="'Eventos'" [slides]="slides"></app-header>
    <ion-spinner
        name="dots"
        *ngIf="obtener"
      ></ion-spinner>
    <ion-item *ngFor="let evento of listadoEventos">
      <ion-icon
        color="success"
        src="./assets/svg/calendarioC.svg"
        slot="end"
      ></ion-icon>
      <ion-row>
          <ion-col size="12"><ion-label>{{evento.tipoEvento}}</ion-label></ion-col>
          <ion-col size="12"><ion-label>{{evento.fechaEjecucion}}</ion-label></ion-col>
          <ion-col size="12"><ion-label>{{evento.Observaciones}}</ion-label></ion-col>
        </ion-row>
    </ion-item>
</ion-card>