<ion-header>
  <ion-toolbar>
    <ion-title style="margin-left:12px; font-size: 14px;"> {{ nombreVendedor? (title+' - '+nombreVendedor | titlecase) : title }} </ion-title>
    <ion-icon slot="end" name="close" style="font-size:25px; margin-right: 5px" (click)="cerrarModal()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mr-1 ml-1" [hidden]="!mapready" >
    <!-- ION FAB ASOCIADO A LAS OPCIONES DE QUITAR ZOOM Y BUSCAR PIN -->
    <ion-fab vertical="top" horizontal="start" title="hola"  id="ionFab">
      <ion-fab-button mode="ios" size="small"><ion-icon name="eye"> </ion-icon></ion-fab-button>
      <ion-fab-list side="end">
          <ion-fab-button color="primary"  [title]="" (click)="resetVista()" [hidden]="zoom != 4? false : true"> 
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-backspace" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-7.08a1 1 0 0 1-.76-.35L1 8l4.844-5.65A1 1 0 0 1 6.603 2zm7.08-1a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zM5.829 5.146a.5.5 0 0 0 0 .708L7.976 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
            </svg>
          </ion-fab-button>
          <ion-fab-button color="primary" [hidden]="clientes?.length > 1? false : true" (click)="searchFilter= !searchFilter" [title]="" id="bottonPiso2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          </ion-fab-button>
          <ion-fab-button color="primary" [hidden]="clientes?.length > 1? false : true" (click)="showMyPosition()" [title]="" id="bottonPiso2">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-12A6 6 0 0 0 2 6c0 4.314 6 12 6 12z"/>
              <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <!-- END ION FAB ASOCIADO A LAS OPCIONES DE QUITAR ZOOM Y BUSCAR PIN -->
    
    <!-- HTML ASOCIADO AL MAPA AGM -->
    <agm-map [latitude]="lat" [longitude]="lng" id="mapa" [hidden]="!mapready"
      (mapClick)="mapClicked($event)"
      (mapReady)="mapLoad($event)"
      #map mapTypeId="hybrid"
      [(zoom)]="zoom" disableDefaultUI="false"> 

      <!-- Marker vendedor. con actualizacion de coordenada. -->
      <agm-marker [iconUrl]="Vendedoricon" 
        *ngIf="tipoSolicitud != 'checkinVendedor'"
        [latitude]="latUser"
        [longitude]="lngUser"
        (markerClick)="markerClicked($event)"
        [markerDraggable]="false">
      </agm-marker>
      <!-- End marker vendedor -->
        
      <!-- Marker Clientes -->
      <ng-container *ngIf="tipoSolicitud != 'checkinVendedor'"> 
        <agm-marker (markerClick)="markerClicked($event)"
        *ngFor="let cliente of clientes"
         [latitude]="cliente.latitud"
         [longitude]="cliente.longitud"
         [label]="{color: 'white', text: cliente.nombre, fontSize: '9px'}">
 
         <agm-info-window [disableAutoPan]="false" #infoWindow>
           <ion-grid>
             <ion-row class="ion-justify-content-center">
               <ion-col size="12" class="ion-text-center" style="font-weight: 700;">
                 {{cliente.nombre | lowercase | titlecase }}    
               </ion-col>
               <ion-col size="12" class="ion-text-center" style="font-size: 12px;"> 
                 {{ cliente.direcciones[0].calle | lowercase | titlecase }} {{ cliente.direcciones[0].numero }},  {{ cliente.direcciones[0].comuna | lowercase | titlecase }}
               </ion-col>
               <ion-col size="12" class="ion-text-center">
                 <ion-button fill="outline" size="small" (click)="verDertalleCliente(cliente)"> Ver Detalles </ion-button>
               </ion-col>
             </ion-row>
           </ion-grid>
         </agm-info-window>
       </agm-marker>
      </ng-container>
      <!-- END Marker Clientes -->

      <!-- Marker correspondiente a los checkin de un vendedor -->
      <ng-container *ngIf="tipoSolicitud === 'checkinVendedor'"> 
        <agm-marker 
          *ngFor="let checkin of checkIns"
          [latitude]="checkin.latitud"
          [longitude]="checkin.longitud"
          (markerClick)="markerClicked($event)"
          [markerDraggable]="false">

          <agm-info-window [disableAutoPan]="false" #infoWindow>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" class="ion-text-center" style="font-weight: 700;">
                  <ion-label style="margin-left: 12px">{{checkin.nombreCliente | lowercase | titlecase }}</ion-label> 
                </ion-col>
                <ion-col size="12">
                  <b>Comentario:</b> <br>
                  <ion-label style="margin-left: 12px">{{ checkin.comentario? (checkin.comentario | titlecase) : 'Sin Comentario.' }}</ion-label>
                </ion-col>
                <ion-col size="12" *ngIf="checkin.origenEvento">
                  <b>Tipo de Contacto:</b> <br>
                  <ion-label style="margin-left: 12px">{{ checkin.origenEvento }}</ion-label>
                </ion-col>
                <ion-col size="12" *ngIf="checkin.oportunidad">
                  <b> Oportunidad: </b> <br>
                  <ion-col size="12">
                    <b>Concepto:</b> <br>
                    <ion-label style="margin-left: 12px">{{checkin.oportunidad.concepto_creacion}}</ion-label><br>
                  </ion-col>
                  <ion-col size="12">
                    <b>Monto Oportunidad:</b> <br>
                    <ion-label style="margin-left: 12px">{{checkin.oportunidad.monto_magnitud  | currency:'CL' : 'symbol' : '1.0-0'}}</ion-label><br>
                  </ion-col>
                  <ion-col size="12">
                    <b>Fecha Estimada Cierre:</b> <br>
                    <ion-label style="margin-left: 12px">{{checkin.oportunidad.fecha_limite | date }}</ion-label> <br>
                  </ion-col>
                  <ion-col size="12">
                    <b>Estado:</b> <br>
                    <ion-label style="margin-left: 12px">{{checkin.oportunidad.OportunidadOpen? 'Abierta' : 'Cerrada' }}</ion-label> <br>
                  </ion-col>
                </ion-col>
                <ion-col size="12">
                  <b> Fecha Creación: </b> <br>
                  {{ checkin.fechaCreacionMongo | date: 'dd MMMM yyyy hh:mm a' }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    <!-- End marker vendedor -->

    <!-- Markets asociadas a la tiendas de implementos -->
      <ng-container *ngIf="tipoSolicitud === 'checkinVendedor' && tiendasImplementos?.length > 0 && zoom > 8"> 
        <agm-marker
          *ngFor="let tienda of tiendasImplementos"
          [iconUrl]="Sucursalicon" 
          [latitude]="tienda.latitud"
          [longitude]="tienda.longitud"
          (markerClick)="markerClicked($event)"
          [markerDraggable]="false">

          <agm-info-window [disableAutoPan]="false" #infoWindow>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" class="ion-text-center" style="font-weight: 700;">
                  {{'Sucursal: '+(tienda.nombre | lowercase | titlecase) }}    
                </ion-col>
                <ion-col size="12">
                  {{ tienda.direccion | lowercase | titlecase }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    <!-- End Markets asociadas a la tiendas de implementos -->

    </agm-map>
    <!-- END HTML ASOCIADO AL MAPA AGM -->

  </div>
  <!-- Componente de filtros para el mapa -->
  <app-address-slides [Clientes]="clientes" (selectedCliente)="MostrarEspecificAddress($event)" 
    [showFiltros]="searchFilter" 
    (ocultarFiltro)="searchFilter = false"
    (resetViewEvent)="resetVista()">
  </app-address-slides>
  <!-- END Componente de filtros para el mapa -->
</ion-content>
