<ion-card *ngIf="detalleHua">
  <ion-card-header>
    <ion-icon name="close" mode="ios" class="closeDetail" (click)="closeDetailFunction()" size="large"></ion-icon>
    <ion-grid style="padding: 0px">
      <ion-row class="ion-justify-content-center" style="padding:0px">
        <img *ngIf="detalleHua?.img" [src]="detalleHua.img" style="width: 140px" onError="this.src='./assets/img/place-150x150.png'"/>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"><ion-label> Gmroi Tienda </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.gmroiTienda }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"><ion-label> Comprado </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.cantidadUltimaCompra }} / {{ detalleHua.fechaUltimaCompra | valFechas | date:"dd-MM-yyyy" }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"><ion-label> Ult. Recibo </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.cantidadUltimaReposicion }} / {{ detalleHua.fechaUltimaReposicion | valFechas | date:"dd-MM-yyyy" }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"><ion-label> Ult. Venta </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.cantidadUltimaVenta }} / {{ detalleHua.fechaUltimaVenta | valFechas | date:"dd-MM-yyyy" }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"> <ion-label> Ubicación  </ion-label> </ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.direccion | lowercase | titlecase }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"> <ion-label> Cant. V Semanal </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.ventaS1}}-{{ detalleHua.ventaS2  }}-{{detalleHua.ventaS3}}-{{detalleHua.ventaS4 }}  </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"> <ion-label> Tipologia Tienda </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.tipologiaTienda}}  </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-right">
            <ion-col size="6" class="item-title"> <ion-label> Tipologia Compañia </ion-label></ion-col>
            <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.tipologiaClacom}}  </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-list *ngIf="!showingItemRelacionado && articulosRelacionados?.length > 0">
        <ion-list-header (click)="mostrarRelacionados = !mostrarRelacionados">
          <ion-col size="12">
            <ion-row>
              <ion-col size="10">
                <ion-label class="item-title"> {{ !mostrarRelacionados ? 'Mostrar Articulos Relacionados' : 'Ocultar Articulos Relacionados' }} </ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-icon mode="ios" [name]="!mostrarRelacionados? 'arrow-down' : 'arrow-up'"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-list-header>
        <div *ngIf="mostrarRelacionados">
          <ion-item *ngFor="let item of articulosRelacionados" style="padding-left:20px" class="ion-text-wrap" (click)="mostrarDetalleRelacionado(item)">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="4">
                  <ion-row>
                    <ion-col size="12" class="itemTitleRelacionado" style="padding-bottom: 0px;">
                      {{ item.sku }}
                    </ion-col>
                    <ion-col size="10">
                      <img *ngIf="item?.img" [src]="item.img" onError="this.src='./assets/img/place-150x150.png'"/>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="8" style="padding-left:15px;"> 
                  <ion-row style="margin-bottom: 3px;">
                    <ion-col size="6" class="datoRelacionado">
                      <span class="itemTitleRelacionado"> Stock: </span> {{item.disponibilidad}}
                    </ion-col>  
                    <ion-col size="6" class="dato">
                      <span class="itemTitleRelacionado"> Min: </span> {{ item.stockMinimoPropuesto}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6" class="datoRelacionado">
                      <span class="itemTitleRelacionado"> S Vnta: </span> {{ _estadoTiendaService.getSemanasVentas(item.disponibilidad, item.ventaPromedioSemanal) }}
                    </ion-col>
                    <ion-col size="6" class="datoRelacionado" >
                      <span class="itemTitleRelacionado"> P: </span> {{ item.PVP | formatoMoneda }}
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid> 
          </ion-item>
        </div>
      </ion-list>
    </ion-list>
    <ion-row>
      <ion-col size="12" class="ion-text-right">
        <ion-button fill="outline" style="font-size: 10px;" (click)="ocultarDetalles()"> Ocultar Detalles </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>