<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title> Oportunidades</ion-title>
    <ion-buttons slot="end" *ngIf="indexActual === 1">
      <ion-button (click)="presentPopoverFiltros($event)">
        <ion-icon name="funnel"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light">
        <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [disabled]="pag.disabled"  (click)="cambioPagina(pag.index, slidesOportunidades )"
            [class.segment-button-checked]="pag.cheked">
            <ion-label>{{pag.name}}</ion-label> 
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slidesOportunidades (ionSlidesDidLoad)='ionSlidesDidLoad()'>

    <ion-slide>
        <app-resumen-oportunidades [ResumenOportunidades]="ResumenOportunidades"></app-resumen-oportunidades>
    </ion-slide>

    <ion-slide>
      <ion-card mode="md">
        <ion-card-header lines="full">
          <ion-row>
            <ion-col size="7">
              <b>Periodo:</b> {{ this._oportunidadesService.filtros.periodo === 'todos'? 'Todos' : this._oportunidadesService.filtros.periodo === 'actual'? 'Mes Actual' : 'Últimos 3 meses' }}
            </ion-col>
            <ion-col size="5">
              <b>Estado:</b> {{ _oportunidadesService.filtros.estado | titlecase }}
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="oportunidades && oportunidades.length > 0">
          <app-lista-oportunidades (reloadOportunidadesEmitter)="getOportunidades()" [oportunidades]="oportunidades" *ngIf="indexActual === 1"></app-lista-oportunidades>
        </ion-card-content>
        <ion-card-content>
          <ion-card-content *ngIf="( !oportunidades && cargando)  || (oportunidades && oportunidades.length < 1 && !cargando)">
            No hay oportunidades para mostrar
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
