<ion-header>
  <ion-toolbar>
    <ion-title>Agendar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header tappable>
      <ion-card-title>Nuevo Evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item *ngIf="cliente">
        <ion-label>{{cliente.nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Inicio</ion-label>
        <ion-datetime [monthShortNames]="monthShortNames" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"
          [(ngModel)]="event.startTime" minuteValues="0,15,30,45" doneText="Guardar" cancelText="Cancelar"  (ionChange)="actualizarFecha($event)">
        </ion-datetime>
      </ion-item>
     <!--  <ion-item>
        <ion-label>Termino</ion-label>
        <ion-datetime [monthShortNames]="monthShortNames" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"
          [(ngModel)]="event.endTime" minuteValues="0,15,30,45"  doneText="Guardar" cancelText="Cancelar" [min]="event.startTime"></ion-datetime>
      </ion-item> -->
      <!-- <ion-item>
        <ion-label>¿Todo el dia?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item> -->
      <ion-button fill="outline" expand="block" (click)="addEvent()">Agregar Evento</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>