<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-button >
              <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
          </ion-button> -->
          <ion-menu-button autoHide="false" color="light" menu="primerMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title> Informe Llamados </ion-title>

  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light">
        <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [disabled]="pag.disabled" (click)="cambioPagina( pag.index,slidesLlamados )"
            [class.segment-button-checked]="pag.cheked">
            <ion-icon [name]="pag.svg" ></ion-icon> 
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
     <ion-toolbar class="color">
        <ion-segment [value]="rango" id="tipoDato" (ionChange)="filtrar($event)"  mode="md">
            <ion-segment-button value="Diario"  mode="md">Diario</ion-segment-button>
            <ion-segment-button  value="Mensual"  mode="md">Mensual</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-slides #slidesLlamados   >
        <ion-slide >
            <app-tabla-llamandos [indice]="0" [hidden]="indiceActual == 0? false : true" [slidesLlamados]="slidesLlamados"  [informeLlamado]="informeLlamado" (brake)="habilitar($event)" [filtro]="rango"></app-tabla-llamandos>
        </ion-slide>
        <ion-slide >
            <app-tabla-llamandos [indice]="1" [hidden]="indiceActual == 1? false : true" [slidesLlamados]="slidesLlamados"  [lstVendedores]="lstVendedores" [filtro]="rango" (brake)="habilitar($event)"></app-tabla-llamandos>
        </ion-slide>
        <ion-slide >
           <h1>Listado de llamados</h1>
        </ion-slide>
    </ion-slides>   
</ion-content>