table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.header {
    color: #005db9;
}

.body {
    color: black;
}

.footer {
    color: red;
}

.rojo {
    color: #ff0000 !important;
}

.verde {
    color: #00881d !important;
}

.amarillo {
    color: #ffc400 !important;
}
.color{
    --background: #ffffff !important;
    color: #000000 !important;
}