
<!-- Detalle sucursal -->
<div *ngIf="SucursalQuiebre  && !showDetaProductos">
<ion-row *ngIf="!showDetaProductos">
  <div class="verDetalles">
    <ion-button fill="outline" (click)="showDetaProductos = true" size="small">
      <ion-icon name="eye"></ion-icon>
    </ion-button>
  
    <ion-button fill="outline"  *ngIf="_EstadoTiendaService?.selectSucurales.length > 1" color="danger" size="small" style="margin-left:10px" (click)="HideSucursalSelect(false)" >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
</ion-row>
  
<ion-list style="margin-top:5px">
  <ion-list-header class="item-title"> Productos Sku Stock Tienda </ion-list-header>
  <ion-item class="ion-text-wrap">
    <ion-col size="7" class="dato">
      Cantidad
    </ion-col>
    <ion-col size="5" class="ion-text-end dato">
      {{ SucursalQuiebre.TotalconStock }}
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-wrap">
    <ion-col size="7" class="dato">
      Valor Inventario
    </ion-col>
    <ion-col size="5" class="ion-text-end dato">
      {{ SucursalQuiebre.CostoTotalconStock | formatoMoneda }}
    </ion-col>
  </ion-item>
</ion-list>

  <ion-list>
    <ion-list-header class="item-title"> Productos Assortment </ion-list-header>
    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Cantidad / Quebrados
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.Assortment }} / {{ SucursalQuiebre.QuebradosAssortment }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Disponibilidad
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.DisponibilidadAssorment | number  }}%
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Valor Inv. Assortment
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.CostoAssortment  | formatoMoneda }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Assortment Sobre Inv.
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ getPorcentajeQuiebre( SucursalQuiebre.CostoAssortment , SucursalQuiebre.CostoTotalconStock, false) }}%
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Perdida Dia
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.PerdidaAssortment | formatoMoneda }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Perdida Acumulada
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.OcumuladoAssortment | formatoMoneda }}
      </ion-col>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="item-title"> Tipología Compañía Tipo 1-2</ion-list-header>
    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Cantidad / Quebrados
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.CiaTipo1y2 }} / {{ SucursalQuiebre.QuebradosCiaTipo1y2 }}
      </ion-col>
    </ion-item>
    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Disponibilidad
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.DisponibilidadCia | number  }}%
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Valor Inventario
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.CostoCiaTipo1y2 | formatoMoneda  }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Perdida Día
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.PerdidaCiaTipo1y2 | formatoMoneda }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
       Perdida Acumulada
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.OcumuladoCiaTipo1y2 | formatoMoneda }}
      </ion-col>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="item-title">Tipología Tienda Tipo 1-2</ion-list-header>
    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Cantidad / Quebrados
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.TiendaTipo1y2 }} / {{ SucursalQuiebre.QuebradosTiendaTipo1y2 }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Disponibilidad
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.DisponibilidadTienda  | number  }}%
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Perdida Día 
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.PerdidaTiendaTipo1y2  | currency:'CLP'  }}
      </ion-col>
    </ion-item>

    <ion-item class="ion-text-wrap">
      <ion-col size="7" class="dato">
        Perdida Acumulada
      </ion-col>
      <ion-col size="5" class="ion-text-end dato">
        {{ SucursalQuiebre.OcumuladoTiendaTipo1y2  | currency:'CLP'  }}
      </ion-col>
    </ion-item>
  </ion-list>
</div>
<!-- END Detalle sucursal -->

<!-- Lista de los productos quebrados por sucursal -->
<div *ngIf="SucursalQuiebre && showDetaProductos">
  <app-item-quiebre-view [sucursal]="SucursalQuiebre._id"></app-item-quiebre-view>
</div>

<div class="subirScroll" *ngIf="showDetaProductos">
  <ion-button fill="outline" (click)="showDetaProductos = false; _FiltrosQuiebresService.showFiltros = false" shape="round" size="small" color="primary">     
    <ion-icon name="return-left" style="font-size: 20px;" color="primary"></ion-icon>
  </ion-button>
</div>
<!-- End Lista de los productos quebrados por sucursal -->