<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Articulo</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="ion-justify-content-center">
      <div *ngIf="articulo.precio_escala" class="bannerPrecioEscala border" style="font-size: 15px !important; padding: 2px !important;"> Lleva + paga - </div>
      <img
        *ngIf="articulo.images[0]"
        [src]="articulo.images[0]['250']?  articulo.images[0]['250'][0] :  articulo.images[0]['150']? articulo.images[0]['150'][0] : './assets/img/place-150x150.png'"
        onError="this.src='./assets/img/place-150x150.png'" style="width: 200px"
      >

      <img
        *ngIf="!articulo.images[0]"
        [src]="articulo.images['250']?  articulo.images['250'][0] :  articulo.images['150']? articulo.images['150'][0] : './assets/img/place-150x150.png'"
        onError="this.src='./assets/img/place-150x150.png'" style="width: 200px"
      >
    </ion-row>

    <div class="ion-text-center">
      <ion-label class="datos ion-text-center">{{articulo.nombre}}</ion-label>
    </div>

    <ion-card-content>
      
      <ion-row class="ion-justify-content-center" *ngIf="!scanProducto">
        <ion-col size="7" class="ion-align-items-center">
          <ion-item class="ion-no-margin ion-no-padding" lines="none">
            
            <ion-button [disabled]="cantidad==1" (click)="cantidadArt(false)" style="font-size:18px" fill="clear">
              <ion-icon name="remove-circle" color="danger"></ion-icon>
            </ion-button>

            <ion-input class="ion-text-center" type="number" min="1" [(ngModel)]="cantidad" [value]="cantidad"
              (ionChange)=" cantidad = $event.target.value; getPrecioEscala()"></ion-input>

            <ion-button (click)="cantidadArt(true)" fill="clear" style="font-size:18px">
              <ion-icon name="add-circle" color="success"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-center " *ngIf="!clienteSeleccionado">
          <ion-badge color="danger">Seleccione cliente para Agregar al carro</ion-badge>
        </ion-col>
      </ion-row>
      <div *ngIf="!scanProducto">
        <ion-button [disabled]="!clienteSeleccionado" *ngIf="!boton" (click)="agregarCarro()" expand="block">Agregar carro</ion-button>
        <ion-button *ngIf="boton" (click)="agregarCarro()" expand="block">Actualizar carro</ion-button>
        <ion-button color="danger" *ngIf="boton" (click)="confirmarEliminacion(articulo)" expand="block">Eliminar articulo</ion-button>
      </div>
      <ion-item style="margin-top:3px;">
        <div>
          <ion-label class="encabezado">Precio meson neto</ion-label>

          <ion-label class="datos">
            {{articulo.precioComunNeto | formatoMoneda}}
          </ion-label>
        </div>
      </ion-item>

      <ion-item (click)="cambiarPrecio()">
        <ion-col size=6>
          <ion-label class="encabezado">Precio de venta neto</ion-label>

          <ion-label class="datos">
           <span [ngClass]="articulo.precio_escala && (precioEscala < articulo.precioNeto) ? 'precioAnterior' : ''"> 
             {{articulo.precioNeto | formatoMoneda}}  <br *ngIf="getPrecioLength( articulo.precioNeto , 1) >= 6">
            </span>
            <span *ngIf="articulo.precio_escala && precioEscala < articulo.precioNeto" class="precioEscalado">
              {{ precioEscala | formatoMoneda}} 
            </span>
          </ion-label>
        </ion-col>
        <ion-col size=6 *ngIf="!scanProducto && cantidad > 1">
          <ion-label class="encabezado"> SubTotal p. venta neto</ion-label>

          <ion-label class="datos">
           <span [ngClass]="articulo.precio_escala && (precioEscala < articulo.precioNeto) ? 'precioAnterior' : ''"> 
             {{ (articulo.precioNeto * cantidad) | formatoMoneda}}  <br *ngIf="getPrecioLength( articulo.precioNeto , cantidad) >= 6">
            </span>
            <span *ngIf="articulo.precio_escala && precioEscala < articulo.precioNeto" class="precioEscalado">
              {{ (precioEscala * cantidad) | formatoMoneda}} 
            </span>
          </ion-label>
        </ion-col>
      </ion-item>

      <ion-item style="margin-top:3px;" class="ion-text-wrap">
        <ion-col size="6">
          <ion-label class="encabezado">Precio de venta c/IVA</ion-label>

          <ion-label class="datos">
            <span [ngClass]="articulo.precio_escala && (precioEscala < articulo.precioNeto) ? 'precioAnterior' : ''" >
              {{ ( articulo.precioNeto | iVA : 'con' ) | formatoMoneda}} <br *ngIf="getPrecioLength( articulo.precioNeto , 1, 'iva') >= 6">
            </span>
            <span  *ngIf="articulo.precio_escala && precioEscala < articulo.precioNeto" class="precioEscalado">
              {{ ( precioEscala | iVA : 'con' ) | formatoMoneda}}
            </span>
          </ion-label>

        </ion-col>

        <ion-col size="6" *ngIf="!scanProducto && cantidad > 1">
          <ion-label class="encabezado">SubTotal p. venta c/IVA</ion-label>

          <ion-label class="datos">
            <span  [ngClass]="articulo.precio_escala && (precioEscala < articulo.precioNeto) ? 'precioAnterior' : ''" >
              {{ ( articulo.precioNeto | iVA : 'con' : cantidad) | formatoMoneda }} <br *ngIf="getPrecioLength( articulo.precioNeto , cantidad, 'iva') >= 6">
            </span>
            <span  *ngIf="articulo.precio_escala && precioEscala < articulo.precioNeto" class="precioEscalado" >
               {{ (precioEscala | iVA: 'con': cantidad ) | formatoMoneda }}
            </span>
          </ion-label>
        </ion-col>
    </ion-item>

      <ion-item *ngIf="articulo.precio_escala" class="ion-text-wrap" (click)="showPrecioEscala = !showPrecioEscala">
        <ion-label>
            <ion-row class="encabezado" *ngIf="!showPrecioEscala">
              <ion-col size="8">
                Revisar precios al por mayor    <ion-icon name="alert" color="warning" style="font-size: 14;"></ion-icon>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-icon name="ios-arrow-down" size="small"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="showPrecioEscala"> 
              <ion-col size="8" class=" encabezado" >
                Precios al por mayor
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-icon name="ios-arrow-up" size="small"></ion-icon>
              </ion-col>
            </ion-row>
            <div *ngIf="showPrecioEscala">
              <ion-row  *ngFor="let item of preciosEscala"> 
                <ion-col size="6"> <span class="encabezado"> Volumen: </span> <span class="datos"> {{ item.desde }} - {{ item.hasta }} </span> </ion-col>
                <ion-col size="6" class="ion-text-start"> 
                  <span class="encabezado"> Precio: </span> 
                  <span class="datos"> {{ ( item.precio | iVA : 'sin' ) | formatoMoneda }} </span>
                  <span style="font-size: 12px;"> neto </span> </ion-col>
                <ion-col size="12" class="encabezado" *ngIf="preciosEscala.length == 0"> No se ha encontrado información respecto al precio escala.</ion-col>
              </ion-row>
            </div>
        </ion-label>

    </ion-item>

      <ion-item>
        <div>
          <ion-label class="encabezado">Linea</ion-label>

          <ion-label class="datos">{{articulo.linea}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div>
          <ion-label class="encabezado">Stock</ion-label>

          <ion-label class="datos">{{articulo.stockorden}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div>
          <ion-label class="encabezado">SKU</ion-label>

          <ion-label class="datos">{{articulo.sku}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div>
          <ion-label class="encabezado">N° Parte</ion-label>

          <ion-label class="datos">{{articulo.numero_parte}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div>
          <ion-label class="encabezado">Marca</ion-label>

          <ion-label class="datos">{{articulo.marca}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div>
          <ion-label class="encabezado">Unidad Venta</ion-label>

          <ion-label class="datos">{{articulo.uen}}</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-text-wrap">
        <div>
          <ion-label class="encabezado">Descripción</ion-label>

          <ion-label class="datos ion-text-wrap">{{articulo.descripcion}}</ion-label>
        </div>
      </ion-item>

      <div class="ion-padding-top "></div>
      <ion-list>
        <ion-list-header class="datos" (click)="verStockTiendas = !verStockTiendas">
          <ion-label>
            Stock Tiendas
          </ion-label>
          <ion-icon name="arrow-down" mode="ios" style="margin-right:15px" *ngIf="!verStockTiendas"></ion-icon>
          <ion-icon name="arrow-up" mode="ios" style="margin-right:15px" *ngIf="verStockTiendas"></ion-icon>
        </ion-list-header>
        <div *ngIf="verStockTiendas">
          <ion-item *ngFor="let stock of stockTiendas" class="ion-padding-horizontal">

            <ion-label>{{stock.tienda | lowercase | titlecase }}</ion-label>
            <ion-badge color="light" mode="ios">{{stock.cantidad}}</ion-badge>
          </ion-item>
          
          <ion-item *ngIf="!stockTiendas" stlye="margin-right:4px;">
            <ion-label slot="start"> Cargando stock...  </ion-label> <ion-spinner name="lines" slot="end"></ion-spinner>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>