.card-content-md, .card-content-ios {
   
    -webkit-padding-start: 0px !important; 
    padding-inline-start: 0px !important; 
    -webkit-padding-end: 0px !important; 
    padding-inline-end: 0px !important; 

} 
ion-item {
    --ion-safe-area-right: 0 !important;
  }

  .precioAnterior{
    text-decoration: line-through;
    color: #b2b2b2;
  }

  .precioEscalado{
    color:red; 
  }