<ion-item detail="detail" (click)="abrirModal()" *ngIf="articulo && articulo.sku.length > 0">
  <ion-avatar slot="start">
    <div *ngIf="articulo.precio_escala border" class="bannerPrecioEscala"> Precio Escala </div>
    <img
      *ngIf="articulo.images[0]"
      [src]="articulo.images[0]['250']?  articulo.images[0]['250'][0] :  articulo.images[0]['150']? articulo.images[0]['150'][0] : './assets/img/place-150x150.png'"
      onError="this.src='./assets/img/place-150x150.png'"
      style="height: 50px;  width: 50px"
    >

    <img
      *ngIf="!articulo.images[0]"
      [src]="articulo.images['250']?  articulo.images['250'][0] :  articulo.images['150']? articulo.images['150'][0] : './assets/img/place-150x150.png'"
      onError="this.src='./assets/img/place-150x150.png'"
      style="height: 50px;  width: 50px"
    >
      
  </ion-avatar>

  <div>
    <ion-label style="font-weight: 800" class="encabezado" color="primary">{{ articulo.sku }}</ion-label>

    <p class="dato ion-text-lowercase">{{ articulo.nombre }}</p>

    <span class="encabezado">Stock: {{ articulo.stockorden }}</span><br>

    <span class="encabezado">{{ articulo.fabricante }}</span>
  </div>

  <div slot="end" style="width:32%">
    <ion-row class="ion-text-start ion-align-items-center" style="font-size: 11px;">P. Neto </ion-row>
    <ion-row *ngIf="articulo.precioComunNeto > articulo.precioNeto" style="text-decoration: line-through; margin-bottom:1px;" 
      class="ion-text-start fontPrice"
      [ngStyle]="{'color': articulo.precioComunNeto > articulo.precioNeto?  '#b2b2b2' : ''}"> 
      {{articulo.precioComunNeto | formatoMoneda}} 
    </ion-row> 
    <ion-row [ngStyle]="{'color': articulo.precioComunNeto > articulo.precioNeto ? 'red' : ''}" class="ion-text-start fontPrice"> 
      {{articulo.precioNeto | formatoMoneda}} 
    </ion-row>
  </div>
</ion-item>

