
<ion-list>
  <ion-item style="font-size: 14px">
    <ion-label class="ion-text-wrap"> <span style="font-weight:600;"> Mostrando: </span> {{ textoFiltros | lowercase }} </ion-label>
  </ion-item>
  <ion-item class="ion-text-wrap" *ngFor="let item of itemQuiebres" (click)="getDetallesHua(item.sku)">
    <ion-grid>
      <ion-row  class="detalle-productos ion-justify-content-center ion-hide-md-up">
        <ion-col size="6" class="ion-text-start">
          Precio: <span class="dato-quiebre"> {{ item.precio | currency:'CLP' }} </span>
        </ion-col>
        <ion-col size="6" class="ion-text-start">
          Perdida: <span class="dato-quiebre"> {{ item.perdidaCalculada | currency:'CLP' }} </span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="ion-text-center">
            <img [src]="item.img" onError="this.src='./assets/img/place-150x150.png'" style="height: 70px;" />
            <span class="dato-sku"> {{ item.sku }} </span>
        </ion-col>
        <ion-col size="8" class="detalle-productos">
          <ion-row class="ion-justify-content-start">
            <ion-col size="6" class="ion-text-start">
              V/Dia <span class="dato-quiebre"> {{ (item.avg + item.sd) |  number }} </span>
            </ion-col>
            <ion-col size="6">
              V/Sem: <span class="dato-quiebre"> {{ getSemanaVenta(item) }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-text-start">
              Min. <span class="dato-quiebre"> {{ item.minimo }} </span>
            </ion-col>
            <ion-col size="6"  class="ion-text-start" >
              Stock: <span class="dato-quiebre"> {{ item.cantidad }} </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-text-start"> 
              P/Rec:  <span class="dato-quiebre" > {{ item.pendienteRecepcion }} </span>
             </ion-col>
            <ion-col size="6" class="ion-text-start"> 
              Sem/V:  <span class="dato-quiebre" > {{ getSemanaVenta(item) }} </span> 
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
<div *ngIf="paginas < paginasTotal">
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando mas productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>



