.encabezado{
    font-weight: 500;
}

.dato-quiebre{
    font-weight: 700;
}

ion-select{
    max-width: 80% !important; 
}

.detalle-productos{
    font-size: 13px;
}

.dato-sku{
    font-size: 11px;
    font-weight: 600;
}


// TAMAÑO TABLET
@media (min-width:767px)  {
    .detalle-productos{
        font-size: 16px
    }
  }