
<ion-card *ngIf="detalleCliente">
    <app-header
    [titulo]="'Datos Comerciales'"
    [slides]="slides"
  ></app-header>
    
    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="cash"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Venta</ion-label>

          <ion-label class="datos">
            {{detalleCliente.creditoUtilizado |formatoMoneda}}
          </ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="card"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Credito</ion-label>

          <ion-label class="datos">
            {{detalleCliente.credito |formatoMoneda}}
          </ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="alarm"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Proxima Visita</ion-label>

        <!--   <ion-label class="datos">
            {{detalleCliente.fechaProximaVisita }}
          </ion-label> -->

          <ion-label >no registrada</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="calendar"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Ultima Visita</ion-label>

          <!-- <ion-label class="datos">
            {{detalleCliente.fechaUltimaVisita }}
          </ion-label> -->

          <ion-label >no registrada</ion-label>
        </div>
      </ion-item>

     <!--  <ion-slides
        
        pager="true"
        #accionesCliente
        (ionSlidesDidLoad)="slidesDidLoad(accionesCliente)"
      >
        <ion-slide *ngFor="let accion of acciones" class="height" >
          <div
          (click)="ejecutarSocialShare(accion)"
          >
          <ion-icon
          [name]="accion.icono"
          [color]="accion.color"
          class="icon"
        ></ion-icon>
        <ion-label color="dark">{{accion.funcion}}</ion-label>
        </div>
         
        </ion-slide>
      </ion-slides> -->
    </ion-card-content>
  </ion-card>