<ion-card>
  <ion-card-header>
    <ion-card-title>Ventas</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="detalle" class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Meta mes</ion-label>

            <ion-label class="datos">{{detalle.meta | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Meta acumulada</ion-label>

            <ion-label class="datos">{{detalle.metaAcumulada | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Meta día</ion-label>

            <ion-label class="datos">{{detalle.metaDia | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Venta cartera objetivo</ion-label>

            <ion-label class="datos">{{detalle.ventaCO | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Venta mes</ion-label>

            <ion-label class="datos">{{detalle.venta | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Venta acumulada</ion-label>

            <ion-label class="datos">{{detalle.ventaMetaAcumulada | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Venta día</ion-label>

            <ion-label class="datos">{{detalle.ventaDiaCO | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Venta cartera abierta</ion-label>

            <ion-label class="datos">{{detalle.ventaDiaCA | formatoMoneda}}</ion-label>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Visitas</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="detalle" class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Cobertura CarteraObjetivo</ion-label>

            <ion-label class="datos">{{detalle.clienteCO }}/{{detalle.totalCO }}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Cobertura Visita Día</ion-label>

            <ion-label class="datos">{{detalle.VisitasConfirmadas }}/{{detalle.clienteCODia }}</ion-label>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Cobertura Visita Mes</ion-label>

            <ion-label class="datos">{{detalle.VisitasConfirmadasMes }}/{{detalle.VisitasCreadasMes }}</ion-label>
          </div>
        </ion-item>
       
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Pedidos</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="detalle" class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Cotizaciones creadas</ion-label>

            <ion-label class="datos">{{detalle.CotizacionesCreadas}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Ticket Promedio</ion-label>

            <ion-label class="datos">{{detalle.detallesProm }}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Documentos</ion-label>

            <ion-label class="datos">{{detalle.documentos }}</ion-label>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Facturas Pendientes</ion-label>

            <ion-label class="datos">{{detalle.documentosSinFact}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Cantidad de SKU</ion-label>

            <ion-label class="datos">{{detalle.cantidadSKU}}</ion-label>
          </div>
        </ion-item>
        <ion-item class="ion-no-padding">
          <div>
            <ion-label class="encabezado">Documentos día</ion-label>

            <ion-label class="datos">{{detalle.documentosDia }}</ion-label>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>