<ion-header no-border="no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title slot="start" class="ion-no-padding">Clientes</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar
      #buscarCli
      class="white"
        placeholder="Ingresar rut o nombre"
        animated="animated"
        (ionChange)="buscar( $event )"
        (keyup.enter)="buscarCliente(buscarCli.value)"
        showCancelButton="always"
        (ionCancel)="cancelarBusqueda()"
        clear-icon
        mode="md"
      ></ion-searchbar>
      <ion-button fill="solid" mode="ios" color="primary" (click)="buscarCliente(buscarCli.value)"> Buscar  </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <app-lista-clientes
    [listaClientes]="listaClientes"
    [textoBuscar]="textoBuscar"
    [obtener]="obtener"
  ></app-lista-clientes>
</ion-content>