<ion-header>
  <ion-toolbar class="ion-text-center" color="danger">
    <ion-title style="font-weight: bold;">Registro productos dañados</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ========================================= -->
  <!-- DAÑADOS PARA GUIA TR - INI -->
  <!-- ========================================= -->
  <ng-container  *ngIf="documento.tipoDocumento === 'GUIA-TR'">
  <ion-label>
    <ion-card-subtitle class="ion-text-center" style="margin-top:0">
      <ion-badge color="medium">{{documento.documentoRaiz}}</ion-badge>
      <ion-badge class="cuadro" color="tertiary" outline>Guía: {{documento.documentoNro}}</ion-badge><br/>
      <ion-text color="danger" style="font-weight:bold;">
        ORIGEN: {{documento.dataTR.almacen_envia}}
      </ion-text> 
    </ion-card-subtitle>
    </ion-label>
  <ion-list>

    <ion-item> 
    <ion-label fixed class="fixedLabel ion-text-wrap ion-text-center" style="margin-top:-5px;" >
      
        <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;font-size:1rem;">{{producto.item}}</ion-badge> 
      
        <p class="item-nombre ion-text-wrap" style="color:#333;font-size:1rem;">
          {{ producto.nombre_item }}
        </p>

        </ion-label>
      </ion-item> 
  </ion-list>


  <ion-label>Indique la cantidad de artículos que se están recibiendo, y cuántos de ellos se declaran dañados:</ion-label>
  <ion-list style="margin-top:-3px;padding-top:0px;">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-label style="font-weight:bold;">Recibiendo:</ion-label>
              <ion-input type="number" min="0" step="1" class="inp-cantidad" [(ngModel)]="cantidadTemporal" style="margin:0 auto"></ion-input> [{{ producto.unitid }}]

          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-label style="font-weight:bold;" color="danger">Dañados:</ion-label>
            <ion-input type="number" min="0" step="1" class="inp-cantidad" [(ngModel)]="deterioroTemporal"  style="margin:0 auto"></ion-input> [{{ producto.unitid }}]
          </ion-col>
        </ion-row>
      </ion-grid>     
      <ion-list>
        <ion-item style="margin-top:-3px;padding-top:0px;">                
          <ion-label  class="titulo_campo" style="font-weight:bold"> Nro OT:</ion-label>
          <ion-input class="ion-text-right input_patente" [(ngModel)]="ordenTransporteTemporal" ></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item style="margin-top:-3px;padding-top:0px;">
          <ion-label style="font-weight:bold">Origen daño:</ion-label>
          <ion-select interface="popover" [(ngModel)]="tipoDeterioroTemporal" >
            <ion-select-option value="TRANSPORTE">Transporte</ion-select-option>
            <ion-select-option value="ORIGEN">Bodega Origen</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>  
      <ion-list>
        <ion-item style="margin-top:-3px;padding-top:0px;">                
          <ion-label  class="titulo_campo" style="font-weight:bold"> Detalle:</ion-label>
          <ion-textarea  [(ngModel)]="descripcionTemporal"></ion-textarea>
        </ion-item>
      </ion-list>
    <!--################################################################-->
    <!--  Seccion fotos -->
    <!--##################################################################-->  
    <ion-item lines="none">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" style="text-align: center;">
            Agregue evidencia:
          </ion-col>
          <ion-col size="6" >
            <ion-button (click)="camara()" expand="full" color="success"> 
              Fotos
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg>
          </ion-button>
          </ion-col>
          <ion-col size="6" >
            <ion-button (click)="libreria()" expand="full" color="secondary">
              Galería
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg>
          </ion-button>
          </ion-col>
        </ion-row>      
        <!--input / quitar-->  
<!--         <ion-row>
          <ion-col size="12">
            <ion-input type="file" placeholder="Awesome Input"></ion-input>
            <input type="file">
          </ion-col>
        </ion-row> -->
        <!--input / quitar-->  
        <ion-row>
          <ion-col size="3" *ngFor="let img of tempImages; let i = index" >
            <ion-card>
              <img [src]="img.image" (click)="mostrarImagen(img,i)">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>
  </ion-list>

</ng-container>
  <!-- ========================================= -->
  <!-- DAÑADOS PARA GUIA TR - FIN -->
  <!-- ======================================== -->
  <!-- ========================================= -->
  <!-- DAÑADOS PARA OC - INI -->
  <!-- ========================================= -->
  <ng-container  *ngIf="documento.tipoDocumento === 'OC'">
    <ion-label>
      <ion-card-subtitle class="ion-text-center" style="margin-top:0">
        <ion-text color="tertiary" style="font-weight:bold;">
          {{documento.nombre_proveedor}}
       </ion-text> <br/>
        <ion-badge class="cuadro" color="tertiary" outline>Orden de Compra: {{documento.documentoNro}}</ion-badge>
        
      </ion-card-subtitle>
      </ion-label>
    <ion-list>

      <ion-item> 
      <ion-label fixed class="fixedLabel ion-text-wrap ion-text-center" style="margin-top:0;" >
        
          <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;font-size:1rem;">{{producto.item}}</ion-badge> 
        
          <p class="item-nombre ion-text-wrap" style="color:#333;font-size:1rem;">
            {{ producto.nombre_item }}
          </p>

          </ion-label>
        </ion-item> 
    </ion-list>


    <ion-label>Indique la cantidad de artículos que se están recibiendo, y cuántos de ellos se declaran dañados</ion-label>
    <ion-list style="margin-bottom:30px;">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6" class="ion-text-center">
              <ion-label style="font-weight:bold;">Recibiendo:</ion-label>
                <ion-input type="number" min="0" step="1" class="inp-cantidad" [(ngModel)]="cantidadTemporal" style="margin:0 auto"></ion-input> [{{ producto.unitid_compra }}]

            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-label style="font-weight:bold;" color="danger">Dañados:</ion-label>
              <ion-input type="number" min="0" step="1" class="inp-cantidad" [(ngModel)]="deterioroTemporal"  style="margin:0 auto"></ion-input> [{{ producto.unitid_compra }}]
            </ion-col>
          </ion-row>
        </ion-grid>      

        <!--################################################################-->
        <!--  Seccion fotos -->
        <!--##################################################################-->
        <ion-item >
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                Agregue evidencia:
              </ion-col>
              <ion-col size="6" >
                <ion-button (click)="camara()" expand="full" color="success">
                  Fotos
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>
              </ion-button>
              </ion-col>
              <ion-col size="6" >
                <ion-button (click)="libreria()" expand="full" color="secondary">
                  Galería
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>
              </ion-button>
              </ion-col>
              <!--input / quitar-->  
<!--               <ion-row>
                <ion-col size="12">
                  <ion-input type="file" placeholder="Awesome Input"></ion-input>
                  <input type="file">
                </ion-col>
              </ion-row> -->
              <!--input / quitar-->  
              <ion-row>
                <ion-col size="3" *ngFor="let img of tempImages; let i = index" >
                  <ion-card>
                    <img [src]="img.image" (click)="mostrarImagen(img, i)">
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-row>
          </ion-grid>
          
        </ion-item>
    </ion-list>

  </ng-container>
  <!-- ========================================= -->
  <!-- DAÑADOS PARA OC - FIN -->
  <!-- ========================================= -->


</ion-content>
<ion-footer>
  <ion-button  (click)="aceptar()" color="primary" expand="full">Aceptar</ion-button>
  <ion-button  (click)="cancelar()" color="danger" expand="full">Cancelar</ion-button>
</ion-footer>