ion-select{
    max-width: 70% !important; 
}

.clicImg{
    font-size: 13px;
    font-weight: 600;
    margin-left:15px;
    padding-bottom: 0px;
}

@media (orientation: landscape) {
    .img-scan{
        width: 200px;;
    }
    .clicImg{
        font-size: 13px;
        font-weight: 600;
        margin-left:15px;
        padding-bottom: 0px;
    }
} 
