<ion-header no-border="no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title slot="start" class="ion-no-padding"> Detalle SKU </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="cerrarSesion()">
        <ion-icon color="light" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-grid style="padding:0px">
          <ion-row class="ion-justify-content-center" style="padding:0px">
            <ion-col size="12" class="ion-text-center">
              <ion-label class="clicImg"> Clic en la imagen para escanear </ion-label>
            </ion-col>
            <img *ngIf="!platform.is('ios')" src="assets/logos/scanLogo.png" height="200px" alt="your image" (click)="scanProduct()" class="img-scan">
            <img *ngIf="platform.is('ios')" src="assets/logos/scanIOS.png" height="200px" alt="your image" (click)="scanProduct()" class="img-scan"> 
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-buttons>
          <ion-searchbar mode="md" class="white" placeholder="Ingresar SKU" animated="animated" #searchHua (keyup.enter)="busquedaHuaSKU = searchHua.value;  ShowProductDetail(searchHua.value)" [(ngModel)]="busquedaHuaSKU">
          </ion-searchbar>
          <ion-button slot="end" fill="solid" color="primary" (click)="ShowProductDetail(searchHua.value)">
            <ion-icon name="search" mode="md"></ion-icon>
          </ion-button>
        </ion-buttons>
    
        <ion-item>
          <ion-label style="font-weight: 600;"> Sucursal </ion-label>
          <ion-select [(value)]="codSucursal" 
            placeholder="Seleccionar Sucursal" 
            cancelText="Cancelar" 
            #selecSucursal 
            mode="ios"
            (ionChange)="codSucursal = selecSucursal.value; saveSelectedSucursal(selecSucursal.value)" >
            <ion-select-option *ngFor="let sucursal of _estadoTiendaService.selectSucurales" [value]="sucursal.codigo"> {{ sucursal.nombre | lowercase | titlecase }} </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label style="font-weight: 600;"> Tipo de Detalle </ion-label>
          <ion-select [(value)]="tipoBusqueda" placeholder="Seleccionar tipo" cancelText="Cancelar" #selectTipo interface="popover" mode="ios" (ionChange)="tipoBusqueda = selectTipo.value" >
            <ion-select-option value="Tienda"> Estado Prod. </ion-select-option>
            <ion-select-option value="Ficha"> Ficha Prod. </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
