ion-title{
    font-size: 15px;
    font-weight: 600;
}
.rojo{
    background-color: rgb(204, 0, 0) !important;
}
.verde{
    background-color: #008210 !important;
}

.amarillo{
    background-color: #ff8d00 !important;
}

.selectedItem{
    background-color: red;
}

ion-col{
    padding: 3px;
}