<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      OV - {{nombreCliente}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="retornarOVs()">
        <ion-icon name="share-alt" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="listaPedidos && listaPedidos.length > 0 && cargado">
    <ion-item *ngFor="let pedido of listaPedidos" (click)="pedido.selected = !pedido.selected" [color]="pedido.selected? 'medium' : ''">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-align-items-center">
            <ion-label class="datos">Estado</ion-label> 
          </ion-col>
          <ion-col size='5'>
            <ion-badge  
            [class.rojo]="pedido.estado =='CANCELADO'"
            [class.verde]="pedido.estado =='FACTURADO'"
            [class.amarillo]="pedido.estado =='ENVIADO' || pedido.estado =='CONFIRMADO'">{{pedido.estado | titlecase }}</ion-badge>
          </ion-col>
          <ion-col size='1'>
            <ion-icon name='checkmark' color='success' *ngIf="pedido.selected" style="font-size: 20px;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-align-items-center">
            <ion-label class="datos">Folio</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-align-items-center">
            {{pedido.folio}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-align-items-center">
            <ion-label class="datos">Monto</ion-label>
          </ion-col>
          <ion-col size="6">
            {{pedido.Venta | currency:'CL' : 'symbol' : '1.0-0' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-align-items-center">
            <ion-label class="datos">Fecha</ion-label>
          </ion-col>
          <ion-col size="6">
            {{pedido.fecha }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="listaPedidos && listaPedidos.length === 0 && cargado">
    <ion-item>
      <ion-label class="datos">
        No se han encontrado OV para este cliente.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>