
<ion-list *ngIf="oportunidades">
  <ion-item *ngFor="let oportunidad of oportunidades">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <app-oportunidad-item [oportunidad]="oportunidad" (finalizarEmitter)="reloadOportunidades()" [conceptosCierre]="conceptosCierre"></app-oportunidad-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>