<ion-header>
  <ion-toolbar>
    <ion-title>Tarea</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon
          name="close"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="tareaForm"
        (ngSubmit)="logForm()"
        class="ion-margin"
      >
        <ion-item class="input-container">
          <ion-select
            formControlName="asignar"
            placeholder="Asignar a..."
          >
            <ion-select-option position="floating" *ngFor="let user of users">
              {{user.first + ' ' + user.last}}
            </ion-select-option>
          </ion-select>

          <ion-icon
            slot="end"
            name="person"
            color="primary"
          ></ion-icon>
        </ion-item>

        <ion-item>
          <ion-icon
            slot="end"
            name="calendar"
            color="primary"
          ></ion-icon>

          <ion-datetime
            placeholder="seleccione fecha"
            cancelText="cancelar"
            doneText="aceptar"
            formControlName="fecha"
            displayFormat="D MMM YYYY H:mm"
            min="2019"
            max="2020"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-textarea
            formControlName="observacion"
            placeholder="Ingrese comentario"
          ></ion-textarea>
        </ion-item>

        <div class="ion-padding-top">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!tareaForm.valid"
          >
            Guardar

            <ion-icon name="save"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>