<ion-header>
  <ion-toolbar>
    <ion-title>Re Agendar</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon
          name="close"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="reAgendarForm"
        (ngSubmit)="logForm()"
        class="ion-margin"
      >
        <ion-item>
          <ion-icon
            slot="end"
            name="calendar"
            color="primary"
          ></ion-icon>

          <ion-datetime
            cancelText="cancelar"
            doneText="aceptar"
            formControlName="fecha"
            displayFormat="D MMM YYYY H:mm"
            min="2019"
            max="2020"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-textarea
            formControlName="comentario"
            placeholder="Ingrese comentario"
          ></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-icon slot="end" name="mic" color="primary"></ion-icon>
            <ion-label>Grabar nota</ion-label>
          </ion-item>
        <div class="ion-padding-top">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!reAgendarForm.valid"
          >
            Guardar

            <ion-icon name="save"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>