<ion-card  mode="md">
  <ion-card-content  mode="md">
      <div *ngIf="listado.length > 0">
        <ion-list *ngFor="let zona of listado" (click)="enviarObjeto({'zona':zona,'index':index,'slides':slidesCombos})">
            <ion-item lines="none">
                <ion-avatar>
                    <img src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{zona.rutVendedor}}.jpg?alt=media"
                        onError="this.src='./assets/svg/manager.svg'">
                </ion-avatar>
                <ion-label class="datos" class="ion-margin-start" *ngIf="!zona.nombreVendedor">
                    <p class="datos ">{{titulo}} {{zona.titulo | lowercase | titlecase}}</p>
                </ion-label>
                <ion-label class="datos" class="ion-margin-start" *ngIf="zona.nombreVendedor">
                  <p class="datos ">{{ zona.nombreVendedor }}</p>
              </ion-label>
  
            </ion-item>
            <ion-grid fixed class="borde">
                <ion-row>
                    <ion-col size="6">
                        <ion-item lines="none">
                            <!--    <app-icon slot="end" [name]="'board'" size="30"></app-icon> -->
                            <div *ngIf="!zona.nombreVendedor">
                                <ion-label class="encabezado">C. Recomendados</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                    {{zona.CantidadRecomendadosSuma}}</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Diario'">{{zona.CantidadRecomendadosDiaSuma}}
                                </ion-label>
                            </div>
                            <div *ngIf="zona.nombreVendedor">
                              <ion-label class="encabezado">C. Recomendados</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                  {{zona.CantidadRecomendados}}</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Diario'">{{zona.CantidadRecomendadosDia}}
                              </ion-label>
                          </div>
                        </ion-item>
                        <ion-item lines="none">
                            <!--  <app-icon slot="end" [name]="'bank'" size="30"></app-icon> -->
                            <div *ngIf="!zona.nombreVendedor">
                                <ion-label class="encabezado">C. Relacionados</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                    {{zona.CantidadRelacionadosSuma}}</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Diario'">{{zona.CantidadRelacionadosDiaSuma}}
                                </ion-label>
                            </div>
                            <div *ngIf="zona.nombreVendedor">
                              <ion-label class="encabezado">C. Relacionados</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                  {{zona.CantidadRelacionados}}</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Diario'">{{zona.CantidadRelacionadosDia}}
                              </ion-label>
                          </div>
                        </ion-item>
  
                    </ion-col>
                    <ion-col size="6">
                        <ion-item lines="none">
                            <div *ngIf="!zona.nombreVendedor">
                                <ion-label class="encabezado">Venta Recomendados</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                    ${{zona.VentaRecomendadosSuma /1000000| number:'1.0-1'}}M</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Diario'">
                                    ${{zona.VentaRecomendadosDiaSuma /1000000| number:'1.0-1'}}M
                                </ion-label>
                            </div>
                            <div *ngIf="zona.nombreVendedor">
                              <ion-label class="encabezado">Venta Recomendados</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                  ${{zona.VentaRecomendados /1000000| number:'1.0-1'}}M</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Diario'">
                                  ${{zona.VentaRecomendadosDia /1000000| number:'1.0-1'}}M
                              </ion-label>
                          </div>
                            <!--  <app-icon slot="end" [name]="'money'" size="30"></app-icon> -->
                        </ion-item>
  
                        <ion-item lines="none">
                            <div *ngIf="!zona.nombreVendedor">
                                <ion-label class="encabezado">Venta Relacionados</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                    ${{zona.VentaRelacionadosSuma /1000000| number:'1.0-0'}}M</ion-label>
                                <ion-label class="datos" *ngIf="filtro==='Diario'">
                                    ${{zona.VentaRelacionadosDiaSuma /1000000| number:'1.0-0'}}M
                                </ion-label>
                            </div>
                            <div *ngIf="zona.nombreVendedor">
                              <ion-label class="encabezado">Venta Relacionados</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Mensual'">
                                  ${{zona.VentaRelacionados /1000000| number:'1.0-0'}}M</ion-label>
                              <ion-label class="datos" *ngIf="filtro==='Diario'">
                                  ${{zona.VentaRelacionadosDia /1000000| number:'1.0-0'}}M
                              </ion-label>
                          </div>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
      </div>
      <div *ngIf="listado.length === 0">
          <ion-list>
              <ion-item>
                  <ion-label> Actualmente no hay datos registrados.. </ion-label>
              </ion-item>
          </ion-list>
      </div>
  </ion-card-content>
</ion-card>
