<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Congratulation!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      You get price from our sponsor:
      <h2>{{price}}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>