
.card-content-md, .card-content-ios {
   
    -webkit-padding-start: 0px !important; 
    padding-inline-start: 0px !important; 


} 
ion-item {
    --ion-safe-area-right: 0 !important;
  }
.red{
    color:var( --ion-color-danger )
}


.oportunidadesDiv{
    position: absolute;
    top: 0px;
}

ion-avatar[title]::after {
    position: relative;
    content: attr(title);
    z-index: 1000;
    left:25px !important;
    bottom: 120% !important;
    background-color: var( --ion-color-danger);
    padding: 4px;
    border-radius: 50%;
    font-family: Arial;
    color: white;
    width:16px;
    height: 16px;
    font-size: 11px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

/* ion-card-content{
    padding: 10px !important
}
.titulo{
    font-weight: 700;
    font-size: smaller;
}
 p{
    color: #757575 !important;
    font-size: 10px !important;
    margin: 0px !important;
}
ion-col ion-item ion-icon{
    font-size: 15px !important;
    color: #757575 !important;

}
ion-col ion-item ion-label{
    font-size: 13px !important;
    color: #757575 !important;
    margin: 0px !important;
}
ion-icon{
    color: #757575 !important;

}
div{
    margin-top: 8px;

} */