<!-- <div> <ion-icon name="business" style="font-size: 32px !important ;color: #757575 !important;"></ion-icon></div> -->

<ion-card>
    <div class="ion-text-center">
        <ion-spinner
          name="dots"
          *ngIf="obtener"
        ></ion-spinner>
      </div>
  <ion-card-content *ngIf="listaClientes">
    <ion-item
      detail="detail"
      *ngFor="let cliente of listaClientes | filtro: textoBuscar: 'nombre' :'rut'"
      (click)="verDertalleCliente(cliente)"
    >
      <ion-avatar slot="start" [title]="cliente.oportunidades? cliente.oportunidades : 0"> 
        <ion-icon
          src="./assets/svg/manager.svg"
          style="margin-right: 20px !important; font-size: xx-large;"
        ></ion-icon>
      </ion-avatar>

      <div>
        <ion-label
          style="font-weight: 800"
          class="encabezado"
          color="primary"
          [ngClass]="{'red': cliente.estado!='NO'}"
        >
          {{cliente.nombre | slice:0:30}}
        </ion-label>

        <p class="dato ion-text-lowercase">{{cliente.direccionDefault}}</p>
        
        <span
          class="encabezado"
          style="margin-right: 15px; width: 74px !important"
        >
          <ion-icon src="./assets/svg/dinero.svg"></ion-icon>
          ${{ cliente.creditoUtilizado | montoAbreviado }}
        </span>

        <span
          class="encabezado"
          style="margin-right: 15px; width: 74px !important"
        >
          <ion-icon src="./assets/svg/credito.svg"></ion-icon>
          ${{ cliente.credito | montoAbreviado }}
        </span>
        
        <span
          class="encabezado"
          style="margin-right: 15px; width: 74px !important"
        >
          <ion-icon src="./assets/svg/marcador-de-posicion.svg"></ion-icon>
          {{cliente.distancia | formatoKm }}
        </span> 
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>

<div style="margin-bottom: 50%"></div>