

<ion-card>
    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="key"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Rut</ion-label>

          <ion-label class="datos">{{detalleCliente.rut}}</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="person"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Nombre</ion-label>

          <ion-label class="datos">{{detalleCliente.nombre}}</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding" >
        <ion-icon
          (click)="ejecutarFuncion('Llamar')"
          color="primary"
          name="call"
          slot="end"
        ></ion-icon>
        <ion-icon
        (click)="ejecutarFuncion('Whatsapp')"
        color="success"
        name="logo-whatsapp"
        slot="end"
      ></ion-icon>
        <div>
          <ion-label class="encabezado">Teléfono</ion-label>

          <ion-label
            class="datos"
            *ngIf="detalleCliente && detalleCliente.telefonos && detalleCliente.telefonos.length>0"
          >{{detalleCliente.telefonos[0].telefono}}</ion-label>

          <ion-label
            class="encabezado"
            *ngIf="detalleCliente && detalleCliente.telefonos && detalleCliente.telefonos.length==0"
          >no registrado</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding" (click)="ejecutarFuncion('Correo')">
        <ion-icon
          color="primary"
          name="mail"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Correo</ion-label>

          <ion-label
            *ngIf="detalleCliente && detalleCliente.correos && detalleCliente.correos.length>0"
            color="primary"
            class="datos"
          >{{detalleCliente.correos[0].correo}}</ion-label>

          <ion-label
            class="encabezado"
            *ngIf="detalleCliente && detalleCliente.correos && detalleCliente.correos.length==0"
          >no registrado</ion-label>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" routerLink="/tabs/calendario">
        <ion-icon
          color="primary"
          name="calendar"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Agenda</ion-label>

          <ion-label class="datos">Agendar visita</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding" routerLink="/propuesta">
        <ion-icon
          color="primary"
          name="appstore"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Propuesta</ion-label>

          <ion-label class="datos">Crear Propuesta</ion-label>
        </div>
      </ion-item>

      <ion-button
        (click)="checkIn()"  
        expand="block"
        color="success"
        style="margin-top:11px;"
      >
        Ir a Check-in
      </ion-button>
      <div class="derecha">
        <ion-label class="tituloD">Direccion</ion-label>
      </div>

      <div class="direccion" (click)="abrirNavegacion()" *ngIf="detalleCliente && detalleCliente.direcciones && detalleCliente.direcciones.length>0">
        <ion-row>
          <ion-col size="6">
            <p
              class="direccionP"
              color="dark"
            >
              {{detalleCliente.direcciones[0].direccionCompleta}}
<!--               {{ detalleCliente.direcciones[0]}} -->
            </p>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
      <app-header
      [titulo]="'Contactos'"
      [slides]="slides"
    ></app-header>
    
    <ion-card>
      <ion-item>
        <ion-icon
          name="person"
          slot="end"
          color="primary"
        ></ion-icon>
    
        <ion-label>{{detalleCliente.contactos[0].nombre}}</ion-label>
      </ion-item>
    
      <ion-item (click)="ejecutarFuncion('Llamar')"   *ngIf="detalleCliente && detalleCliente.telefonos && detalleCliente.telefonos.length>0">
        <ion-icon
          name="call"
          slot="end"
          color="primary"
        ></ion-icon>
    
        <ion-label>{{detalleCliente.contactos[0].telefono}}</ion-label>
      </ion-item>
    
      <ion-item (click)="ejecutarFuncion('Correo')" *ngIf="detalleCliente && detalleCliente.contactos && detalleCliente.contactos.length>0">
        <ion-icon
          name="mail"
          slot="end"
          color="primary"
        ></ion-icon>
    
        <ion-label>{{detalleCliente.contactos[0].correo}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-card>