.direccion{
    height: 140px;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)85%), url(../../../../../assets/img/mapaP.jpg);
}
.direccionP{
    text-align: justify;
}
.tituloD{
    margin-top: 5px;
    font-size: initial;
    color: black;
}
