<ion-card>
  <ion-searchbar #busquedaDocumento class="white" placeholder="Buscar co-ov-oc" animated="animated" mode="md"
         [(ngModel)]="busqueda" (ionChange)="busqueda = busquedaDocumento.value; buscar()">
  </ion-searchbar>
  <ion-spinner
        name="dots"
        *ngIf="obtener"
      ></ion-spinner>
  <ion-item *ngFor="let pedido of listadoPedido" (click)="abrirModal(pedido)">
    <ion-grid>
      <ion-row>
        <ion-col size="6" >
          <ion-row>
            <ion-col size="12" class="ion-justify-content-center">
              <!-- <ion-label>
                {{pedido.folio |slice:0:9}}
              </ion-label> -->
              <div>
                <ion-label
                  class="encabezado"
                  color="primary"
                >{{pedido.folio }}</ion-label>

                <ion-label
                  *ngIf="pedido.ordenC"
                  class="encabezado"
                  style="padding-top:3px; font-size: 12px !important;"
                  color="primary"
                >{{pedido.ordenC }}
                </ion-label>
                <p style="font-weight: 700;"> Neto: {{pedido.Venta | formatoMoneda}}</p>
              </div>
            </ion-col>

            <!-- <ion-col size="12" class="ion-justify-content-center">
              <ion-label>{{pedido.folio |slice:0:9}}</ion-label>
            </ion-col> -->
          </ion-row>
        </ion-col>

        <ion-col size="6">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-start">
              <ion-badge  
              [class.rojo]="pedido.estado =='CANCELADO'"
              [class.verde]="pedido.estado =='FACTURADO'"
              [class.amarillo]="pedido.estado =='ENVIADO' || pedido.estado =='CONFIRMADO'"
              >{{pedido.estado}}</ion-badge>
            </ion-col>

            <ion-col size="12" class="ion-text-start">
              <ion-label>{{pedido.fecha |slice:0:10}}</ion-label>
              <ion-label>{{pedido.fecha |slice:11:19}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card>