ion-toolbar{
    --background:white !important;
    color: black;
}
.rojo{
    background-color: rgb(204, 0, 0) !important;
}
.verde{
    background-color: #008210 !important;
}

.amarillo{
    background-color: #ff8d00 !important;
}

ion-searchbar{
    transform: scale(0.9); 
}