<ion-content
  color="primary"
  class="ion-padding"
>
  <ion-row class="ion-justify-content-center">
    <ion-thumbnail>
      <ion-img src="./assets/logos/cropped-Logo-Imple-192x192.png"></ion-img>
    </ion-thumbnail>

    <ion-col
      size="12"
      class="ion-justify-content-center"
    >
      <form
        [formGroup]="loginForm"
        (ngSubmit)="logForm()"
        class="ion-margin"
      >
        <div class="ion-text-center">
          <ion-label>Usuario</ion-label>
        </div>

        <ion-item
          class="input"
          no-line="no-line"
        >
          <ion-icon
            name="person"
            slot="end"
          ></ion-icon>

          <ion-input
            placeholder="usuario"
            class="input"
            type="text"
            autocapitalize="off"
            formControlName="usuario"
          ></ion-input>
        </ion-item>

        <div class="ion-text-center">
          <ion-label>Contraseña</ion-label>
        </div>

        <ion-item
          class="input"
          no-line="no-line"
        >
          <ion-icon
            name="key"
            slot="end"
          ></ion-icon>

          <ion-input
            placeholder="************"
            class="input"
            type="password"
            formControlName="contrasenia"
          ></ion-input>
        </ion-item>

        <div class="ion-padding-top">
          <ion-button
            expand="block"
            color="light"
            type="submit"
            [disabled]="!loginForm.valid || !authService.checkVersion?.valid"
          >Iniciar Sesión</ion-button>
        </div>
      </form>
      <div class="ion-text-center">
        <ion-label >v1.12.0</ion-label>
      </div>
     
    </ion-col>
  </ion-row>
  <ion-row *ngIf="authService.checkVersion && !authService.checkVersion?.error && !authService.checkVersion?.valid"  class="ion-justify-content-center">
    <ion-col size="10">
      <ion-card color="warning">
        <ion-card-header>
          <ion-card-title class="ion-text-center"> Actualización Requerida</ion-card-title>
        </ion-card-header>
  
        <ion-card-content class="ion-text-center ion-text-justify">
          <div *ngIf="platform.is('android')">
            Para continuar, es necesario actualizar a la última versión de la aplicación. <br>
            <b>Haga click en el siguiente botón:</b>
            <ion-row class="ion-justify-content-center ion-padding-top"> <a href="https://play.google.com/store/apps/details?id=cl.implementos.appventas&hl=es" style="text-decoration:none; color: white;"> <img src="../../../../assets/logos/logo_googleplay.png" style="width:150px"> </a> </ion-row>
          </div>
          <div *ngIf="platform.is('ios')">
            Para continuar, es necesario actualizar a la última versión de la aplicación. <br>
            Favor, actualizar a la nueva versión.
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="authService.checkVersion && authService.checkVersion?.error" class="ion-justify-content-center">
    <ion-card color="warning">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center"> No ha sido posible verificar versión</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center ion-text-justify">
       <ion-button fill="outline" (click)="authService.isValidVersion()">
         Intentar Nuevamente.
       </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>