.card-content-md{
    padding-inline-end: 3px !important;
    padding-inline-start: 7px !important;
}

ion-item{
    padding-top: 3px;
}

ion-col{
    padding: 3px 0px 1px 3px;
    font-size: 14px;
}

ion-select{
    max-width: 100% !important; 
}

ion-button{
    height: 40px !important;
}