<ion-card mode="md" *ngIf="!selectedDocument">
  <ion-card-content mode="md">
    <ion-list>
      <ion-item *ngFor="let documento of misDocumentos" (click)="setSelectedDocument(documento)">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-icon name="document" color="primary"></ion-icon> {{documento.strTipoDoc}} {{documento.strFolioDoc}}
            </ion-col>
            <ion-col size="4" class="ion-text-start">
              <ion-icon name="car" color="primary"></ion-icon> {{documento.strNombreEstado}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="ion-text-nowrap" style="white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;">
              <ion-icon name="person" color="primary"></ion-icon> {{documento.strNombreCliente | titlecase }}
            </ion-col>
            <ion-col size="4" color="success" class="ion-text-start">
              <ion-icon name="calendar" color="primary"></ion-icon> {{documento.dtFechaEstado | date : "d/MM/yy" }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="misDocumentos?.length < 1 && docCargados" class="datos">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-center">No hay documentos ha mostrar.</ion-col>
            <ion-col size="12" class="ion-text-center"><ion-icon name="document" style="font-size: 60px;" color="primary"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="misDocumentos?.length < 1 && !docCargados">
        <ion-label slot="start">Cargando...</ion-label>
        <ion-spinner slot="end" color="primary"></ion-spinner>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<div *ngIf="selectedDocument">
  <app-detalle-documento [documento]="selectedDocument" *ngIf="!gettingImg"></app-detalle-documento>
  <app-upload-img (imageEventEmitter)='setImage($event)' *ngIf="gettingImg"></app-upload-img>
  <ion-card mode="md">
    <ion-card-content mode="md">
      <ion-list *ngIf="(finalizandoRuta && tipoEntregaId  === 5 || tipoEntregaId  === 6) && selectedDocument?.intEstadoDocumento < 4">
        <ion-item> 
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-label class="datos"> Seleccione Motivo </ion-label>
                <ion-select
                  placeholder="Seleccionar Motivo" 
                  cancelText="Limpiar"
                  interface="action-sheet"
                  #selectMotivo
                  mode="ios"
                  (ionCancel)="selectMotivo.value = ''"
                  (ionChange)="setMotivosResultadoEntrega(selectMotivo.value)">
                  <ion-select-option [value]="motivo.intCodMotivo" *ngFor="let motivo of MotivosAusar"> {{ motivo.strNombreMotivo | titlecase }} </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="datos">
                Observación
              </ion-col>
              <ion-col size="12">
                <ion-input type="text" #observacion placeholder="Observacion" (ionChange)="setObservacion(observacion.value)" style="--padding-start: 14px" mode="md"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row class="ion-justify-content-center" *ngIf="selectedDocument && selectedDocument.intEstadoDocumento < 4 && !gettingImg && !respaldando">
          <ion-col size="10">
            <ion-row>
              <ion-col size="6">
                <ion-button color="danger" mode="md" expand="full" shape="round" (click)="backtoMisDocumentos()" *ngIf="!finalizandoRuta">
                  Volver<br>
                </ion-button>
                <ion-button color="danger" mode="md" expand="full" shape="round" (click)="cancelFinalizarRuta()" *ngIf="finalizandoRuta">
                  Cancelar<br>
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button color="primary" mode="md" expand="full" shape="round" *ngIf="selectedDocument.intEstadoDocumento === 2" (click)="confirmarSalida()">
                  Confirmar <br> Salida
                </ion-button>
                <ion-button color="primary" mode="md" expand="full" shape="round" shape="round" *ngIf="selectedDocument.intEstadoDocumento === 3 && !finalizandoRuta" (click)="presentAlertConfirmarEntrega()">
                  Finalizar <br> Ruta
                </ion-button>
                <ion-button color="primary" mode="md" expand="full" shape="round" *ngIf="selectedDocument.intEstadoDocumento === 3 && finalizandoRuta" (click)="guardarEntregado()" 
                  [disabled]="!valListoParaGuardar()">
                  Guardar <br>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="selectedDocument && selectedDocument.intEstadoDocumento > 3">
          <ion-col size="12" class="ion-text-center">
            <ion-button color="danger" mode="md" expand="full" shape="round" (click)="backtoMisDocumentos()">
              Volver<br>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

