<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title>Calendario</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-calendario [clienteSeleccionado]="clienteSeleccionado"></app-calendario>
</ion-content>