<ion-card *ngIf="documento" mode="md">
  <ion-card-content mode="md">
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12" class='ion-text-center indoDocumento'>
              <ion-icon name="document" color="primary"></ion-icon> {{documento.strTipoDoc}}-{{documento.strFolioDoc}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-row>
                <ion-col size="12" class="datos">
                  <ion-icon name="calendar" color="primary"></ion-icon>F Docu.
                </ion-col>
                <ion-col size="12" class="info">
                  {{documento.dtFechaDocumento | date :"dd/MM/yyyy"}}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="5">
              <ion-row>
                <ion-col size="12" class="datos">
                  <ion-icon name="clipboard" color="primary"></ion-icon> Estado
                </ion-col>
                <ion-col size='12' class="info">
                  {{documento.strNombreEstado}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="documento.strNombreConductor && documento.strImagen64">
            <ion-col size="12" class="datos">
              <ion-icon name="person" color="primary"></ion-icon>Transportista
            </ion-col>
            <ion-col size="12" class="info">
              {{documento.strNombreConductor | titlecase}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="datos">
              <ion-icon name="person" color="primary"></ion-icon>Datos cliente
            </ion-col>
            <ion-col size="12" class="info">
              <ion-row>
                <ion-col size="12">
                  {{documento.strNombreCliente | titlecase}} 
                </ion-col>
                <ion-col size="12">
                  {{documento.strRutCliente}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="datos">
              <ion-icon name="pin" color="primary"></ion-icon>Dirección despacho
            </ion-col>
            <ion-col size="12" class="info">
              {{documento.strDireccionDesp | titlecase }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>