.card-content-md{
    padding-inline-end: 3px !important;
    padding-inline-start: 7px !important;
    padding-top: 4px;
}

ion-card-header{
    padding-bottom: 3px;
}

.info{
    font-size: 14px;
    margin-left: 18px;
}

ion-col{
    padding-top: 0px;
}

.indoDocumento{
    font-size: 20px;
    font-weight: 600;
    color: var(--ion-color-primary);
}

ion-icon{
    padding-right: 2px;
}

ion-item{
    --padding-start: 3px;
    --inner-padding-end: 1px;
}
