<ion-tabs >
  <ion-tab-bar  mode="ios" slot="bottom" [ngClass]="seccion+'-theme'" [hidden]="hideTabs" scrollable>
    <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.router" [selected]="tab.selected" >
        <ion-icon [name]="tab.icon"></ion-icon>
        <ion-label>{{tab.nombre}}</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>