ion-select{
    max-width: 70% !important; 
}

.dato{
    font-size: 14px;
}

.item-title{
    font-size: 15px;
    font-weight: 600;
}

.subirScroll{
    position: fixed;
    bottom: 64px;
    right: 5px;
}

.ion-button{
    --ion-button-round-border-radius: 5px;
    --padding-start: 1px;
    --padding-end: 1px;
}

.verDetalles{
    position: absolute;;
    top: 5px;
    right: 5px;
    z-index: 10000;
}

ion-list-header{
    margin-top: 10px;
    min-height: 20px;
}
