<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!SucursalQuiebre">Detalles Quiebres </ion-title>
    <ion-title *ngIf="SucursalQuiebre">{{ SucursalQuiebre._id | lowercase | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="_filtrosQservice?.showFiltros" (click)="mostrarFiltros($event)" color="light">
        <ion-icon name="funnel" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding-top: 4px;">
    <ion-card-header *ngIf="_estadoTiendaService.selectSucurales && _estadoTiendaService.selectSucurales.length > 1 &&  showSucursales">
      <ion-card-subtitle *ngIf="vendedor">
        <ion-item>
          <ion-label style="font-weight: 600;"> Sucursal </ion-label>
          <ion-select
            [(value)]="codSucursal"
            placeholder="Seleccionar Sucursal" 
            cancelText="Cancelar" 
            #selecSucursalQuiebre 
            mode="ios"
            (ionChange)="MostrarQuiebre(selecSucursalQuiebre.value)" >
            <ion-select-option *ngFor="let sucursal of _estadoTiendaService.selectSucurales" [value]="sucursal.codigo"> {{ sucursal.nombre | lowercase | titlecase }} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <!-- informacion de quiebre de un sucursal-->
        <app-sucursal-quiebre-view [SucursalQuiebre]="SucursalQuiebre" (OcultarSucursales)="HideSucursalSelect()"></app-sucursal-quiebre-view>
         <!-- End informacion de quiebre de un sucursal-->
    </ion-card-content>
  </ion-card>
</ion-content>
