<ion-list>
  <ion-list-header>
    <ion-label style="font-weight: 700; font-size: 17px;">
      Filtrar Resultados 
    </ion-label>
  </ion-list-header>
  <ion-item id="selectedFiltro">
    <ion-label>Tipo Docu: </ion-label>
    <ion-select
      placeholder="Todos" 
      cancelText="Cancelar" 
      interface="alert"
      #selectedFiltro
      [selectedText]="selectFiltroText | titlecase"
      mode="ios"
      (ionChange)="setFiltro(selectedFiltro.value)">
        <ion-select-option value="TODOS">Todos</ion-select-option>
        <ion-select-option value="TRANSFERENCIA">Transferencias</ion-select-option>
        <ion-select-option value="ORDEN VENTA">Orden Ventas</ion-select-option>
        <ion-select-option value="RETIROS PENDIENTES">Retiros Pendientes</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-text-end">
      <ion-button class="filterButton" (click)="setFiltro('TODOS')" (click)="filtrarBandeja()" [disabled]="selectFiltroText === 'TODOS'">Limpiar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
