<ion-card>
  <ion-row class="ion-justify-content-center">

    <img
      src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{vendedor.rutEmpleado}}.jpg?alt=media"
      onError="this.src='./assets/svg/manager.svg'" class="poster">

  </ion-row>


  <ion-card-content>
    <ion-item class="ion-no-padding">
      <ion-icon color="primary" name="key" slot="end"></ion-icon>
      <div>
        <ion-label class="encabezado">Rut</ion-label>

        <ion-label class="datos">{{vendedor.rutEmpleado | rut}}</ion-label>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon color="primary" name="person" slot="end"></ion-icon>

      <div>
        <ion-label class="encabezado">Nombre</ion-label>

        <ion-label class="datos">{{vendedor.nombreCompleto}}</ion-label>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="ion-text-center">
      <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
    </div>
    <ion-row *ngIf="!obtener">
      <ion-col size="12">
        <div echarts="echarts" [options]="option" class="demo-chart"></div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>