<ion-header>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light" (ionChange)="cambioPagina( $event,slidesAdmin )">
      <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [checked]="pag.cheked"
        [disabled]="pag.disabled">

        <ion-icon [src]="pag.svg">
        </ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- <ion-row>
    <ion-col size="6">
      <ion-button expand="block"
        (click)="changeMode('month')">Mensual</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" 
        (click)="changeMode('week')">Diario</ion-button>
    </ion-col>
  </ion-row> -->
 
</ion-content>