<ion-card>
    <app-header [titulo]="'Direcciones'" [slides]="slides"></app-header>

    <ion-card *ngFor="let direccion of listadoDireccion">
      <ion-item (click)="abrirDireccion(direccion)">
        <ion-icon
          src="./assets/svg/mapa.svg"
          slot="end"
          color="primary"
        ></ion-icon>
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <p
            style="font-weight:bolder;font-size: 13px "
          >
            {{direccion.direccionCompleta}}
          </p></ion-col>
          <ion-col size="12" class="ion-no-padding"><ion-label style="font-size: 13px ">{{direccion.comuna}}</ion-label></ion-col>
        </ion-row>
        
      </ion-item>
    
      <!-- <ion-item>
        <ion-icon
          name="barcode"
          slot="end"
          color="primary"
        ></ion-icon>
    
        <ion-label>{{direccion.codDireccion}}</ion-label>
      </ion-item> -->
    </ion-card>
</ion-card>
