<ion-header>
  <ion-toolbar color="light" style="color:#444">
    <ion-buttons slot="start">
      <ion-menu-button       
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" >
      R. Pend. - {{folioOV}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="list-box" (click)="backToPickingBandeja()" color="primary" style="font-size: 20px; margin-right: 5px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="detalleRetiroPendiente">
  <ion-grid *ngIf="!detalleRetiroPendiente.responsable && !detalleRetiroPendiente.listoParaEntrega && _UsuarioService.getUserLoged().codPerfil === 5">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button shape="round" expand="full" class="ion-margin-top" color="primary" (click)="setResponsableRetiroPendiente(detalleRetiroPendiente._id)">
          Tomar Pedido <ion-icon name="checkbox-outline" style="margin-left: 3px;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="detalleRetiroPendiente.responsable && detalleRetiroPendiente.responsable === _UsuarioService.getUserLoged().nombre && !detalleRetiroPendiente.listoParaEntrega && _UsuarioService.getUserLoged().codPerfil === 5">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button shape="round" expand="full" class="ion-margin-top" color="success" (click)="setListoParaRetiro(detalleRetiroPendiente._id, detalleRetiroPendiente.ordenVenta )">
          Listo para Retirar <ion-icon name="checkbox-outline" style="margin-left: 3px;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Datos Cliente'"
      [slides]="null"
    ></app-header>
    <ion-card-content *ngIf="detalleRetiroPendiente">
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-label class="datos">
                  Cliente
                </ion-label>
              </ion-col>
              <ion-col size="7" class="ion-text-end">
                {{ detalleRetiroPendiente.nombrecliente | titlecase }}
              </ion-col>
              <ion-col size="1">
                <ion-icon name="person" color="primary"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-label class="datos">
                  Rut
                </ion-label>
              </ion-col>
              <ion-col size="7" class="ion-text-end">
                {{ detalleRetiroPendiente.rutCliente }}
              </ion-col>
              <ion-col size="1">
                <ion-icon name="key" color="primary"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngIf="detalleRetiroPendiente.responsable">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-label class="datos">
                  Asignado
                </ion-label>
              </ion-col>
              <ion-col size="7" class="ion-text-end">
                {{ detalleRetiroPendiente.responsable | titlecase }}
              </ion-col>
              <ion-col size="1">
                <ion-icon name="person" color="primary"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6">
                <ion-label class="datos">
                  F. Compromiso
                </ion-label>
              </ion-col>
              <ion-col size="5" class="ion-text-end">
                {{ detalleRetiroPendiente.fechaCompromiso | date :"dd/MM/yyyy" }}
              </ion-col>
              <ion-col size="1">
                <ion-icon name="calendar" color="primary"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Listado Productos'"
      [slides]="null"
    ></app-header>
    <ion-card-content *ngFor="let articulo of detallePedido">
      <app-product-ov-item [articulo]="articulo"></app-product-ov-item>
    </ion-card-content>
  </ion-card>
</ion-content>
