ion-card-content{
    padding-top: 2px;
    padding-bottom: 7px;
}

ion-card{
    margin-top: 2px;
}

ion-item{
    padding-top: 1px;
    --inner-padding-end: 2px;
    --padding-star: 5px !important;
    font-size: 14px;
}

ion-list{
    padding: 0px;
}

ion-col{
    padding: 3px 0px 1px 3px;
    font-size: 14px;
}