<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title> Vendedores {{ nombreZona != 'TODAS' ? ('Zona '+nombreZona | titlecase) : '' }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar class="white" placeholder="Buscar..." (ionChange)="buscar( $event )"></ion-searchbar> 
      <ion-button (click)="presentPopover($event)"> 
        <ion-icon name="funnel" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-list *ngFor="let vendedor of lstVendedores | filtro: textoBuscar: 'nombreCompleto' :'rutEmpleado'"
        detail="detail" >
        <div (click)="verResumen(vendedor)">
          <ion-item lines="none" detail>
            <ion-avatar>
              <img
                src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{vendedor.rutEmpleado}}.jpg?alt=media"
                onError="this.src='./assets/svg/manager.svg'">
            </ion-avatar>
            <ion-label class="datos" class="ion-margin-start">
              <p class="datos "> {{vendedor.nombreCompleto | slice:0:25}}</p>
            </ion-label>
    
          </ion-item>
          <ion-grid fixed class="borde">
            <ion-row>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-icon slot="end" src="./assets/svg/planificacion.svg"></ion-icon>
                  <div>
                    <ion-label class="encabezado">Plan Acum</ion-label>
                    <ion-label class="datos">${{vendedor.PlanAcumulado | montoAbreviado }}</ion-label>
                  </div>
    
                </ion-item>
                <ion-item lines="none">
    
    
    
                  <div>
                    <ion-label class="encabezado">Plan día</ion-label>
                    <ion-label class="datos">${{vendedor.planDia | montoAbreviado }}</ion-label>
                  </div>
                  <ion-icon slot="end" src="./assets/svg/dinero.svg"></ion-icon>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-icon slot="end" src="./assets/svg/banco.svg"></ion-icon>
                  <div>
                    <ion-label class="encabezado">Venta Acum</ion-label>
                    <ion-label class="datos">${{vendedor.ventaAcumulada | montoAbreviado }}</ion-label>
                  </div>
                </ion-item>
    
                <ion-item lines="none">
                  
                  <ion-icon slot="end" src="./assets/svg/impuesto.svg"></ion-icon>
                  <div>
                    <ion-label class="encabezado">Venta día</ion-label>
                    <ion-label class="datos">${{vendedor.ventaDia | montoAbreviado }}</ion-label>
                  </div>
    
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>