.address-slides{
    position: absolute;
    z-index: 200000;
    bottom: 0px;
    width: 100%;
    min-height: 100px;
    background: white;
    transition: opacity 600ms ease-in-out 1s;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.sinResultadosDiv{
    min-height: 179px;
    width: 100%;
    z-index: 200000;
}

.addresCard{
    max-height: 140px;
    min-height: 140px;
    max-width: 150px;
    min-width: 150px;
}

.title-text{
    font-size: 14px !important;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchAddress{
    transform: scale(0.8); 
}

ion-slides{
    --bullet-background: #303138;
}

ion-card:hover{
    opacity: 0.8;;
}