<div class="address-slides" *ngIf="showFiltros">

  <ion-toolbar color="primary">
    <ion-searchbar #buscarAddress placeholder="Nombre Cliente" animated="animated" class="searchAddress" showCancelButton="always" (ionCancel)="resetView()"
    [(ngModel)]="busqueda" (ionChange)="filtrar(buscarAddress.value)">
  </ion-searchbar>
    <ion-icon slot="end" name="close" style="font-size:25px; margin-right: 5px" (click)="OcultarFiltro()"></ion-icon>
  </ion-toolbar>
  <div *ngIf="listaClientes?.length > 0">
    <ion-slides pager [options]="slideOpts" mode="md">
      <ion-slide *ngFor="let cliente of listaClientes">
        <ion-grid>
          <ion-card (click)="MostrarAddress(cliente)" class="addresCard" color="ligth" mode="md" >
            <ion-card-header style="padding-bottom: 3px;">
              <ion-row>
                <ion-col size="12">
                  <ion-card-title class="title-text"> {{ cliente.nombre | lowercase | titlecase }} </ion-card-title>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content mode="ios" style="padding-top: 5px;">
              <ion-icon name="pin" color="primary" style="font-size: 40px;"></ion-icon>
              <ion-row>
                <ion-col size="12"><ion-label  class="title-text"> {{ cliente.ciudad | lowercase | titlecase }}</ion-label></ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="listaClientes?.length == 0" class="sinResultadosDiv">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2>No se han encontrado resultados con el texto ingresado.</h2>
      </ion-col>
    </ion-row>
  </div>
  
</div>
