.dato{
    font-size: 14px;
}

.item-title{
    font-size: 14px;
    font-weight: 600;
}

.closeDetail{
    position: absolute;
    right: 7px;
    font-size: 27px;
    z-index: 1000;
}

.closeDetail :hover{
    cursor: pointer;
}

.detalleHUa{
    margin-right: 16px;
    margin-bottom: 25px;
    transition:  width 2s, height 2s, transform 2s;
}

ion-col{
 padding:0px;   
}

ion-grid{
    padding:1px;
}

ion-item{
    --min-height: 42px !important;
}

.datoRelacionado{
    font-size: 12px;
}

.itemTitleRelacionado{
    font-size: 12px;
    font-weight: 600;
}

