<ion-header no-border="no-border" *ngIf="detalleHua">
  <ion-toolbar class="ion-text-center">
    <ion-title slot="start"> {{ detalleHua.sku }} </ion-title>
    <ion-label slot="end" style="margin-right: 10px"> {{ detalleHua.sucursal | lowercase | titlecase }} </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="detalleHua && !showDetalleVentas" class="detalleHUa" mode="ios" style="margin-top:5px;">
    <ion-card-header style="padding-bottom: 2px;">
      <!-- Ocultar modal -->
      <ion-icon name="close" mode="ios" class="closeDetail" (click)="cerrarModal()" size="large"></ion-icon>
      <!-- End Ocultar modal -->
      <ion-grid style="padding: 0px">
        <ion-row class="ion-justify-content-center" style="padding: 0px">
          <img *ngIf="detalleHua?.img" [src]="detalleHua.img" style="width: 140px" onError="this.src='./assets/img/place-150x150.png'"/>
        </ion-row>
      </ion-grid>
      <ion-row> 
        <ion-col class="item-title ion-text-center">
          {{ detalleHua.nombre }} 
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list >
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Categoría </ion-label> </ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.categoria | lowercase | titlecase }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Assortment </ion-label></ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.assortment === 'S'? 'SI' : 'No'  }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Estado/VIA </ion-label> </ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.estado | lowercase | titlecase }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Saldo Disponible </ion-label> </ion-col>
              <ion-col size="6" class="dato ion-text-right"> <b> Tienda: </b> {{ detalleHua.disponibilidad }} <br><b> Centro D: </b> {{ detalleHua.stockCD }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"><ion-label>Min/Max </ion-label></ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.stockMinimoPropuesto }} / {{ detalleHua.stockMaximoPropuesto }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Precio c/IVA </ion-label> </ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.PVP | currency:'CLP' }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> V. prom. Semanal </ion-label> </ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.ventaPromedioSemanal }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Semanas Venta  </ion-label> </ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ _EstadoTiendaService.getSemanasVentas(detalleHua.disponibilidad , detalleHua.ventaPromedioSemanal ) }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="item-title"> <ion-label> Pendiente Rec. </ion-label></ion-col>
              <ion-col size="6" class="dato ion-text-right"> {{ detalleHua.pendienteRecepcion }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="12" class="ion-text-right">
          <ion-button fill="outline" style="font-size: 10px;" (click)="showDetalleVentas = true"> Ver Detalles </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <app-hua-detalle-ventas *ngIf="showDetalleVentas" 
    [detalleHua]="detalleHua" 
    [sucursal]="sucursal"
    (closeDetail)="cerrarModal()"
    [showingItemRelacionado]="showItemRelacionado"
    (ocultarDetails)="showDetalleVentas = false" 
    [mostrarRelacionados]="showMatrizLIst"
    (ShowDetalleRelacionado)="showRelacionado($event)">
  </app-hua-detalle-ventas>
</ion-content>
