ion-card-title{
    font-weight: bold !important;
}
p{
    font-weight: 500;
}
.span{
    color: var(--ion-color-primary) !important;
    font-weight: bold;
}
@media screen and (orientation: portrait) {
    .demo-chart {
      height: 200px;
    }
  }
.posicion{
    position: absolute;
    top: 38%;
    left: 42%;
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: xx-large;
}
@media only screen and (max-width: 411px) {
    .posicion{
        position: absolute;
        top: 37%;
    }

}
@media only screen and (max-width: 375px) {
    .posicion{
        position: absolute;
        top: 38%;
        left: 41%;
    }

}

@media only screen and (min-width : 480px) and (max-width: 768px) {
    .posicion{
        position: absolute;
        top: 38%;
        left: 46%;
      
    }

}
ion-progress-bar{
    border-radius: 50px;
    height: 7px;
}

.color{
    color: black !important;
}

.prueba {
   
    -webkit-padding-start: 0px !important; 
    padding-inline-start: 0px !important; 


} 
ion-item {
    --ion-safe-area-right: 0 !important;
  }