<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Mis Objetivos</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="cerrarSesion()">
        <ion-icon color="light" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-label class="x-large">Hola {{vendedor.nombre}}</ion-label>
      </ion-col>
      <ion-col size="12">

        <ion-label class="color">Tu meta mensual es : <span
            style="font-weight: bolder; font-size: large">{{metaMes | formatoMoneda}}</span></ion-label>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <div class="posicion">
            <span>{{porcentajeMetaMesGrafico}}%</span>
          </div>

          <div echarts="echarts" [options]="option" class="demo-chart"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5" class="ion-text-start ion-no-padding">
          <ion-label color="dark">Venta Acumulada {{ vendedor.codSucursal | lowercase | titlecase }}</ion-label>
        </ion-col>

        <ion-col size="7" class="ion-text-end ion-no-padding">
          <ion-label><span class="color">${{ tiendaVentaDia }}MM</span> / ${{ tiendaMetaAcumulada }}MM</ion-label>
        </ion-col>

        <ion-progress-bar class="ion-margin-bottom" color="tertiary" [value]="tiendaVentaPorcentaje">
        </ion-progress-bar>

        <ion-col size="5" class="ion-text-start ion-no-padding">
          <ion-label color="dark">Venta acumulada</ion-label>
        </ion-col>

        <ion-col size="7" class="ion-text-end ion-no-padding">
          <ion-label><span class="color">${{ventaAcumulada}}MM</span> / ${{metaAcumulada }}MM</ion-label>
        </ion-col>

        <ion-progress-bar class="ion-margin-bottom" color="primary" value="ventaAcumuladaProcentaje">
        </ion-progress-bar>

        <ion-col size="3" class="ion-text-start ion-no-padding">
          <ion-label color="dark">Venta día</ion-label>
        </ion-col>

        <ion-col size="9" class="ion-text-end ion-no-padding">
          <ion-label> <span class="color">${{ventaDia}}MM</span> / ${{mentaHoy}}MM</ion-label>
        </ion-col>

        <ion-progress-bar class="ion-margin-bottom" color="success" [value]="ventaDiaPorcentaje"></ion-progress-bar>

        <ion-col size="5" class="ion-text-start ion-no-padding">
          <ion-label color="dark">Cobertura visita</ion-label>
        </ion-col>

        <ion-col size="7" class="ion-text-end ion-no-padding">
          <ion-label><span class="color">{{ visitaConcretadas }}</span> / {{visitasAgendadas}}</ion-label>
        </ion-col>

        <ion-progress-bar class="ion-margin-bottom" color="warning" [value]="porcentajeVisita"></ion-progress-bar>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-label class="x-large">Proximas Visitas</ion-label>
      </ion-col>
    </ion-row>

    <ion-card-content class="prueba">
      <ion-item detail="detail" style="padding-top: 8px;" *ngFor="let evento of eventos"
        (click)="obtenerCliente(evento)">
        <div slot="start" style="margin-bottom: 3px;">
          <calendario [fecha]="evento.fechaProgramada"></calendario>
        </div>

        <p class="ion-margin-bottom">{{evento.nombreCliente}}</p>
      </ion-item>
      <ion-item *ngIf="eventos.length===0">
        <p class="ion-margin-bottom">No registra visitas</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>