<ion-grid (click)="showDetails = !showDetails" *ngIf="retiroPendiente"> 
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <span class="itemTitle"> Retiro Pendiente</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="4">
          <b>Folio:</b>
        </ion-col>
        <ion-col size="8" class="ion-text-end">
          {{retiroPendiente.ordenVenta }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="6">
          <b>Dias Retraso:</b>
        </ion-col>
        <ion-col size="6" class="ion-text-end datos"
          *ngIf="retiroPendiente.fechaCompromiso | diasRetraso  as dias"
          [ngStyle]="{'color':  dias > 0 ? 'red' : (dias <= 0 && dias  > -3)? 'orange' : dias <= -3? 'green' : {color: 'green'}}"
        >
          {{ dias }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="4">
          <b>Rut Clte:</b>
        </ion-col>
        <ion-col size="8" class="ion-text-end">
          {{retiroPendiente.rutCliente }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>Estado:</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end">
          {{retiroPendiente.responsable? 'Asignado' : 'Sin Asignar'}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="retiroPendiente.responsable">
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>Asignado</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end">
          {{retiroPendiente.responsable | titlecase }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="6">
          <b>F. Compromiso:</b>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          {{retiroPendiente.fechaCompromiso | date :"dd/MM/yyyy" }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!retiroPendiente.responsable && !retiroPendiente.listoParaEntrega && _UsuarioService.getUserLoged().codPerfil === 5">
    <ion-col size="12" class="ion-text-start">
      <ion-button shape="round" expand="full" class="ion-margin-top" (click)="setResponsableRetiroPendiente(retiroPendiente._id)" color="primary">
        Tomar Pedido <ion-icon name="checkbox-outline" style="margin-left: 3px;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="retiroPendiente.responsable && retiroPendiente.responsable === _UsuarioService.getUserLoged().nombre && !retiroPendiente.listoParaEntrega && _UsuarioService.getUserLoged().codPerfil === 5">
    <ion-col size="12" class="ion-text-start">
      <ion-button shape="round" expand="full" class="ion-margin-top" (click)="setListoParaRetiro(retiroPendiente._id, retiroPendiente.ordenVenta)" color="success">
        Listo para Retirar<ion-icon name="checkbox-outline" style="margin-left: 3px;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
