<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-button >
              <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
          </ion-button> -->
          <ion-menu-button autoHide="false" color="light" menu="primerMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard Zona</ion-title>
      <ion-buttons slot="primary">
          <ion-button (click)="logoutUser()">
              <ion-icon color="light" slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
      </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-segment scrollable="scrollable" mode="md" color="light">
          <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [disabled]="pag.disabled" (click)="cambioPagina( pag.index,slidesAdmin )"
              [class.segment-button-checked]="pag.cheked">
              <ion-icon [name]="pag.svg" style="width: 100px !important;"></ion-icon> 
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="color">
      <ion-segment [value]="rango" id="tipoDato" (ionChange)="filtrar($event)" mode="md">
          <ion-segment-button value="Diario"  mode="md"> <ion-label> Diario </ion-label> </ion-segment-button>
          <ion-segment-button  value="Mensual"  mode="md"> <ion-label> Mensual </ion-label> </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
  <ion-slides #slidesAdmin>
      <ion-slide >  
          <app-tabla-tiendas-zonal [indice]="1" [hidden]="indiceActual == 0? false : true" [resumen]="resumenZona" [filtro]="rango" (brake)="habilitar($event)" [slidesAdmin]="slidesAdmin" [sucursal]="'SUCURSAL'" [detalleTitulo]="detalleTitulo" (actualizarDatos)="actualizarDatos()"></app-tabla-tiendas-zonal>
      </ion-slide>
      <ion-slide>
          <app-tabla-tiendas-zonal [indice]="2" [hidden]="indiceActual == 1? false : true" [resumen]="resumenSucursal" [filtro]="rango" (brake)="habilitar($event)" [slidesAdmin]="slidesAdmin" [sucursal]="'CANAL'" [detalleTitulo]="detalleTitulo"></app-tabla-tiendas-zonal>
      </ion-slide>
      <ion-slide>
          <app-tabla-tiendas-zonal [indice]="3" [hidden]="indiceActual == 2? false : true" [resumen]="resumenTienda" [filtro]="rango" (brake)="habilitar($event)" [slidesAdmin]="slidesAdmin" [sucursal]="'VENDEDOR'" [detalleTitulo]="detalleTitulo"></app-tabla-tiendas-zonal>

      </ion-slide>

      <ion-slide>
          <ion-card>
              <ion-card-header>
                  <ion-card-title>Vendedores</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <table>
                      <tr class="header">
                          <th>Venededor</th>
                          <th>Venta MM</th>
                          <th>Meta MM</th>
                          <th>%</th>
                      </tr>
                      <tr class="body" *ngFor="let vendedores of vendedores; let i=index">
                          <td>{{vendedores.nombreVendedor}}</td>
                          <td>{{vendedores.Venta/1000000 | number: '1.0-1'}}</td>
                          <td>{{vendedores.MetaAcumulada /1000000 | number: '1.0-1'}}</td>
                          <td>{{vendedores.Venta/vendedores.MetaAcumulada*100 | number: '1.0-0'}}</td>
                      </tr>
                      <tr class="footer">
                          <td>Total</td>
                          <td>{{totalVentaVen /1000000 | number: '1.0-1'}}</td>
                          <td>{{totalMetaVen /1000000 | number: '1.0-1'}}</td>
                          <td>{{promedioVen | number: '1.0-1'}}</td>
                      </tr>
                  </table>
              </ion-card-content>
          </ion-card>
      </ion-slide>
  </ion-slides>

</ion-content>