<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center datos">{{!imgObject? 'Adjuntar Imagen' : 'Usar Imagen'}}</ion-col>
        <ion-col size="12" class="ion-text-center">
          <img [src]="imgObject.image | imageSanitizer" *ngIf="imgObject" style="height: 400px; width: 300px;">
        </ion-col>
        <ion-col size="6">
          <ion-button mode='md' expand="full" color="dark" (click)="takePhoto('CAMERA')" *ngIf="!imgObject"> <ion-icon name="camera"></ion-icon>CAMARA</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button mode='md' expand="full" color="dark" (click)="takePhoto('PHOTOLIBRARY')" *ngIf="!imgObject"><ion-icon name="image"></ion-icon>GALERIA</ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="full" color="primary" [disabled]="!imgObject" (click)="returnImage()" mode="md">CONTINUAR<ion-icon name="arrow-round-forward"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="12" *ngIf="imgObject">
          <ion-button expand="full" color="danger" [disabled]="!imgObject" (click)="clearImage()" mode="md">CANCELAR</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


