<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>Última Milla</ion-title>
    <ion-buttons slot="end" *ngIf="index === 0">
      <ion-button (click)="reloadMisDocumentos()">
        <ion-icon name="refresh" color="light" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment scrollable="scrollable" mode="md" color="primary">
        <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag"  (click)="cambioPagina(pag.index)"
            [class.segment-button-checked]="pag.cheked">
            {{pag.name}}
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
  <app-mis-asignados *ngIf="index === 0" [motivosNoEntrega]="motivosNoEntrega" [motivosRecepcionParcial]="motivosRecepcionParcial"></app-mis-asignados>
  <app-asignar *ngIf="index === 1 && tipoAcceso > 0" [tipoAcceso]="tipoAcceso"></app-asignar>
</ion-content>
