.section-container{
    display: flex;
    height: 100%;
    width:100%;
    flex-direction: column;
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 12%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(12%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 12%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 12%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 12%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 12%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

@media (orientation: portrait) {
    .flexContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        align-content: center;
    }

    .logoImplementos{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .sc-ion-card-ios-h{
        margin-inline-start: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media (orientation: landscape) {
    .flexContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        align-content: center;
    }

    .logoImplementos{
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
  }

  .cardbtn{
    cursor:pointer;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid #fff;
            transition:all 1s;
            }
        &:after{
            top:-1px;
            left:-1px;
            border-top:3px solid white;
            border-left:3px solid white;
        }
        &:before{
            bottom:-1px;
            right:-1px;
            border-bottom:3px solid white;
            border-right:3px solid white;
        }
        &:hover{
            border-top-right-radius:0px;
            border-bottom-left-radius:0px;
            &:before,&:after{
                
                width:100%;
                height:100%;
            }
        }
    }
    