<ion-content>
  <ion-grid class="section-container">
    <ion-row class="logoImplementos" [ngStyle]="{'display': platform.isLandscape() && innerWidth < 760 ? 'none' : ''}">
      <ion-col size="12" >
        <ion-img src="../../../../assets/logos/logo_header.png" [ngStyle]="{'width': innerWidth > 760 ? '550px' :'290px'}"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="flexContainer" >
      <ion-col size="12">
        
        <ion-card color="primary" class="cardbtn" (click)="selectSeccion('tiendas')">
          <ion-card-header class="ion-text-center">

            <ion-grid fixed>
              <ion-row>
                <ion-col size="2">
                      <svg [attr.width]="'2em'" [attr.height]="'2em'" viewBox="0 0 16 16" class="bi bi-shop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zM3.12 1.175A.5.5 0 0 1 3.5 1h9a.5.5 0 0 1 .38.175l2.759 3.219A1.5 1.5 0 0 1 16 5.37v.13h-1v-.13a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.13H0v-.13a1.5 1.5 0 0 1 .361-.976l2.76-3.22z"/>
                      <path d="M2.375 6.875c.76 0 1.375-.616 1.375-1.375h1a1.375 1.375 0 0 0 2.75 0h1a1.375 1.375 0 0 0 2.75 0h1a1.375 1.375 0 1 0 2.75 0h1a2.375 2.375 0 0 1-4.25 1.458 2.371 2.371 0 0 1-1.875.917A2.37 2.37 0 0 1 8 6.958a2.37 2.37 0 0 1-1.875.917 2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.5h1c0 .76.616 1.375 1.375 1.375z"/>
                      <path d="M4.75 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm3.75 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm3.75 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                      <path fill-rule="evenodd" d="M2 7.846V7H1v.437c.291.207.632.35 1 .409zm-1 .737c.311.14.647.232 1 .271V15H1V8.583zm13 .271a3.354 3.354 0 0 0 1-.27V15h-1V8.854zm1-1.417c-.291.207-.632.35-1 .409V7h1v.437zM3 9.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5V15H7v-5H4v5H3V9.5zm6 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4zm1 .5v3h2v-3h-2z"/>
                    </svg>
                </ion-col>
                <ion-col size="10">
                  <ion-card-title style="font-size: 19px; font-weight: 600;text-align:left;"> 
                    Gestión de Tiendas
                  </ion-card-title> 
                </ion-col>
              </ion-row>
            </ion-grid>

            
          </ion-card-header>
        </ion-card>        
      </ion-col>
      
        <ion-col size="12">
          <ion-card color="dark" class="cardbtn" (click)="selectSeccion('vendedores')">
            <ion-card-header class="ion-text-center">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="2">
                    <svg [attr.width]="'2em'" [attr.height]="'2em'" viewBox="0 0 16 16" class="bi bi-person-bounding-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                  </ion-col>
                  <ion-col size="10">
                    <ion-card-title style="font-size: 19px; font-weight: 600;text-align:left"> 
                      Vendedores
                    </ion-card-title>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="12" >
        <ion-card color="precaucion" class="cardbtn" (click)="selectSeccion('bodegas')">
          <ion-card-header class="ion-text-center">
            
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="2">
                    <svg [attr.width]="'2em'" [attr.height]="'2em'" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                    </svg>
                  </ion-col>
                  <ion-col size="10">
                    <ion-card-title style="font-size: 19px; font-weight: 600;text-align:left" > 
                      Operaciones Bodega 
                    </ion-card-title>
                  </ion-col>
                </ion-row>
              </ion-grid>
              
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
