<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de...</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon
          name="close"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
 
      <ion-card-title>Información Versión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" name="appstore"></ion-icon>
        <ion-label>Versión 1.12.0</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        <ion-label>Publicada Abril 2021</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
