<ion-content>
  

  <app-clientes [listaClientes]="listaClientes" [obtener]="obtener"></app-clientes>
  
  <ion-fab
    vertical="bottom"
    horizontal="end"
    edge="edge"
    slot="fixed"
    style="margin-bottom: 10% !important"
  >
    <ion-fab-button (click)="showMapClientAddress()">
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>