<ion-list>
  <ion-list-header>
    <ion-label style="font-weight: 700; font-size: 17px;">
      Filtrar por: 
    </ion-label>
  </ion-list-header>
  <ion-item>
      Ver solo productos quebrados
    <ion-checkbox slot="end" (ionChange)="setYaQuebrados($event)" [checked]="yaQuebrados"></ion-checkbox>
  </ion-item>

  <!-- selec que permite filtrar por productos assortment, tienda tipo 1-2 y compañia tipo 1 y 2 -->
  <ion-item *ngIf="SelectfiltroOptions" id="selectedFiltro">
    <ion-label> Mostrar: </ion-label>
    <ion-select
      placeholder="Mostrar Productos" 
      cancelText="Limpiar" 
      interface="alert"
      #selectedFiltro
      [selectedText]="selectFiltroText"
      mode="ios"
      (ionCancel)="selectedFiltro.value = ''"
      (ionChange)="filtroOnChage(selectedFiltro.value)">
      <ion-select-option *ngFor="let filtro of SelectfiltroOptions" [value]="filtro.value"> {{ filtro.nombre | lowercase | titlecase }} </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- End selec que permite filtrar por productos assortment, tienda tipo 1-2 y compañia tipo 1 y 2 -->

  <!-- selec que permite filtrar por eun -->
  <ion-item *ngIf="_filtrosQuiebreService?.CategoriasFiltros" id="selectedCategoria">
    <ion-label> Eun </ion-label>
    <ion-select
      placeholder="Selecciona UEN." 
      cancelText="Limpiar" 
      interface="alert"
      #selectCategorias
      [selectedText]="selectedCategoria"
      mode="ios"
      (ionCancel)="limpiarCategoria(); selectCategorias.value = ''"
      (ionChange)="setCategoriaFiltro(selectCategorias.value)" >
      <ion-select-option *ngFor="let categoria of _filtrosQuiebreService.CategoriasFiltros" [value]="categoria"> {{ categoria | lowercase | titlecase }} </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- End selec que permite filtrar por eun -->

</ion-list>
<ion-list>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button size="small" (click)="limpiarFiltros()"> Limpiar </ion-button>
      <ion-button size="small" (click)="aplicarFiltros()"> Aplicar Filtros </ion-button>
    </ion-col>
  </ion-row>
</ion-list>






