<ion-card>
  <app-header
    [titulo]="'Flota'"
    [slides]="slides"
  ></app-header>
  <ion-spinner
  name="dots"
  *ngIf="obtener"
></ion-spinner>
  <ion-item *ngIf="flota">
    <ion-label>Buses</ion-label>

    <ion-badge
      color="danger"
      slot="end"
    >{{flota.Buses}}</ion-badge>
  </ion-item>

  <ion-item *ngIf="flota">
    <ion-label>Camiones</ion-label>

    <ion-badge
      color="danger"
      slot="end"
    >{{flota.Camiones}}</ion-badge>
  </ion-item>

  <ion-item *ngIf="flota">
    <ion-label>Maquinarias</ion-label>

    <ion-badge
      color="danger"
      slot="end"
    >{{flota.Maquinarias}}</ion-badge>
  </ion-item>

  <ion-item *ngIf="flota">
    <ion-label>Remolques</ion-label>

    <ion-badge
      color="danger"
      slot="end"
    >{{flota.Remolques}}</ion-badge>
  </ion-item>
</ion-card>