
<ion-grid ngif="oportunidad" (click)="finalizarOportunidad = !finalizarOportunidad">
  <ion-row class="ion-align-items-center">
    <div class="LogotipoContacto" *ngIf="oportunidad.origenEvento">
      <ion-icon [name]="oportunidad.origenEvento | tipoContacto" [color]="oportunidad.origenEvento | tipoContacto : true" style="font-size: 16px;"></ion-icon>
    </div>
    <ion-col size="4">
      <ion-label class="datos">Cliente</ion-label>
    </ion-col>
    <ion-col size="7" class="ion-text-right">
      {{ oportunidad.clienteNombre | titlecase }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="contact" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="5">
      <ion-label class="datos">Fecha Cierre</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right" *ngIf="oportunidad.fecha_limite | diasFaltantes  as dias"
      [class.fechaCierre]="oportunidad.OportunidadOpen"  
      [ngStyle]="{'color':  dias <= 3 && oportunidad.OportunidadOpen? 'red' : (dias > 3 && dias <= 10 && oportunidad.OportunidadOpen)? 'orange' : dias > 10 && oportunidad.OportunidadOpen? 'green' : {color: ''}}"
    >
      {{ oportunidad.fecha_limite | date }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="calendar" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center" *ngIf="finalizarOportunidad">
    <ion-col size="5">
      <ion-label class="datos">F. Creación</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
        {{ oportunidad.fecha_creacion | date }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="calendar" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="5">
      <ion-label class="datos"> Monto: </ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      {{ oportunidad.monto_magnitud | currency:'CL' : 'symbol' : '1.0-0' }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="cash" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="5">
      <ion-label class="datos">Probabilidad</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      {{ oportunidad.probabilidad }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="podium" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="5">
      <ion-label class="datos">Concepto</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      {{ oportunidad.concepto_creacion }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="bookmark" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center" *ngIf="!oportunidad.OportunidadOpen">
    <ion-col size="5">
      <ion-label class="datos">Concretada</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
        {{ oportunidad.oportunidadConcretada ? 'Si' : 'No'  }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="calendar" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center" *ngIf="!oportunidad.OportunidadOpen && oportunidad.oportunidadConcretada">
    <ion-col size="5">
      <ion-label class="datos">Nota Venta</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-row *ngFor="let ov of oportunidad.notaVenta">
        <ion-col size="12">
          {{ov.folio}}
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="list-box" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center" *ngIf="!oportunidad.OportunidadOpen">
    <ion-col size="6">
      <ion-label class="datos">Fecha Real Cierre</ion-label>
    </ion-col>
    <ion-col size="5" class="ion-text-right">
        {{ oportunidad.fecha_cierre| date }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="close-circle" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center" *ngIf="!oportunidad.OportunidadOpen && !oportunidad.oportunidadConcretada">
    <ion-col size="5">
      <ion-label class="datos">Razón Cierre </ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
        {{oportunidad.concepto_cierre }}
    </ion-col>
    <ion-col size="1">
      <ion-icon name="calendar" color="primary" style="font-size: 18px;"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row class="ion-align-items-center" *ngIf="!oportunidad.OportunidadOpen && !oportunidad.oportunidadConcretada && finalizarOportunidad">
  <ion-col size="5">
    <ion-label class="datos">Productos</ion-label>
  </ion-col>
  <ion-col size="6" class="ion-text-right">
    <ion-row *ngFor="let producto of oportunidad.productos">
      <ion-col size="12">
        {{producto.sku}}
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="1">
    <ion-icon name="list-box" color="primary" style="font-size: 18px;"></ion-icon>
  </ion-col>
</ion-row>

<form [formGroup]="cerrarOportunidadForm" id="form" (ngSubmit)="cerrarOportunidad()" *ngIf="oportunidad.OportunidadOpen">
  <ion-grid *ngIf="finalizarOportunidad" >
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-label class="datos">Concretada? </ion-label>
      </ion-col>
      <ion-col size="5" class="ion-text-right">
        <ion-select
          mode="ios"
          ok-text="aceptar"
          placeholder="Ingresar"
          cancel-text="cancelar"
          #selectOporConcretada
          [interfaceOptions]="optionsSelectConcretada"
          formControlName="selectOporConcretada"
          (ionChange)="setValidadores(selectOporConcretada.value)"
          >
          <ion-select-option value="true">Si</ion-select-option>
          <ion-select-option value="false">No</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="help-circle" color="primary" style="font-size: 18px;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cerrarOportunidadForm.controls['selectOporConcretada'].value === 'true'" (click)="presentPopoverOv($event)">
      <ion-col size="6">
        <ion-label class="datos">Nota Venta</ion-label>
      </ion-col>
      <ion-col size="5" class="ion-text-right">
        <ion-row>
          <ion-col size="12">
            {{ovFolio}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!ovFolio">
          <ion-col size="9" class="ion-text-right">
            <ion-icon name="add" color="success" style="font-size: 20px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="clipboard" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cerrarOportunidadForm.controls['selectOporConcretada'].value === 'false'" class="ion-align-items-center">
      <ion-col size="3">
        <ion-label class="datos">Razón</ion-label>
      </ion-col>
      <ion-col size="8" class="ion-text-right"> 
        <ion-select
          mode="ios"
          ok-text="aceptar"
          placeholder="Razón"
          cancel-text="cancelar"
          #selectConceptCierre
          [interfaceOptions]="optionsSelectConcepCierre"
          formControlName="selectConceptCierre"
          >
          <ion-select-option *ngFor="let concepto of conceptosCierre"> {{ concepto.nombre }} </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="cash" color="primary" style="font-size: 18px;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cerrarOportunidadForm.controls['selectOporConcretada'].value === 'false' 
      && cerrarOportunidadForm.controls['selectConceptCierre'].value != undefined"
      (click)="AlertAddProduct()">
      <ion-col size="4">
        <ion-label class="datos">Productos</ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-row *ngFor="let producto of listaSku; let i = index" class="ion-align-items-center">
          <ion-col size="12" class="ion-text-right">
            <ion-icon class="removeProd" name="trash" style="display: inline-block; padding-right:3px; font-size: 20px;" color="danger" (click)="removeSku(i)"></ion-icon> 
            {{producto.sku}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9" class="ion-text-right">
            <ion-icon name="add" color="success" style="font-size: 20px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="cube" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 5px;">
      <ion-col size="12" class="ion-text-center">
        <ion-button mode="md" class="finalizarButton" (click)="cancelarCierre();"> Cancelar </ion-button>
        <ion-button mode="md" class="finalizarButton" [disabled]="!cerrarOportunidadForm.valid" type="submit"> Finalizar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
