ion-item{
    font-size: 15px;
    padding-top: 5px;
}

ion-col{
    padding: 2px 0px 1px 3px;
    font-size: 14px;
}

ion-select{
    max-width: 100% !important;
    padding-left: 2px;
}

.finalizarButton{
    transform: scale(0.8);
}

.fechaCierre{
    font-weight: 600;
}

.removeProd{
    z-index: 10000;
}

.LogotipoContacto{
    position: absolute;
    z-index: 1000;
    right: -6px;
    top:-6px;
}
