<ion-app>
    <!-- <app-menu></app-menu> -->

    <!-- Menu principal -->
    <ion-menu
      side="start"
      menuId="primerMenu"
      contentId="principal"
      [ngStyle]="{'display': hideMenu() ? 'none' : ''}"
    >
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menú Principal</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <div *ngFor="let menu of listaMenu" id="menu">
            <ion-menu-toggle >
              <ion-item
                *ngIf="menu.directTo"
                [routerLink]="menu.directTo"
                routerLinkActive="active"
                detail="detail"
              >
                <ion-icon
                  slot="start"
                  [name]="menu.icono"
                ></ion-icon>

                <ion-label> {{ menu.nombre }} </ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-item button *ngIf="menu.children?.length > 0" (click)="menu.open = !menu.open"
              [class.active-parent]="menu.open" detail="false"
              [routerLink]="menu.directTo"
            >
              <ion-icon slot="start" [name]="menu.icono"></ion-icon>

              <ion-label> {{ menu.nombre }} </ion-label>
            </ion-item>

            <ion-list *ngIf="menu.open">
              <ion-menu-toggle>
                <ion-item class="sub-item" *ngFor="let sub of menu.children"
                  [routerLink]="sub.directTo"
                  routerLinkActive="active"
                >
                  <ion-icon slot="start" [name]="sub.icono"></ion-icon>

                  <ion-label> {{sub.nombre}} </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>

          <ion-menu-toggle>
            <ion-item detail="detail" (click)="abrirModal()">
              <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              <ion-label>Acerca de</ion-label>
            </ion-item>
            <ion-button mode="md" class="ion-margin" (click)="cambiarSeccion()" expand="block">
              <ion-icon slot="start" name="return-left"></ion-icon>
            <ion-label> Cambiar Sección </ion-label>
            </ion-button>
            <ion-button mode="md" class="ion-margin" (click)="cerrarSesion()" expand="block">
              <ion-icon slot="icon-only" name="log-out"></ion-icon>
            <ion-label> cerrar sesión</ion-label>
            </ion-button>
          </ion-menu-toggle>
       
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Fin menu principal -->

    <!-- Menu Asociado a las categorias  -->
    <ion-menu side="end" menuId="categoriaMenu" contentId="principal" *ngIf="_catMenu" swipeGesture="false" [ngStyle]="{'display': showMenuCat() ? 'none' : ''}">
      <!-- Menu en donde se muestran todas las categorias  -->
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title> Buscar por: </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <!-- Div que permite ocultar las categorias cuando se selecciona alguna. -->
        <div *ngIf="_catMenu.selectedCategoria == ''">
          <ion-list *ngIf="_catMenu.menuCategoriasXproducto?.length == 0">
            <ion-list-header class="list-header">
              <ion-label>  Categorías </ion-label>
            </ion-list-header>
            <div *ngFor="let item of _catMenu.menuCategorias" >
  
              <ion-menu-toggle menu="categoriaMenu" *ngIf="item.children?.length === 0">
                <ion-item button class="main-item" detail="detail" (click)="buscarCategoria(item); _catMenu.showFiltrosSubmenu()">
                  <ion-label> {{ item.title | lowercase | titlecase }} </ion-label>
                </ion-item>
              </ion-menu-toggle>
      
              <ion-item class="main-item" button *ngIf="item.children?.length > 0" [class.active-parent]="item.open" detail="false">
                <ion-label  (click)="buscarCategoria(item); _catMenu.mostrarMenu(false);"> {{ item.title | lowercase | titlecase }} </ion-label>
                <ion-icon (click)="item.open = !item.open" slot="end" name="arrow-forward" mode="ios" *ngIf="!item.open"></ion-icon>
                <ion-icon (click)="item.open = !item.open" name="close" mode="ios" *ngIf="item.open"></ion-icon>
              </ion-item>
      
              <ion-list *ngIf="item.open">
                <ion-menu-toggle menu="categoriaMenu">
                  <ion-item button class="sub-item" *ngFor="let sub of item.children" (click)="buscarCategoria(sub); _catMenu.showFiltrosSubmenu()"> 
                    <ion-label> {{sub.title | lowercase | titlecase}} </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </div>
          </ion-list>
          <!-- Fin Menu en donde se muestran todas las categorias  -->
  
          <!-- Menu de categorias asociadas a una busqueda  -->
          <ion-list *ngIf=" _catMenu.menuCategoriasXproducto?.length > 0">
            <ion-list-header class="list-header">
              <ion-label>  Categorías </ion-label>
            </ion-list-header>
            <ion-menu-toggle menu="categoriaMenu">
              <ion-item detail="detail" *ngFor="let item of _catMenu.menuCategoriasXproducto" (click)="buscarCategoria(item); _catMenu.showFiltrosSubmenu();">
                <ion-label> {{ item.name | lowercase | titlecase }} </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <!-- Fin Menu de categorias asociadas a una busqueda  -->

        </div>
        <!-- Fin Div que permite ocultar las categorias cuando se selecciona alguna. -->

        <!-- Segmento asociado a los filtros aplicados -->
        <ion-list *ngIf="_catMenu.selectedCategoria != ''">
          <ion-list-header class="list-header">
            <ion-label>  Filtros Aplicados </ion-label>
          </ion-list-header>
          <ion-item (click)="_catMenu.quitarCategoria(); _catMenu.mostrarMenu(false)"> 
            <ion-button fill="outline" class="selectedItem">
               {{ _catMenu.selectedCategoria   | lowercase | titlecase  }} 
               <ion-icon name="close" mode="ios"></ion-icon> 
            </ion-button> 
          </ion-item>

          <ion-item *ngFor="let filtroAplicado of _catMenu.selectedFiltros" (click)="_catMenu.quitarFiltro(filtroAplicado.filtro); _catMenu.mostrarMenu(false)"> 
            <ion-button fill="outline" class="selectedItem">
               {{ filtroAplicado.filtro | lowercase | titlecase }} 
               <ion-icon name="close" mode="ios"></ion-icon>
              </ion-button>
          </ion-item>
        </ion-list>
        <!-- Fin segmento asociado a los filtros aplicados -->

      <!-- Menu de filtros -->
        <ion-list *ngIf="_catMenu.selectedCategoria != '' && _catMenu.showFiltros === true && _catMenu.menuFiltros?.length > 0">
          <ion-list-header class="list-header">
            <ion-label>  Filtros </ion-label>
          </ion-list-header>
          <div *ngFor="let filtro of _catMenu.menuFiltros" >

            <ion-menu-toggle menu="categoriaMenu" *ngIf="filtro.children?.length === 0 && !_catMenu.valSelectedFiltro(filtro.title)">
              <ion-item button class="main-item" detail="detail" (click)="buscarCategoria(filtro); _catMenu.mostrarMenu(false)">
                <ion-label> {{ filtro | lowercase | titlecase }} </ion-label>
              </ion-item>
            </ion-menu-toggle>
    
             <ion-item class="main-item" button *ngIf="filtro.children?.length > 0 && !_catMenu.valSelectedFiltro(filtro.title) " [class.active-parent]="filtro.open" detail="false" (click)="filtro.open = !filtro.open">
              <ion-label> {{ filtro.title | lowercase | titlecase }} </ion-label>
              <ion-icon slot="end" name="arrow-forward" mode="ios" *ngIf="!filtro.open"></ion-icon>
              <ion-icon name="close" mode="ios" *ngIf="filtro.open"></ion-icon>
            </ion-item>
    
            <ion-list *ngIf="filtro.open">
              <ion-menu-toggle menu="categoriaMenu">
                <ion-item button class="sub-item" *ngFor="let subFiltro of filtro.children" (click)="buscarFiltro(subFiltro, filtro.title); _catMenu.mostrarMenu(false)"> 
                  <ion-label> {{subFiltro.title | lowercase | titlecase}} </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
        </ion-list>
      </ion-content>
      <!-- Fin Menu de filtros -->

      <br>
      <ion-item *ngIf="_catMenu.menuCategoriasXproducto?.length > 0" (click)="_catMenu.limpiarFiltros()">
        <ion-button expand="block">
          Limpiar Filtros
        </ion-button>
      </ion-item>
      
    </ion-menu>
      <!-- Fin Menu Asociado a las categorias  -->
      
    <ion-router-outlet id="principal"></ion-router-outlet>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>