#menu .active {
    --ion-text-color: var(--ion-color-primary);
    ion-icon{
        --ion-text-color-rgb: var(ion-color-primary);
    }
}

ion-menu .active-parent{
    font-weight: 500;
}

ion-menu .sub-item{
    padding-left: 20px ;
    font-size: 13px !important;
}

ion-menu .main-item{
    font-size: 15px !important;
    font-weight: 510;
}

ion-menu .list-header{
    font-weight: 900;
    text-decoration: underline ;
}

.selectedItem{
    font-size: 11px;
}