<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title style="font-weight: bold;">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6"></ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>
      </ion-grid>
      {{data.documento}}</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content >

    <ion-grid fixed>
      <ion-row style="text-align: center;">
        <ion-col size="12" style="font-size:1.1rem;color:#333;font-weight:bold;">
          {{data.referencia[0].nombre_entidad}}
        </ion-col>
        <ion-col size="12" style="font-size:0.9rem;color:#666">
          {{data.referencia[0].rut_entidad}}
        </ion-col>
        <ion-col size="12" style="font-size:1.1rem;color:#333;font-weight:bold;">
          {{data.referencia[0].monto | formatoMoneda}}
        </ion-col>
      </ion-row>
    </ion-grid>

        
        


    <ion-label>
      <ion-card-subtitle class="ion-text-left" style="margin-top:0">
        <!-- <ion-badge class="cuadro" color="tertiary" outline>{{data.documento}}</ion-badge><br/> -->
        <ion-text color="danger" style="font-weight:bold;">
          <ion-grid >
            <ion-row>
              <ion-col size="4" style="text-align: right;">ORIGEN:</ion-col><ion-col size="8">{{data.almacen_envia}} </ion-col>           
            </ion-row>
            <ion-row>
              <ion-col size="4" style="text-align: right;">DESTINO:</ion-col><ion-col size="8">{{data.referencia[0].almacen_retira}}</ion-col>           
            </ion-row>
          </ion-grid>
        </ion-text> 
      </ion-card-subtitle>
      </ion-label>



    <ng-container  *ngFor="let guia of data.guias; let j = index" >

      <ion-item-group>
        <ion-item-divider color="precaucion">
          <ion-grid >
            <ion-row>
              <!-- <ion-col size="3">{{doc.tipoDocumentoNombre}}</ion-col> -->
              <ion-col size="5" style="text-align: left;">
                <ion-label>Guía Despacho</ion-label>
              </ion-col>
              <ion-col size="3" style="text-align: left;">
                <ion-badge class="cuadro" color="tertiary">{{guia.folio_guia}}</ion-badge>
              </ion-col>
              <ion-col size="4" style="text-align: right;">
                {{guia.items.length}} filas
              </ion-col>
            </ion-row>
          
          
          </ion-grid>

          
          <!-- <ion-label slot="start">{{doc.documento.tipoDocumentoNombre}}</ion-label>
          <ion-badge slot="end" class="cuadro" color="tertiary">{{doc.documento.documentoNro}}</ion-badge>
          <ion-badge slot="end" color="medium">{{doc.documento.documentoRaiz}}</ion-badge> -->
        </ion-item-divider>
      </ion-item-group>  

      

      <ion-list  >

          <ion-item  *ngFor="let prod of guia.items; let k = index" >
            <ion-grid >              
              <ion-row>
                <ion-col size="12">
                  <ion-label  class="fixedLabel ion-text-wrap" >
                    <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;">{{prod.item}}</ion-badge> 
                    <ion-badge  class="cuadro" color="precaucion" outline>CANT: {{prod.cant_enviada}} <span style="color:#333;font-weight:normal;font-size:0.8rem">[{{ prod.unitid }}]</span></ion-badge>
                    <p class="item-nombre ion-text-wrap" >
                      {{prod.nombre_item}}
                    </p>
                  </ion-label>
                </ion-col>
                
              </ion-row>
            </ion-grid>

          </ion-item>
      </ion-list>
    </ng-container>
 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="data.estado_documento=='Facturado' && showBtn" (click)="recibirOv()" expand="block" >Confirmar Recepción</ion-button>
    <ion-button (click)="cancelar()" color="danger" expand="block">Cerrar</ion-button>          
  </ion-toolbar>
</ion-footer>