
<ion-card  mode="md">
  <ion-card-header>
      <ion-card-title>
        {{resumen.titulo}} 
        <span *ngIf="detalleTitulo?.length > 0"> - {{ detalleTitulo | lowercase | titlecase }} </span>
      </ion-card-title>
  </ion-card-header>
  <ion-card-content style="padding-right: 2px;"  mode="md">
      <table *ngIf="resumen">
          <tr>
              <th class="header" *ngFor="let header of resumen.header">{{header}}</th>
              <th class="header" *ngIf="indice <= 2"><ion-icon name="clipboard"></ion-icon></th>
          </tr>
           <tr  class="body" *ngFor="let zona of resumen.body; let i=index" class="itemHover"
              (click)="enviarObjeto({'indice':indice,'slides':slidesAdmin,'zona':zona,'tipo':sucursal})">
              <td>{{zona.nombreVendedor | lowercase | titlecase }}</td>
              <td *ngIf="filtro==='Mensual'">{{zona.Venta/1000000 | number: '1.0-0'}}</td>
              <td *ngIf="filtro==='Mensual'">{{indice < 3? (zona.MetaAcumulada /1000000 | number: '1.0-0') : '-'}}</td>
              <td *ngIf="filtro==='Mensual'" [class.rojo]="zona.porcentaje <76"
                  [class.amarillo]="75< zona.porcentaje && zona.porcentaje <94 "
                  [class.verde]=" zona.porcentaje >94">{{indice < 3? zona.porcentaje : '-'}}</td>
              <td *ngIf="filtro==='Diario'">{{ indice < 3? (zona.VentaDia /1000000 | number: '1.0-0') : (zona.VentaDia | montoAbreviado : false) }}</td>
              <td *ngIf="filtro==='Diario'"> {{ indice < 3? (zona.MetaDia /1000000 | number: '1.0-0') : '-'}}</td>
              <td *ngIf="filtro==='Diario'" [class.rojo]="zona.porcentajeD <76"
                  [class.amarillo]="75< zona.porcentajeD && zona.porcentajeD <94 "
                  [class.verde]=" zona.porcentajeD >94">{{indice < 3? zona.porcentajeD : '-'}}</td>
              <td *ngIf="indice <= 2">  <ion-icon name="arrow-forward" mode="ios"></ion-icon> </td>
          </tr>
          <tr  *ngIf="filtro==='Mensual'" class="footer">
              <td>Total</td>
              <td>{{resumen.totalVenta /1000000 | number: '1.0-0'}}</td>
              <td>{{indice < 3? (resumen.totalMeta /1000000 | number: '1.0-0') : '-'}}</td>
              <td>{{indice < 3? (resumen.promedio | number: '1.0-1') : '-'}}</td>
          </tr> 
          <tr  *ngIf="filtro==='Diario'"class="footer">
            <td>Total</td>
            <td>{{indice < 3? (resumen.totalVentaD /1000000 | number: '1.0-0') : (resumen.totalVentaD | montoAbreviado : false)}}</td>
            <td>{{indice < 3? (resumen.totalMetaD /1000000 | number: '1.0-0') : '-'}}</td>
            <td>{{indice < 3? (resumen.promedioD | number: '1.0-0') : '-' }}</td>
        </tr> 
      </table>
      
      <ion-grid *ngIf="resumen && indice == 1 && resumen.body?.length > 0 " class="ion-padding-to">
          <ion-row class="justify-content-center align-items-center ">
              <ion-col size="12">
                <ion-button size="small" fill="outline" class="updateButton" (click)="ActualizarDatos()" mode="md"> Actualizar <ion-icon name="md-refresh"></ion-icon> </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>