<ion-item
[detail]="isCotizacion ? 'false' : 'detail'"
(click)="detalleArticulo(articulo)"
>
<ion-avatar slot="start">
  <img
    *ngIf="articulo.images[0]"
    style="height: 50px;  width: 50px"
    [src]="articulo.images[0]['250']?  articulo.images[0]['250'][0] :  articulo.images[0]['150']? articulo.images[0]['150'][0] : './assets/img/place-150x150.png'"
    onError="this.src='./assets/img/place.png'" style="width: 200px"
  >

  <img
    *ngIf="!articulo.images[0]"
    style="height: 50px;  width: 50px"
    [src]="articulo.images['250']?  articulo.images['250'][0] :  articulo.images['150']? articulo.images['150'][0] : './assets/img/place-150x150.png'"
    onError="this.src='./assets/img/place.png'" style="width: 200px"
  >
</ion-avatar>

<div>
  <ion-label
    class="encabezado"
    color="primary"
  >{{articulo.sku}}</ion-label>

  <p>{{articulo.nombre}}</p>
</div>

<div slot="end">
  <div class="ion-text-end">
    
  </div>

  <ion-label class="ion-text-end encabezado">Cant: {{articulo.cantidad}}</ion-label>

  <ion-label class="ion-text-end datos" *ngIf="articulo.precio">
    <span style="font-size: 11px;"> Sub.Total Neto </span><br> {{ (articulo.precioEscaladoNeto * articulo.cantidad) | formatoMoneda}}
  </ion-label>
</div>
</ion-item>