<ion-header no-border="no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title slot="start" class="ion-no-padding"> Catálogo </ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/carro-compra">
        <ion-badge color="primary">{{items}}</ion-badge>
        <ion-icon color="light"  name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #buscarArt class="white" placeholder="Buscar..." animated="animated"
        (keypress)="busqueda = buscarArt.value; buscar($event)" [(ngModel)]="busqueda">
      </ion-searchbar>

      <ion-button (click)="openMenuCategorias()"> <ion-icon name="funnel" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>   
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="6" style="white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;">
          <strong> Clnt: </strong>
          <ion-label [style.color]="cliente? '' : 'red'"> {{ cliente ? (cliente.nombre  | lowercase | titlecase) : 'No seleccionado' }} </ion-label>
        </ion-col>
        <ion-col size="6" *ngIf="vendedor && vendedor.codBodega" style="white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;">
          <strong> Suc: </strong> {{ vendedor.codBodega | lowercase | titlecase }}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <div class="ion-text-center">
      <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
    </div>
    <ion-card-content *ngIf="listadoArticulo">
      <app-product-item-view *ngFor="let articulo of  listadoArticulo" [articulo]="articulo" (actualizaCarro)="obtenerCarro()"> </app-product-item-view> 
      
      <ion-item *ngIf="listadoArticulo.length == 0 && !obtener">
        <strong> {{ mensajeError }} </strong>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando mas productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
