
.card-content-md, .card-content-ios {
   
    -webkit-padding-start: 0px !important; 
    padding-inline-start: 0px !important; 
} 

.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ion-item {
    --ion-safe-area-right: 0 !important;
  }

  p{
      font-weight: bolder;
  }
  ion-button {
	ion-badge {
		position: absolute;
		opacity: 0.9;
        top: 0.1rem;
        right: 0.2rem;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
    }
}
