<ion-header>
  <ion-toolbar>
    <ion-title>Imagen Dañado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="d-flex">
  <ion-slide style="width:100%;">
    <img [src]="image.image" alt="" style="max-width:100%;max-height:100%">
  </ion-slide>
  


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6"> 
          <ion-button (click)="quitarImagen()" expand="full" shape="round">
            Quitar Foto
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="aceptar()" expand="full"  shape="round">
            Aceptar
          </ion-button> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>