ion-item{
    font-size: 15px;
    padding-top: 3px;
    --inner-padding-star: 2px;
    --inner-padding-end: 2px;
    --padding-start: 2px;
}

ion-col{
    padding: 3px 0px 1px 3px;
    font-size: 14px;
}

.tituloConcepto{
    text-decoration: underline;
    font-weight: 600;
}

ion-card-header{
    color: var(--ion-color-primary);
    font-weight: 600;
    padding-bottom: 2px;
}