  <ion-card>
    <ion-card-header>
      Total de Oportunidades
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="ResumenOportunidades">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="datos">
                Monto Total
              </ion-col>
              <ion-col size="6"  class="ion-text-end">
                {{ResumenOportunidades.montoTotal | currency:'CL' : 'symbol' : '1.0-0' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="9" class="datos">
                Num. Oportunidades
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ResumenOportunidades.cantidad}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Oportunidades Abiertas
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="ResumenOportunidades && ResumenOportunidades.abiertas">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="datos">
                Monto Total
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.abiertas.montoTotal | currency:'$' : 'symbol' : '1.0-0' }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="datos">
                Cantidad Total
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.abiertas.total }}
              </ion-col>
            </ion-row>
            <app-detalle-concepto [conceptos]="ResumenOportunidades.abiertas.conceptosCreacion" concepName="Conceptos Creacion"></app-detalle-concepto>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Oportunidades Cerradas
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="ResumenOportunidades && ResumenOportunidades.cerradas">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="datos">
                Monto Total
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.cerradas.montoTotal | currency:'$' : 'symbol' : '1.0-0' }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="datos">
                M. Concretadas
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.cerradas.montoConcretadas | currency:'$' : 'symbol' : '1.0-0' }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="datos">
                M. No Concretadas
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.cerradas.montoNoConcretadas | currency:'$' : 'symbol' : '1.0-0' }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="datos">
                Cantidad Total
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.cerradas.total }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="datos">
                C. Concretadas
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.cerradas.totalConcretadas }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="datos">
                C. No Concretadas
              </ion-col>
              <ion-col class="ion-text-end">
                {{ResumenOportunidades.cerradas.totalNoConcretadas }}
              </ion-col>
            </ion-row>
            <app-detalle-concepto [conceptos]="ResumenOportunidades.cerradas.conceptosCreacion" concepName="Conceptos Creacion"></app-detalle-concepto>
            <app-detalle-concepto [conceptos]="ResumenOportunidades.cerradas.conceptosCierre" concepName="Conceptos Cierre"></app-detalle-concepto>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

