<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Detalle vendedor</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light" (ionChange)="cambioPagina( $event,slidesVendedor )">
      <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" checked="pag.icon==='person'">

        <ion-icon [name]="pag.svg">
        </ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slidesVendedor>
    <ion-slide>
      <app-datos-vendedor [vendedor]="vendedor" [hidden]="indiceActual == 0? false : true" [grafico]="grafico" [restaMes]="restaMes"></app-datos-vendedor>
    </ion-slide>
    <ion-slide>
      <app-objetivos-vendedor [cambio]="cambio" [hidden]="indiceActual == 1? false : true"></app-objetivos-vendedor>
    </ion-slide>
    <ion-slide>
      <app-ventas-vendedor [detalle]="detalle" [hidden]="indiceActual == 2? false : true"></app-ventas-vendedor>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/vendedores' ]">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/clientes' ]">
        <ion-label>Clientes</ion-label>
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>