<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title>Resumen venta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
