<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">
      {{ viewTitle  }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Hoy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card for adding a new event -->


  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="12" [ngClass]="clienteSeleccionado ? '' : 'ion-text-center'" [ngStyle]="{'padding-left': clienteSeleccionado ? '10px' : '0px'}" style="overflow: hidden; white-space:nowrap; text-overflow: ellipsis;">
      <ion-badge *ngIf="!clienteSeleccionado" color="danger">Seleccione cliente para crear evento</ion-badge>
      <ion-label *ngIf="cliente && clienteSeleccionado"><strong> Cliente: </strong> {{ cliente.nombre | lowercase | titlecase }}</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
        (click)="changeMode('month')">Mes</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
        (click)="changeMode('week')">Semana</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">
        Dia</ion-button>
    </ion-col>

    <!-- Move back one screen of the slides -->
    <ion-col size="4" class="ion-text-left">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center ion-align-self-center">
      <ion-label class="ion-text-capitalize">{{title}}</ion-label>
    </ion-col>
    <!-- Move forward one screen of the slides -->
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [showEventDetail]="false" [allDayLabel]="'Todo el dia'" [eventSource]="eventSource"
    [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" 
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30"
    startingDayWeek="1">
  </calendar>

   <ion-card>
    <ion-card-content class="prueba">
      <ion-item detail="detail" style="padding-top: 8px;" *ngFor="let evento of eventos"
        (click)="onEventSelected(evento)">
       <div slot="start" style="margin-bottom: 3px;">
          <calendario [fecha]="evento.fechaProgramada"></calendario>
        </div> 

        <p class="ion-margin-bottom">{{evento.nombreCliente}}</p>
      </ion-item>
      <ion-item *ngIf="eventos.length===0">
        <p class="ion-margin-bottom">No registra visitas</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 15% !important">
    <ion-fab-button (click)="abrirModal()" [disabled]="!clienteSeleccionado">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="margin-bottom: 30%"></div>
</ion-content>