.item-sku{
    font-weight:bold;
    font-size:0.9rem;
    
}

.item-nombre{
    font-weight:bold;
    font-size:0.8rem;
    color:#555;
}

.inp-cantidad{
    text-align:right;
    font-size: 1.2rem;
    border: 1px solid #CCC;
    font-weight:bold;
    max-width:5rem;
    max-height:3.5rem;
}

.fixedLabel {
    min-width: 100% !important;
    max-width: 100% !important;
}

ion-badge.cuadro{
    border-radius:2px;
}

.cant_recibida,.cant_pendiente{
    -border:1px solid;
    top:-0.3rem;
    font-style: italic;
    color:#777;
}

ion-text .small.txt_cantItems,
small.txt_cantItems{
    --color:dark;
    font-weight:bold;
}

.cant_recibida.resaltado,.cant_pendiente.resaltado{
    font-size:0.8rem;
    font-weight:bold;
}
sub.success{
    color: #2f784c;
}
sub.warning{
    color: #8c7017;
}
sub.danger{
    color: #d0001b;
}

.slidesRecibo{
    height:100% !important;
    width:100% !important;
}

.slidesRecibo ion-slide{
    height:100% !important;
    width:100% !important;
}

.titulo_campo{
    font-size: 1.2rem;
    font-weight:bold;
}

.fullfull{ 
    width:100%;
    height:100%;
    margin:0 0;
    padding:0 0;
    overflow-y: auto;
    position:relative;
}
ion-card.fullfull ion-card-content{
    padding:0 0;
    margin:0 0;
}

.input_patente{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size:1.5rem;
}


.input_codbarra{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size:1.0rem;
}

.iconComplete{
    font-size:1.8rem;
    color:#28ba62;
}

.alert-confirm-cierre{
    text-align: center;
}
.colItemCantidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: end;
}

.toogleDocumento:hover{
    border-bottom: 2 px solid #666; 
}

.asheet-multiples-filas .action-sheet-group{
    border:1px solid #000;

}