<ion-header >
  <ion-toolbar color="light" style="color:#444">
    <ion-buttons slot="start">
      <ion-menu-button       
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title slot="start" class="ion-no-padding" > Recibir Mercancías </ion-title>

  </ion-toolbar>
  <ion-segment [value]="pestaniaActual"  scrollable mode="md" (ionChange)="segmentEvent($event)" >
    <ion-segment-button value="0">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-icon name="copy" style="font-size:2em;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-icon name="cube" style="font-size:2em;"></ion-icon>
    </ion-segment-button>
   <!-- <ion-segment-button value="3">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
      </svg>
    </ion-segment-button>-->
  </ion-segment>
</ion-header>


<ion-content >
  <!-- ========================================= -->
  <!-- SLIDES INI-->
  <!-- ========================================= -->
  <ion-slides #slidesRecibo class="slidesRecibo" [options]="slideOpts" > 
    <ion-slide >
      <ion-card class="fullfull">
        <ion-card-header color="primary">
          <!--<ion-card-subtitle>
              <svg width="2em" height="2em" style="margin-right:0.2rem;" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg> 
          </ion-card-subtitle>-->
          <ion-card-title>Transportista</ion-card-title>
        </ion-card-header>
        <ion-card-content>       

            <ion-list>
              <ion-radio-group value="" [(ngModel)]="empresaTransportista">
                <ion-list-header class="ion-text-left">
                  <ion-label class="titulo_campo">Seleccione transportista:</ion-label>
                </ion-list-header>
            
                <ion-item *ngFor="let transportista of transportistas">
                  <ion-label>{{transportista}}</ion-label>
                  <ion-radio slot="start" [value]="transportista" ></ion-radio>
                </ion-item>
            
              </ion-radio-group>

           
            </ion-list>

            <ion-list>
              <ion-item>                
                <ion-label  class="titulo_campo"> Patente camión:</ion-label>
                
                <ion-input class="ion-text-right input_patente" [(ngModel)]="patenteCamion" ></ion-input>

              </ion-item>


            </ion-list>



        </ion-card-content>
    </ion-card>


    </ion-slide>

    <ion-slide>
        <ion-card  class="fullfull">
          <ion-card-header  color="secondary">
            <ion-card-title>Recepción Documentos</ion-card-title>            
          </ion-card-header>
          <ion-card-content>
    
            <ion-list>
                  <ng-container *ngFor="let docu of docsLocal; let i = index" >
                      <!-- ========================================= -->
                      <!-- DOCUMENTO GUIA TR - INI -->
                      <!-- ========================================= -->
                      <ion-item *ngIf="docu.tipoDocumento=='GUIA-TR'">
                        <ion-checkbox slot="start" color="primary" [(ngModel)]="docu.check" (ionChange)="marcarQuitarGuiaRecibida(docu)"></ion-checkbox>
                        <ion-label>
                         
                          <ion-badge class="cuadro" color="tertiary" style="margin-bottom: -5px;">{{ docu.documentoNro }} </ion-badge> 
                          
                           <ion-text>
                           {{ docu.tipoDocumentoNombre }}  <small *ngIf="docu.items.length==1" class="txt_cantItems" style="color:#000;">{{ docu.items.length }}  ítem</small><small *ngIf="docu.items.length>1" class="txt_cantItems">{{ docu.items.length }}  ítems</small>
                           </ion-text>
                          
                           <p> <ion-badge  color="medium">{{ docu.documentoRaiz }} </ion-badge> {{ docu.dataTR.almacen_envia }} >> {{ docu.dataTR.almacen_recibe }}  <br/><ion-badge *ngIf="docu.lpn" color="precaucion">LPN:{{docu.lpn}}</ion-badge></p>
                           <p> <ion-text [color]="determinarEstado(docu).color" style="font-weight: bold;font-style: italic;font-size:0.8rem;">
                                  {{ determinarEstado(docu).text }}
                                </ion-text>  
                           </p>
                           
                        </ion-label>
                        
                        
                        
                      </ion-item>
                      <!-- ========================================= -->
                      <!-- DOCUMENTO GUIA TR - FIN -->
                      <!-- ========================================= -->
                
                      <!-- ========================================= -->
                      <!-- DOCUMENTO OC - INI --> 
                      <!-- ========================================= -->
                      <ion-item *ngIf="docu.tipoDocumento=='OC'">
                        <ion-checkbox slot="start" color="primary" [(ngModel)]="docu.check" (ionChange)="marcarQuitarGuiaRecibida(docu)" style="margin-inline-end: 10px;"></ion-checkbox>
                        <ion-label style="padding-left:10px;" class="ion-text-wrap">
                          <ion-badge class="cuadro" color="tertiary">{{ docu.documentoNro }} </ion-badge>
                           {{ docu.nombre_proveedor }} <small style="color:#555;">{{ docu.almacen_recibe }}</small>
                          <p> 
                            <ion-text [color]="determinarEstado(docu).color" style="font-weight: bold;font-style: italic;font-size:0.8rem;">
                              {{ determinarEstado(docu).text }}
                            </ion-text>  
                            <small *ngIf="docu.items.length==1" class="txt_cantItems" style="color:#000">{{ docu.items.length }} ítem</small>
                            <small *ngIf="docu.items.length>1" class="txt_cantItems" style="color:#000">{{ docu.items.length }} ítems</small>
                          </p>
                        </ion-label>
                      </ion-item>
                      <!-- ========================================= -->
                      <!-- DOCUMENTO OC - FIN -->
                      <!-- ========================================= -->
                  </ng-container>
                
                  </ion-list>
                  <ion-list *ngIf="docsLocal.length==0">
                    <ion-slide>
                    <h5>Realice lectura</h5>
                  </ion-slide>
                  </ion-list>

          </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide>

      <ion-card class="fullfull" id="contenidoProductos">
        <ion-card-header color="tertiary">
          <ion-card-title>Recepción Artículos 
             <ion-input [disabled]="inputCodigoProductoDisable" id="inputCodigoProducto" #ionInputCodigoProducto [(ngModel)]="inputCodigoProducto" type="text" class="input_codbarra"  placeholder="Codigo de barra"></ion-input> 
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
            <ion-list style="padding-top:0px;">



              <ion-item-group *ngFor="let doc of docsLocal; let i = index">
                
                <!-- ========================================= -->
                <!-- DOCUMENTO GUIA TR - INI -->
                <!-- ========================================= -->
                <ng-container *ngIf="doc.tipoDocumento=='GUIA-TR'">
                <ion-item-divider color="precaucion" class="ion-text-wrap" style="padding-left:0;height:100%" [id]="'docu_'+doc.documentoNro">
                  <!-- <ion-button (click)="opcionesDeDocumento(doc)" color="warning"  slot="start" style="padding:0;margin:0;"><ion-icon name="settings"></ion-icon></ion-button> -->
                 <ion-icon *ngIf="cantFilasSinCompletar(doc.items) > 0" name="settings" (click)="opcionesDeDocumento(doc)" slot="start" style="padding:0;margin:0;color:#FFF;"></ion-icon>
                  <ion-grid fixed>
                    <ion-row class="toogleDocumento" (click)="doc.check=!doc.check">
                      <!-- <ion-col size="3">{{doc.tipoDocumentoNombre}}</ion-col> -->
                      <ion-col size="10" style="text-align: left;">
                        Guía Despacho: <ion-badge class="cuadro" color="tertiary">{{doc.documentoNro}}</ion-badge> <ion-badge color="medium">{{doc.documentoRaiz}}</ion-badge> <ion-badge *ngIf="doc.lpn" color="precaucion">LPN:{{doc.lpn}}</ion-badge>
                        <p style="text-align: left;font-weight:bold;color:#666">{{ doc.dataTR.almacen_envia }} >> {{ doc.dataTR.almacen_recibe }}</p>
                      </ion-col>
                      <ion-col size="2">[ {{ cantidadProductosIngresados(doc.items) }} / {{doc.items.length}} ]</ion-col>
                    </ion-row>
                   
                  
                  </ion-grid>

                
                </ion-item-divider>
            
                      <ng-container *ngIf="doc.check"  >
                        <ion-list  >
                          <ion-item-sliding *ngFor="let prod of doc.items; let j = index"
                                              [id]="doc.documentoNro+'_'+doc.items[j].inventtransid"
                                              
                                                [disabled]="doc.items[j].cant_a_recibir==0"  >
                            
                            <!--###################################################################-->    
                              <!--<START ###################################################################-->    
                                <ion-item-options side="start">
                                  <ion-item-option (click)="modalDiscrepancias(prod,doc)"  color="danger" style="font-weight: bold;">Declarar<br/>Dañados</ion-item-option>
                                </ion-item-options>
                              <!--START> ###################################################################-->    
                              <!--###################################################################-->   
                              
                            <ion-item style="--padding-start: 10px;"> 
                              <ion-grid fixed>
                                <ion-row>
                                  <ion-col size="9">
                                    <ion-label fixed class="fixedLabel ion-text-wrap" >
                                      <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;">{{prod.item}}</ion-badge> 
                                      <ion-badge  class="cuadro" color="precaucion" outline>CANT: {{prod.cant_enviada}} <span style="color:#333;font-weight:normal;font-size:0.8rem">[{{ prod.unitid }}]</span></ion-badge>
                                      
                                      <p><ion-text color="dark"><sub class="cant_recibida resaltado" [class.success]="prod.cant_recibida == prod.cant_enviada" [class.warning]="prod.cant_recibida < prod.cant_enviada" [class.danger]="prod.cant_recibida > prod.cant_enviada"> <strong> Recibido:</strong> {{prod.cant_recibida}}  </sub> <sub class="cant_pendiente resaltado" [class.warning]="prod.cant_a_recibir > 0" [class.success]="prod.cant_a_recibir == 0" ><strong> Pendiente:</strong> {{prod.cant_a_recibir}}</sub></ion-text></p>
    
                            
                                      <p class="item-nombre ion-text-wrap" >
                                        {{prod.nombre_item}}
                                      </p>
                                    </ion-label>

                                  </ion-col>
                                  <ion-col size="3" class="ion-text-right" *ngIf="prod.cant_a_recibir<=0">
                                    <ion-icon name="done-all" class="iconComplete"></ion-icon>
                                  </ion-col>
                                  <ion-col size="3"  class="ion-text-right" class="colItemCantidad"  *ngIf="prod.cant_a_recibir>0">
                                    <ion-input type="number" min="0" step="1" class="inp-cantidad"  [(ngModel)]="prod.cantidadUsuario"></ion-input>
                                    <p *ngIf="prod.deterioroUsuario" class="item-nombre ion-text-wrap" style="color:#d90722" >
                                      {{prod.deterioroUsuario}} <span *ngIf="prod.deterioroUsuario==1">dañado</span><span *ngIf="prod.deterioroUsuario>1">dañados</span>
                                    </p>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-item> 
                            
                            <!--###################################################################-->    
                              <!--<END ###################################################################-->    
                              <ion-item-options side="end">
                                <!-- <ion-item-option (click)="asignarCantUsuario( prod , prod.cant_a_recibir )" color="medium"> <span class="item-sku">PEND:</span> <p> {{prod.cant_a_recibir}} </p> </ion-item-option> -->
                                <ion-item-option (click)="slideItemAsignarCantUsuario( prod , prod.cant_a_recibir , doc.documentoNro+'_'+doc.items[j].inventtransid )" color="medium"> <p><span class="item-sku">PENDIENTE: </span></p> <p>{{prod.cant_a_recibir}}</p>  </ion-item-option>
                                
                                <ion-item-option (disabled)="(prod.cantidadUsuario+1)>prod.cant_a_recibir" (click)="slideItemAsignarCantUsuario( prod , ( prod.cantidadUsuario ? prod.cantidadUsuario+1 : 1), doc.documentoNro+'_'+doc.items[j].inventtransid )" color="tertiary"> <span class="item-sku" style="font-size:1.3rem;">+ 1</span> </ion-item-option>
                              </ion-item-options>
                              <!--END> ###################################################################-->    
                              <!--###################################################################-->  

                            </ion-item-sliding>
                          </ion-list>
                      </ng-container>
                   
                </ng-container>
                <!-- ========================================= -->
                <!-- DOCUMENTO GUIA TR - FIN -->
                <!-- ========================================= -->
                    
                <!-- ========================================= -->
                <!-- DOCUMENTO OC - INI -->
                <!-- ========================================= -->
                <ng-container *ngIf="doc.tipoDocumento=='OC'">
                  <ion-item-divider color="precaucion" class="ion-text-vgwrap" style="padding-left:0;" [id]="'docu_'+doc.documentoNro">                    
                   <!--  <ion-button (click)="opcionesDeDocumento(doc)" color="warning"  slot="start" style="padding:0;margin:0;"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-button> -->
                    <ion-grid >
                    <ion-row> 
                      <ion-col size="7"><ion-label class="cuadro ion-text-wrap ion-text-left">{{doc.nombre_proveedor}}</ion-label></ion-col>
                      <ion-col size="3"><ion-badge class="cuadro ion-text-wrap ion-text-center" color="tertiary">{{doc.documentoNro}}</ion-badge></ion-col>
                      <ion-col size="2"><ion-label class="cuadro ion-text-wrap ion-text-right">[{{ cantidadProductosIngresados(doc.items) }} / {{doc.items.length}}] </ion-label></ion-col>
                    </ion-row>

                  </ion-grid>
                    
                  </ion-item-divider>
              
                        <ng-container *ngIf="doc.check"  >
                          <ion-list  >
                            <ion-item-sliding *ngFor="let prod of doc.items; let j = index" 
                                                [id]="doc.documentoNro+'_'+doc.items[j].inventtransid"
                                                  [disabled]="doc.items[j].cant_pendiente_entrega==0">
                        
              
                                <!--###################################################################-->    
                                <!--<START OPTIONS###################################################################-->    
                             <!--    <ion-item-options side="start">
                                  <ion-item-option (click)="modalDiscrepancias(prod,doc)"  color="danger" style="font-weight: bold;">Declarar<br/>Dañados</ion-item-option>
                                </ion-item-options> -->
                                <!--START OPTIONS> ###################################################################-->    
                                <!--###################################################################-->   
                                

                                <ion-item style="--padding-start: 10px;"> 
                                  <ion-grid fixed>
                                    <ion-row>
                                      <ion-col size="9">
                                        <ion-label fixed class="fixedLabel ion-text-wrap" >
                                          <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;">{{prod.item}}</ion-badge> 
                                          <ion-badge  class="cuadro" color="warning" outline>CANT: {{prod.cant_ordenada}} <span style="color:#333;font-weight:normal;font-size:0.8rem">[{{ prod.unitid_compra }}]</span></ion-badge>
      
                                          <p><ion-text color="dark"><sub class="cant_recibida resaltado" [class.success]="prod.cant_recibida == prod.cant_ordenada" [class.warning]="prod.cant_recibida < prod.cant_ordenada" [class.danger]="prod.cant_recibida > prod.cant_ordenada"> <strong> Recibido:</strong> {{prod.cant_recibida}}</sub> <sub class="cant_pendiente resaltado" [class.warning]="prod.cant_pendiente_entrega > 0" [class.success]="prod.cant_pendiente_entrega == 0" ><strong> Pendiente:</strong> {{prod.cant_pendiente_entrega}}</sub></ion-text></p>  
      
                                          <p class="item-nombre ion-text-wrap" >
                                            {{prod.nombre_item}}
                                          </p>
                                          <p class="item-nombre ion-text-wrap" >
                                           
                                            {{prod.numero_parte}}
      
                                            <ion-chip outline style="border-radius:2px;padding:0.1em" *ngIf="prod.barcode">
                                              <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-upc" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"></path>
                                              </svg>
                                              <ion-label>{{prod.barcode}}</ion-label>
                                            </ion-chip>
                                          </p>
                                        </ion-label>    
                                      </ion-col>
                                      <ion-col size="3" class="ion-text-right" *ngIf="prod.cant_pendiente_entrega<=0">
                                        <ion-icon name="done-all" class="iconComplete"></ion-icon>
                                      </ion-col>
                                      <ion-col size="3"  class="ion-text-right" class="colItemCantidad"  *ngIf="prod.cant_pendiente_entrega>0">
                                        <ion-input type="number" min="0" step="1" class="inp-cantidad"  [(ngModel)]="prod.cantidadUsuario"></ion-input>
                                        <p *ngIf="prod.deterioroUsuario" class="item-nombre ion-text-wrap" style="color:#d90722" >
                                          {{prod.deterioroUsuario}} <span *ngIf="prod.deterioroUsuario==1">dañado</span><span *ngIf="prod.deterioroUsuario>1">dañados</span>
                                        </p>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </ion-item>
                             
                                <!--###################################################################-->    
                                <!--<END ###################################################################-->    
                                <ion-item-options side="end">
                                  <ion-item-option (click)="slideItemAsignarCantUsuario( prod , prod.cant_pendiente_entrega , doc.documentoNro+'_'+doc.items[j].inventtransid )" color="medium"> <p><span class="item-sku">PENDIENTE: </span></p> <p>{{prod.cant_pendiente_entrega}}</p>  </ion-item-option>
                                  <ion-item-option (disabled)="(prod.cantidadUsuario+1)>prod.cant_a_recibir" (click)="slideItemAsignarCantUsuario( prod , ( prod.cantidadUsuario ? prod.cantidadUsuario+1 : 1), doc.documentoNro+'_'+doc.items[j].inventtransid )" color="tertiary"> <span class="item-sku" style="font-size:1.3rem;">+ 1</span> </ion-item-option>
                                </ion-item-options>

                                
                                <!--END> ###################################################################-->    
                                <!--###################################################################-->  

            
                              </ion-item-sliding>
                            </ion-list>
                        </ng-container>
                     
                  </ng-container>
                  <!-- ========================================= -->
                  <!-- DOCUMENTO OC - FIN -->
                  <!-- ========================================= -->
                  
              </ion-item-group>
            
              
            </ion-list>
        </ion-card-content>
      </ion-card>
     
           
    </ion-slide>
  </ion-slides>

  <!-- ========================================= -->
  <!-- SLIDES FIN-->
  <!-- ========================================= -->


  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="clickLecturaManual()" color="tertiary">
        <ion-icon name="barcode" style="font-size:1.6em"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="restart()" color="tertiary">
         <ion-icon name="remove-circle-outline" style="font-size:1.6em"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab  *ngIf="pestaniaActual==2" horizontal="end" vertical="bottom" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="arrow-dropup" (click)="focusBuscarProducto();"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-button *ngIf="pestaniaActual==0" (click)="pestaniaActual=1" expand="block">Continuar</ion-button>
    <ion-button *ngIf="pestaniaActual==1" (click)="pestaniaActual=2" expand="block">Continuar</ion-button>
    <ion-button *ngIf="pestaniaActual==2" (click)="recibirItems()" expand="block">Recibir</ion-button>
      
  </ion-toolbar>
</ion-footer>
