<ion-card *ngIf="informeCheckIn && FiltroDatos.length > 0"  mode="md">
  <ion-card-header>
      <ion-card-title> Check-In {{ detalleTitulo | lowercase | titlecase }} </ion-card-title>
  </ion-card-header>
  <ion-card-content  mode="md">
       <table >
          <tr  class="header">
              <th > {{ tipo }} </th>
              <th >Visitas</th>
              <th class="header"><ion-icon name="clipboard"></ion-icon></th>
          </tr>
          <tr class="body"  *ngFor="let zona of FiltroDatos;  let i=index" (click)="enviarObjeto({'dato': zona.id,'index': (indice+1),'slides':slidesCheckIns, cant: zona.cant}, zona.rut);">
            <td [style.font-weight]="zona.id === 'TOTAL' ? 700 : 500"> {{ zona.id | lowercase | titlecase }} </td>
            <td [style.font-weight]="zona.id === 'TOTAL' ? 700 : 500"> {{ zona.cant }} </td>
            <td *ngIf="zona.id != 'TOTAL' && zona.cant > 0 && indice < 2"> <ion-icon name="arrow-forward" mode="ios"></ion-icon> </td>
            <td *ngIf="zona.cant == 0 || zona.id === 'TOTAL' && indice < 2 "> 
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
              </svg>
            </td>
            <td *ngIf="zona.cant > 0 && zona.id != 'TOTAL' && indice == 2 " class="text-color-success"> 
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </td>
        </tr>
      </table> 
  </ion-card-content>
</ion-card>
