<ion-list>
  <ion-item *ngFor="let zona of zonas" (click)="setFiltroZona(zona.nombre)">
    <ion-label>
      {{ zona.nombre | titlecase }}
    </ion-label>
    <ion-icon *ngIf="zona.selected" name="checkmark"></ion-icon>
  </ion-item>
</ion-list>