.filtroItem{
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
}

.card-content-md{
    padding-inline-end: 3px !important;
    padding-inline-start: 7px !important;
    padding-top: 4px;
}