<ion-card *ngIf="!documento" mode="md"> 
  <ion-card-content mode="md">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-segment class="tipoDocumento" value="GDEL" #filtro (ionChange)="tipoDocumento = filtro.value" mode="md">
            <ion-segment-button value="GDEL" mode="md">GDEL</ion-segment-button>
            <ion-segment-button value="FEL" mode="md" >FEL</ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class='title ion-text-center datos'>
          {{tipoDocumento === 'FEL'? 'Factura electrónica' : 'Guía Despacho'}}
      </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="7">
          <ion-input type="number" min="0" #docAsignar placeholder="Número Documento"></ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-button (click)="getDocumentDetails(docAsignar.value)" md="md"><ion-icon name="search"></ion-icon> Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<div  *ngIf="documento">
  <app-detalle-documento [documento]="documento" *ngIf="(!searchingTransportista && !selectedTransportista) || (selectedTransportista && !searchingTransportista)"></app-detalle-documento>
  <ion-card mode="md">
    <ion-card-content mode="md">
      <ion-grid>
        <ion-row *ngIf="!selectedTransportista">
          <ion-col size="12" class="ion-text-center datos">
            Asignar Transportista
          </ion-col>
          <ion-col size="12">
            <ion-searchbar type="text" debounce="500" (ionChange)="autoCompleteTransportista($event)" mode="md"></ion-searchbar>
            <ion-list *ngIf="isItemAvailable">
                <ion-item class="filtroItem" *ngFor="let transportista of transportistasFiltered" (click)="setTransportista(transportista)">{{ transportista.strNombreUsuario | lowercase}}</ion-item>
                <ion-item class="filtroItem" *ngIf="transportistasFiltered?.length < 1" class="ion-text-center">Sin Resultados</ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center" *ngIf="selectedTransportista">
          <ion-col size="12" class="datos ion-text-center">
            {{selectedTransportistaNombre | titlecase}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-button color="danger" (click)="resetAsignacion()" mode="md" expand="full" shape="round"> <ion-icon name="close"></ion-icon>Cancelar</ion-button>
          </ion-col>
          <ion-col size="6" class="ion-justify-content-center">
            <ion-button color="primary" mode="md" expand="full" [disabled]="!selectedTransportista" shape="round" (click)="asignarDocumento()"><ion-icon name="checkmark"></ion-icon>{{tipoAcceso === 1? 'Asignarme' : 'Asignar'}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
