<ion-header>
  <ion-toolbar>
    <ion-title>Detalle {{ orden.folio }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngIf="orden.ordenC">
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-center datos">{{ orden.ordenC }}</ion-label>
        <ion-icon
          src="./assets/svg/nota.svg"
          slot="start"
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Listado Productos'"
      [slides]="null"
    ></app-header>
    <ion-card-content 
    *ngFor="let articulo of carro">
      <app-product-ov-item [articulo]="articulo"></app-product-ov-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Resumen'"
      [slides]="null"
    ></app-header>

    <ion-card-content>
      <ion-item>
        <ion-label class="datos">Sub Total</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{subTotal | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/total.svg"
          slot="start"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label class="datos">I.V.A.</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{iva | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/impuesto.svg"
          slot="start"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label class="datos">Total</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{total | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/dinero.svg"
          slot="start"
        ></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label class="datos"> Estado </ion-label>
        <ion-label slot="end" class="ion-text-end datos"> {{ orden.estado | lowercase | titlecase }}</ion-label>
        <ion-icon
          src="./assets/svg/file.svg"
          slot="start"
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button
   *ngIf="orden.estado=='ENVIADO'"
    class="ion-margin"
    (click)="convertir()"
    expand="block"
  >
    <ion-label>Convertir a orden de venta</ion-label>
  </ion-button>

  <ion-button
  
    class="ion-margin"
    (click)="enviarCotizacion()"
    expand="block"
  >
    <ion-label>Enviar {{ tipoDocumento }} </ion-label>
  </ion-button>
</ion-content>
