<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button
          color="light"
         menu="primerMenu"
        ></ion-menu-button>
      </ion-buttons>

    <ion-title>Carro de Compra</ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/catalogo">
        <ion-icon
          color="light"
          slot="icon-only"
          name="list-box"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Cliente'"
      [slides]="null"
    ></app-header>
    <ion-card-content>
      <ion-item>
        <ion-icon src="./assets/svg/hombre.svg" slot="start"></ion-icon>
        <ion-label color="primary" *ngIf="cliente">
          {{ cliente.nombre | lowercase | titlecase }}
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Listado Productos'"
      [slides]="null"
    ></app-header>

    <ion-card-content>
      <div *ngFor="let articulo of carro">
        <app-products-cart-view [articulo]="articulo" [isCotizacion]="false" (recargarCarro)="obtenerCarro()"></app-products-cart-view>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Resumen'"
      [slides]="null"
    ></app-header>

    <ion-card-content>
      <ion-item>
        <ion-label class="datos">Sub Total</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{subTotal | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/total.svg"
          slot="start"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label class="datos">I.V.A.</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{iva | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/impuesto.svg"
          slot="start"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label class="datos">Total</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{total | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/dinero.svg"
          slot="start"
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button
    [disabled]="total==0"
    class="ion-margin"
    (click)="abrirModal()"
    expand="block"
  >
    <ion-label> Seleccionar forma de pago </ion-label>
  </ion-button>

  <ion-button
  [disabled]="!cliente"
  class="ion-margin"
  expand="block"
  [routerLink]="cliente?.nombre === '' ? '/tabs/clientes' : '/propuesta'"
  >
    <ion-label>Realizar propuesta </ion-label>
  </ion-button>

</ion-content>