.card-content-md, .card-content-ios {
   
    -webkit-padding-start: 0px !important; 
    padding-inline-start: 0px !important; 


} 
ion-item {
    --ion-safe-area-right: 0 !important;
  }

  p{
      font-size: 13px !important;
      font-weight: bolder !important
  }
