<ion-header>
  <ion-toolbar>
    <ion-title>Cotización</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon
          name="close"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col
        size="12"
        class="derecha"
      >
        <ion-label class="x-large">Información General</ion-label>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="key"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Rut</ion-label>

          <ion-label
            class="datos"
            *ngIf="cliente"
          >{{cliente.rut}}</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="person"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Nombre</ion-label>

          <ion-label
            class="datos"
            *ngIf="cliente"
          >{{cliente.nombre}}</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <div>
          <ion-label class="encabezado">Orden Compra</ion-label>
          <ion-input [value]="ordenCompra" [(ngModel)]="ordenCompra" [disabled]="enviarDocumento? true : false"></ion-input>
        </div>
      </ion-item>

    
        <div>
          <ion-label class="encabezado" color="dark">Forma de pago</ion-label>
          
          <ion-select
            mode="ios"
            [disabled]="enviarDocumento? true : false"
            placeholder="Seleccionar..."
            ok-text="aceptar"
            cancel-text="cancelar"
            (ionChange)="changeEnvironment($event)"
          >
            <ion-select-option *ngFor="let pago of TipoPagos" [value]="pago" >{{pago.nombre}}</ion-select-option>
          </ion-select>
        </div>
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row class="ion-align-items-center" (click)="mostrarProductos = !mostrarProductos">
      <ion-col size="9">
        <app-header
        [titulo]="'Listado Productos'"
        [slides]="null"
        >
        </app-header>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-icon [attr.name]="mostrarProductos === true ?  'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-card-content *ngIf="mostrarProductos">
      <div *ngFor="let articulo of carro">
        <app-products-cart-view [articulo]="articulo" [isCotizacion]="true" (recargarCarro)="obtenerCarro()"></app-products-cart-view>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom">
    <app-header
      [titulo]="'Resumen'"
      [slides]="null"
    ></app-header>

    <ion-card-content>
      <ion-item>
        <ion-label class="datos">Sub Total</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{subTotal | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/total.svg"
          slot="start"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label class="datos">I.V.A.</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{iva | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/impuesto.svg"
          slot="start"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label class="datos">Total</ion-label>

        <ion-label
          slot="end"
          class="ion-text-end datos"
        >{{total | formatoMoneda}}</ion-label>

        <ion-icon
          src="./assets/svg/dinero.svg"
          slot="start"
        ></ion-icon>
      </ion-item>
      
          <ion-button
          [disabled]="total==0 || !pago || generandoCoti === true || enviarDocumento"
          [hidden]="enviarDocumento? true : false"
          class="ion-margin"
          (click)="generarCotizacion()"
          expand="block"
        >
          <ion-icon
            slot="icon-only"
            name="add"
          ></ion-icon>
      
          <ion-label>Generar Cotización</ion-label>
        </ion-button>

        <ion-button
          [hidden]="!enviarDocumento && docFolio?.length == 0"
          class="ion-margin"
          (click)="enviarDocumentoFunc()"
          expand="block"
          color="warning"
        >
          <ion-icon
            slot="icon-only"
            name="mail"
          ></ion-icon>
      
          <ion-label> Enviar doc. {{ docFolio }} </ion-label>
        </ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>