<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Respaldos</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="return-left" class='returnArrow' *ngIf="viewDetail && respaldoSelected" (click)="ocultarDetalleRespaldo()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!viewDetail">
    <ion-card-content>
      <ion-item *ngFor="let respaldo of respaldos" (click)="getDetalleDoc(respaldo.intRegistro, respaldo.strTipoDoc)">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="8" class="tipoDoc">
              <ion-icon name="paper" class="datos"></ion-icon> {{respaldo.strTipoDoc}} {{respaldo.strFolioDoc}}
            </ion-col>
            <ion-col size="4" class="ion-text-end">
              <ion-icon name="camera"></ion-icon> {{respaldo.strNombreEstado}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="8" style="white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;">
              <ion-icon name="person"></ion-icon> {{respaldo.strNombreCliente | titlecase }}
            </ion-col>
            <ion-col size="4" class="ion-text-end fechaRespaldo">
              <ion-icon name="calendar"></ion-icon> {{ respaldo.dtFechaEstado | date:'dd-MM-yyyy' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="respaldos?.length === 0 && datosCargados">
        <ion-label class="datos">No se han encontrado respaldos</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div #detalleSelectedRepaldo *ngIf="viewDetail && respaldoSelected">
    <app-detalle-documento [documento]="respaldoSelected"></app-detalle-documento>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-label class="datos">Fotos de Respaldo</ion-label>
              </ion-col>
              <ion-col size="12" class="ion-text-center">
                {{ respaldoSelected?.dtFechaEstado | date:'dd-MM-yyyy HH:mm' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let foto of respaldoSelected?.strImagen64">
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <img [src]="('data:image/jpeg;base64,'+foto) | imageSanitizer" style="height: 400px; width: 300px;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
