.card-content-md{
    padding-inline-end: 3px !important;
    padding-inline-start: 7px !important;
}

ion-item{
    padding-top: 3px;
}

ion-col{
    padding: 3px 0px 1px 3px;
    font-size: 13px;
}

.fechaRespaldo{
    color: var(--ion-color-primary);
}

.tipoDoc{
    font-weight: 700;
    font-size: 15;
}

.returnArrow{
    font-size: 25px;
    margin-right: 15px;
}

ion-card-header{
    padding-bottom: 3px;
}

