<ion-card *ngIf="informeLlamado"  mode="md">
  <ion-card-header>
      <ion-card-title>Llamados por Zonas </ion-card-title>
  </ion-card-header>
  <ion-card-content  mode="md">
       <table >
          <tr  class="header">
              <th >Zona</th>
              <th >Llamadas realizadas</th>
              <th  >Total llamadas</th>
              <th >%</th>
              <th class="header"><ion-icon name="clipboard"></ion-icon></th>
          </tr>
          <tr class="body"  *ngFor="let zona of informeLlamado.zonas; let i=index" (click)="enviarObjeto({'zona':zona,'index':1,'slides':slidesLlamados})">
            <td >{{zona.zona}}</td>
            <td >{{zona.realizados}}</td>
            <td >{{zona.total}}</td>
            <td [class.rojo]="zona.promedio <76"
            [class.amarillo]="75< zona.promedio && zona.promedio <94 "
            [class.verde]=" zona.promedio >94">{{zona.promedio | number: '1.0-1'}}</td>
            <td>  <ion-icon name="arrow-forward" mode="ios"></ion-icon> </td>
        </tr>
        <tr  class="footer">
            <td>TOTAL</td>
            <td>{{informeLlamado.totalRealizadas}}</td>
            <td>{{informeLlamado.totalLlamadas}}</td>
            <td>{{informeLlamado.promedioGeneral | number: '1.0-1'}}</td>

        </tr> 
      </table> 
  </ion-card-content>
</ion-card>
<ion-card *ngIf="lstVendedores">
  <ion-card-header>
      <ion-card-title>Llamados por Vendedor</ion-card-title>
  </ion-card-header>
  <ion-card-content>
       <table>
          <tr  class="header">
              <th >Nombre</th>
              <th >Llamadas realizadas</th>
              <th  >Total llamadas</th>
     
          </tr>
          <tr class="body"  *ngFor="let vendedor of lstVendedores; let i=index" (click)="enviarObjeto({'vendedor':vendedor,'index':2,'slides':slidesLlamados})">
            <td >{{vendedor.nombre | lowercase | titlecase }}</td>
            <td [class.rojo]="vendedor.realizados <3"
            [class.amarillo]="4< vendedor.realizados && vendedor.realizados <10 "
            [class.verde]=" vendedor.realizados >9">{{vendedor.realizados}}</td>
            <td >{{vendedor.total}}</td>
          <!--   <td >{{zona.promedio | number: '1.0-1'}}</td> -->
        </tr>
    
      </table> 
  </ion-card-content>
</ion-card>