<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-button >
              <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
          </ion-button> -->
          <ion-menu-button autoHide="false" color="light" menu="primerMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title> Informe Check-in </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light">
        <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [disabled]="pag.disabled"  (click)="cambioPagina(pag.index, slidesCheckIns )"
            [class.segment-button-checked]="pag.cheked">
            <ion-icon [name]="pag.svg" ></ion-icon> 
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar class="color">
        <ion-segment [value]="rango" #filtro id="tipoDato" (ionChange)="filtrar(filtro.value)"  mode="md">
            <ion-segment-button value="Diario"  mode="md" >Diario</ion-segment-button>
            <ion-segment-button  value="Mensual"  mode="md">Mensual</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-slides #slidesCheckIn>
        <ion-slide  *ngIf="informeCheckInZonas?.mensual.length > 0 && informeCheckInZonas?.dia.length > 0">
            <app-tabla-checkin [indice]="0" [hidden]="indiceActual == 0? false : true" (brake)="MostrarDetalle($event)" [informeCheckIn]="informeCheckInZonas" [slidesCheckIns]="slidesCheckIns"   [filtro]="rango" [detalleTitulo]="detalleTitulo" ></app-tabla-checkin>
        </ion-slide>
        <ion-slide *ngIf="informeCheckInSucursal?.mensual.length > 0 && informeCheckInSucursal?.dia.length > 0  ">
            <app-tabla-checkin [indice]="1" [hidden]="indiceActual == 1? false : true" (brake)="MostrarDetalle($event)" [informeCheckIn]="informeCheckInSucursal" [slidesCheckIns]="slidesCheckIns"  [filtro]="rango" [detalleTitulo]="detalleTitulo" ></app-tabla-checkin>
        </ion-slide>
        <ion-slide *ngIf="informeCheckInVendedores?.mensual.length > 0 && informeCheckInVendedores?.dia.length > 0  ">
            <app-tabla-checkin [indice]="2" [hidden]="indiceActual == 2? false : true" (brake)="MostrarDetalle($event)" [informeCheckIn]="informeCheckInVendedores" [slidesCheckIns]="slidesCheckIns"  [filtro]="rango" [detalleTitulo]="detalleTitulo" [sucursal]="codSucursal"></app-tabla-checkin>
        </ion-slide>
        <ion-slide >
           <h1>Informe Check-In</h1>
        </ion-slide>
    </ion-slides>   
</ion-content>