<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="/"
        text=""
      ></ion-back-button>
    </ion-buttons>

    <ion-title>Registro de Visita</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="detalleCliente">
  <ion-card>
    <ion-row>
      <ion-col
        size="12"
        class="derecha"
      >
        <ion-label class="x-large">Visita</ion-label>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="key"
          slot="end"
        ></ion-icon>

        <div>
          <ion-label class="encabezado">Rut</ion-label>

          <ion-label class="datos" *ngIf="detalleCliente">{{ detalleCliente.rut }}</ion-label>
        </div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="person"
          slot="end"
        ></ion-icon>

        <div *ngIf="detalleCliente && detalleCliente.nombre">
          <ion-label class="encabezado">Nombre</ion-label>

          <ion-label class="datos">{{detalleCliente.nombre}}</ion-label>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-icon
          color="primary"
          name="globe"
          slot="end"
        ></ion-icon>
        <div>
          <ion-label class="encabezado">Tipo de Contacto</ion-label>
          <ion-select #origenSelect placeholder="Ingresar tipo de contacto" okText="Aceptar" 
            cancelText="Cancelar" (ionChange)="setOrigenCheckIn(origenSelect.value)">
            <ion-select-option value="Visita">Visita</ion-select-option>
            <ion-select-option value="Llamada">Llamada</ion-select-option>
            <ion-select-option value="Whatsapp">Whatsapp</ion-select-option>
            <ion-select-option value="Videoconferencia">Videoconferencia</ion-select-option>
          </ion-select>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-row>
        <ion-col
          size="12"
          class="derecha"
        >
          <ion-label class="x-large">Visita</ion-label>
        </ion-col>
      </ion-row>
  
      <ion-card-content>
        <ion-item class="ion-no-padding" detail *ngFor="let evento of eventos" (click)="abrirModal(evento.titulo)">
          <ion-icon
            color="primary"
            [name]="evento.icon"
            slot="start"
          ></ion-icon>
            <ion-label class="datos">{{evento.titulo}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" style='margin-bottom: 8px;'>
        <ion-button expand="block" color="success" [disabled]="((!comentarioEmitido && !oportunidadEmitida) || !origenCheckIn)" (click)="checkIn()"> Enviar Check-In </ion-button>
        <ion-text color="danger" *ngIf="((!comentarioEmitido && !oportunidadEmitida) || !origenCheckIn)"> Para realizar un check-in, es necesario ingresar el tipo de contacto y una oportunidad o comentario.</ion-text>
      </ion-col>

      <ion-col size="12" *ngIf="(comentarioEmitido && comentarioEmitido.length > 0) || cotizacionEmitida  || oportunidadEmitida">
        <ion-card>
          <ion-row>
            <ion-col
              size="12"
              class="derecha"
            >
              <ion-label class="x-large">Resumen del Check-In</ion-label>
            </ion-col>
          </ion-row>
          <ion-card-content style="padding-top: 0px;">
            <ion-list *ngIf="comentarioEmitido">
              <ion-list-header>
                <ion-label class="datos"> Comentario: </ion-label>
              </ion-list-header>
              <ion-item class="ion-text-wrap" style="--min-height: 30px">
                {{ comentarioEmitido }}
             </ion-item>
            </ion-list>
            <ion-list *ngIf="oportunidadEmitida">
              <ion-list-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10">
                      <ion-label class="datos"> Oportunidad </ion-label>
                    </ion-col>
                    <ion-col size="2" style="font-size: 20px" (click)="removeOportunidad()">
                      <ion-icon name="trash" color="danger"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list-header>
              <ion-item style="--min-height: 30px">
                <ion-grid> 
                  <ion-row>
                    <ion-col size="6">
                      Monto: 
                    </ion-col>
                    <ion-col size="6">
                      {{ oportunidadEmitida.monto_magnitud | formatoMoneda }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item style="--min-height: 30px">
                <ion-grid>
                  <ion-row>
                    <ion-col size="6" class="text-right">
                      Fecha Cierre:
                    </ion-col>
                    <ion-col size="6" class="text-right">
                      {{ oportunidadEmitida.fecha_limite | date }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="cotizacionEmitida">
              <ion-list-header>
                <ion-label class="datos"> Cotización: </ion-label>
              </ion-list-header>
              <ion-item class="ion-text-wrap" style="--min-height: 30px">
                Total : {{ cotizacionEmitida.total | formatoMoneda }} 
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>