<ion-header>
  <ion-toolbar>
    <ion-title> Oportunidad Cliente</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon
          name="close"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rutCliente">
  <ion-card *ngIf="checkIn">
    <ion-card-content>
      <form [formGroup]="oportunidadForm" id="form" (ngSubmit)="guardarOportunidad()">
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-icon
              color="primary"
              name="contact"
              slot="end"
            ></ion-icon>
    
            <div>
              <ion-label class="encabezado">Nombre Cliente</ion-label>
    
              <ion-label
                class="datos"
              > {{ nombreCliente | titlecase }}</ion-label>
            </div>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-icon
              color="primary"
              name="key"
              slot="end"
            ></ion-icon>
    
            <div>
              <ion-label class="encabezado">Rut Cliente</ion-label>
    
              <ion-label
                class="datos"
              >{{ rutCliente }}</ion-label>
            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon
              color="primary"
              name="create"
              slot="end"
            ></ion-icon>
    
            <div>
              <ion-label class="encabezado">Tipo Oportunidad</ion-label>
    
              <ion-label class="datos">
                <ion-select
                  mode="ios"
                  placeholder="Seleccionar tipo de oportunidad"
                  ok-text="aceptar"
                  cancel-text="cancelar"
                  #tipoOportunidad
                  formControlName="tipoOportunidad"
                >
                  <ion-select-option *ngFor="let concepto of oportunidadConceptos" [value]="concepto.nombre">{{concepto.nombre}}</ion-select-option>
                </ion-select>
              </ion-label>
            </div>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-icon
              color="primary"
              name="calendar"
              slot="end"
            ></ion-icon>
    
            <div>
              <ion-label class="encabezado">Fecha Cierre</ion-label>
    
              <ion-label
                class="datos"
              > 
              <ion-datetime 
                displayFormat="DD MMM, YYYY" 
                monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" 
                min="{{minDate? minDate : '2020-01-01' }}"
                max="2050"
                mode="ios"
                cancelText="Cancelar"
                placeholder="Ingresar Fecha"
                doneText="Aceptar"
                formControlName="fechaLimite"
                >
              </ion-datetime>
            </ion-label>
            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon
              color="primary"
              name="pulse"
              slot="end"
            ></ion-icon>
    
            <div>
              <ion-label class="encabezado">Probabilidad de cierre</ion-label>
              <ion-label class="datos">
                <ion-select
                  mode="ios"
                  placeholder="Probabilidad"
                  ok-text="aceptar"
                  cancel-text="cancelar"
                  formControlName="probabilidad"
                >
                  <ion-select-option value="Baja" >Baja</ion-select-option>
                  <ion-select-option value="Media" >Media</ion-select-option>
                  <ion-select-option value="Alta" >Alta</ion-select-option>
                </ion-select>
              </ion-label>
            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon
              color="primary"
              name="logo-usd"
              slot="end"
            ></ion-icon>
    
            <div>
              <ion-label class="encabezado">Monto Magnitud Oportunidad</ion-label>
              <ion-row class="ion-align-items-center">
                <ion-col size="7">
                  <ion-input #montoMagnitud type="number" inputmode="numeric" min="0" class="datos" placeholder="Monto $"  formControlName="montoMagnitud" mode="ios"></ion-input>
                </ion-col>
                <ion-col size="5">
                  {{ montoMagnitud.value | currency:'$' : 'symbol' : '1.0-0' }}
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
        <ion-button expand="block" type="submit" mode="md" *ngIf="checkIn" [disabled]="!oportunidadForm.valid" > Guardar <ion-icon name="save"></ion-icon></ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
