ion-select{
    max-width: 100% !important;
    padding-left: 2px;
}

ion-datetime{
    padding-left: 2px;
}

.select-disabled, .item-select-disabled ion-label {
    opacity: 0.9;
}

.datetime-disabled{
    opacity: 1;
}
