<ion-card>
    <app-header
    [titulo]="'Contactos'"
    [slides]="slides"
  ></app-header>
  
  <ion-card *ngFor="let contacto of agenda">
    <ion-item>
      <ion-icon
        name="person"
        slot="end"
        color="primary"
      ></ion-icon>
  
      <ion-label>{{contacto.nombre}}</ion-label>
    </ion-item>
  
    <ion-item   *ngIf="contacto.telefono">
      <ion-icon
        name="call"
        slot="end"
        color="primary"
      ></ion-icon>
  
      <ion-label>{{contacto.telefono}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon
        name="mail"
        slot="end"
        color="primary"
      ></ion-icon>
  
      <ion-label>{{contacto.correo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        name="pricetags"
        slot="end"
        color="primary">
      </ion-icon>
      <ion-label *ngIf="contacto.contactoDe === 'COM'"> Comercial </ion-label>
      <ion-label *ngIf="contacto.contactoDe === 'CCB'"> Cobranza </ion-label>
    </ion-item>
  </ion-card>
</ion-card>
