<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="/tabs/objetivos"
        text=""
      ></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="detalleCliente" style="font-size: 15px;"> {{ detalleCliente.nombre | lowercase | titlecase }} </ion-title>
    <ion-buttons slot="end">
        <ion-button routerLink="/tabs/catalogo" >
          <ion-icon
            color="light"
            slot="icon-only"
            name="list-box"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-segment
      scrollable="scrollable"
      mode="md"
      color="light"
      (ionChange)="cambioPagina( $event,theSlides )"
    >
      <ion-segment-button
        mode="md"
        *ngFor="let pag of paginas"
        [value]="pag"
        checked="pag.icon==='person'"
      >
        <ion-icon [name]="pag.svg"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-slides #theSlides [options]="slideOpts">

    <ion-slide *ngIf="detalleCliente && detalleCliente.rut">
        <app-empresa [slides]="theSlides" [detalleCliente]="detalleCliente"></app-empresa>
    </ion-slide>
    <ion-slide>
        <app-comercio [slides]="theSlides" [detalleCliente]="detalleCliente"></app-comercio>
    </ion-slide>
    <ion-slide>
       <app-eventos  [slides]="theSlides"></app-eventos>
    </ion-slide>

    <ion-slide>

        <app-pedidos [slides]="theSlides"></app-pedidos>
 
    </ion-slide>

    <ion-slide>

        <app-flota [slides]="theSlides"></app-flota>
   
    </ion-slide>

    <ion-slide *ngIf="detalleCliente && detalleCliente.rut">

        <app-contactos [slides]="theSlides" [agenda]="detalleCliente.contactos"></app-contactos>

    </ion-slide>

    <ion-slide *ngIf="detalleCliente && detalleCliente.rut">
        <app-direcciones [slides]="theSlides" [listadoDireccion]="detalleCliente.direcciones"></app-direcciones>
    </ion-slide>
  </ion-slides>
</ion-content>