<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button       
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title slot="start" class="ion-no-padding">Registrar Sobrantes</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Permite recibir mercancías que llegaron a la tienda sin estar declaradas en la documentación, provenientes de otra bodega de Implementos.
    </ion-list-header>
  

    <ion-item>
      <ion-label style="font-weight:bold;">Bodega Envia</ion-label>
      <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="brown">ARICA</ion-select-option>
        <ion-select-option value="black">ANTOFAGASTA</ion-select-option>
        <ion-select-option value="red">CONCEPCION</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label style="font-weight:bold;">Bodega Recibe</ion-label>
      <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="brown">IQUIQUE</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  
  <ion-list  >

    <ion-list>
      <ion-item color="light">
        <ion-label>Ingrese los Productos </ion-label>
        <ion-button (click)="boton1()" slot="end" color="default">+</ion-button>
      </ion-item>

      </ion-list>
    <ion-item-sliding *ngFor="let prod of items; let j = index">
      
      <!--###################################################################-->    
        <!--<START ###################################################################-->    
          <ion-item-options side="start">
            <!-- <ion-item-option (click)="asignarCantUsuario( prod , prod.cant_a_recibir )" color="medium"> <span class="item-sku">PEND:</span> <p> {{prod.cant_a_recibir}} </p> </ion-item-option> -->
            <ion-item-option (click)="boton1(prod)" color="medium"> <ion-icon name="trash"></ion-icon> </ion-item-option>
  
          </ion-item-options>
        <!--START> ###################################################################-->    
        <!--###################################################################-->   
        
      <ion-item style="--padding-start: 10px;"> 
        <ion-grid fixed>
          <ion-row>
            <ion-col size="9">
              <ion-label fixed class="fixedLabel ion-text-wrap" >
                <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;">{{prod.codigoItem}}</ion-badge>       
                
                <p class="item-nombre ion-text-wrap" >
                  {{prod.nombreItem}}
                </p>
              </ion-label>

            </ion-col>
            <ion-col size="3"  class="ion-text-right" class="colItemCantidad">
              <ion-input type="number" min="0" step="1" class="inp-cantidad"  [(ngModel)]="prod.cantidadUsuario"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> 
      
      <!--###################################################################-->    
        <!--<END ###################################################################-->    
        <ion-item-options side="end">
          <ion-item-option (click)="boton1(prod)"  color="danger" style="font-weight: bold;">
            <ion-icon name="trash" style="font-size:1.6rem"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <!--END> ###################################################################-->    
        <!--###################################################################-->  

      </ion-item-sliding>
    </ion-list>

    
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-button (click)="boton1()" expand="block">Procesar</ion-button>
      
  </ion-toolbar>
</ion-footer>