<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngIf="tipoDocumento != 'OV'" class="ion-justify-content-center ion-margin-bottom">
        <ion-col size="12" class="title ion-text-center">
          Tipo de documento
        </ion-col>
        <ion-col size="9">
          <ion-segment class="tipoDocumento" value="GDEL" #filtro (ionChange)="tipoDocumento = filtro.value" mode="md">
            <ion-segment-button value="GDEL" mode="md">GDEL</ion-segment-button>
              <ion-segment-button value="FEL" mode="md" >FEL</ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7" *ngIf="tipoDocumento === 'OV'">
          <img src="assets/logos/scanIOS.png" height="230px" alt="your image" (click)="scanProduct()" class="img-scan"> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class='title ion-text-center'>
          {{tipoDocumento === 'OV'? 'Orden de Venta' : tipoDocumento === 'FEL'? 'Factura electrónica' : 'Guía Despacho'}}
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="7">
          <ion-input type="number" min="0" #docFolio placeholder="Número Documento"></ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-button (click)="getDocumentDetails(docFolio.value)" mode="md"><ion-icon name="search"></ion-icon> Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
