<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-button >
            <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
        </ion-button> -->
          <ion-menu-button autoHide="false" color="light" menu="primerMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Informe Combos</ion-title>

  </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-segment scrollable="scrollable" mode="md" color="light">
          <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [disabled]="pag.disabled"  (click)="cambioPagina( pag.index,slidesCombos )"
              [class.segment-button-checked]="pag.cheked">
              <ion-icon [name]="pag.svg" ></ion-icon>
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="color">
      <ion-segment [value]="rango" id="tipoDato" (ionChange)="filtrar($event)"  mode="md">
          <ion-segment-button value="Diario"  mode="md">Diario</ion-segment-button>
          <ion-segment-button value="Mensual"  mode="md">Mensual</ion-segment-button>
      </ion-segment>
  </ion-toolbar>
  <div class="ion-text-center">
      <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
  </div>
  <ion-slides #slidesCombos>
      <ion-slide >
          <div *ngIf="lstCombos"> 
              <app-tabla-combos [titulo]="'Zona'" [hidden]="indiceActual == 0? false : true" [slidesCombos]="slidesCombos"  [listado]="lstCombos.zonas" (brake)="habilitar($event)" [filtro]="rango" [index]="1"></app-tabla-combos>

          </div>

      </ion-slide>
      <ion-slide >
          <div *ngIf="lstTiendas">
              <app-tabla-combos [titulo]="'Tienda'" [hidden]="indiceActual == 1? false : true" [slidesCombos]="slidesCombos"  [listado]="lstTiendas.tiendas" (brake)="habilitar($event)" [filtro]="rango" [index]="2"></app-tabla-combos>

          </div>
         
      </ion-slide>
      <ion-slide >
          <div *ngIf="lstVendedores">
              <app-tabla-combos [slidesCombos]="slidesCombos" [hidden]="indiceActual == 2? false : true"  [listado]="lstVendedores.vendedores" (brake)="habilitar($event)" [filtro]="rango" ></app-tabla-combos>

          </div>
         
      </ion-slide>
  </ion-slides>
</ion-content>