/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.gray {
  color: #757575 !important;
}
.primary {
  background-color: var(--ion-color-primary);
  color: white;
}
.tab-selected {
  color: white !important;
}

.titulo-bloqueado {
  font-weight: bolder;
  color: white;
  background-color: var(--ion-color-primary);
}

.x-large {
  font-size: large;
  color: #303138;
  font-weight: bold;
}


.tipoDocumento ion-segment-button{
  --background: #E1DFDF;
  --background-checked: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  --border-radius: 5px;
  --border-style: dashed;
  --border-width: 2px;
  --color-checked: var(--ion-color-light);
  --color: var(--ion-color-primary);
}

.img-scan{
  width: 260px;;
}

ion-toolbar {
  --background: var(--ion-color-theme);
  color: white;
}

ion-tab-bar {
  --background: var(--ion-color-theme);
  --color: #8a8a8a;
}

.encabezado {
  font-size: small !important;
}
.datos {
  font-size: initial;
  font-weight: bold;
}

.derecha {
  text-align: start !important;
}
.white {
  --background: white !important;
}

.monthview-container {
  height: 42% !important;
}

ion-slide > :first-child {
  width: 100%;
  margin-bottom: 5%;
}

.poster {
  width: 110px !important;
  height: 110px !important;
}

#toolbarUserName ion-toolbar{
  --min-height: auto !important;
}

.alert-tappable.sc-ion-alert-md.sc-ion-alert-ios {
  display: contents !important;
}

.alert-radio-label { white-space:   pre-wrap !important; }

.bannerPrecioEscala{
    position: absolute;
    top:15px;
    left:5px;
    color: white;
    background: #ef5939;
    font-size: 9px;
    line-height: 1;
    padding: 2px;
    border-radius: 2px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

/* ion-popover{
  ion-backdrop{
  opacity: 0.5 !important;
  }
    .popover-wrapper{
      .popover-content{
      width:230px;
      }
  }
}
 */

 .filrosOpor .popover-content{
  --width: 240px;
}

.zonas-popover .popover-content{ width: 160px; }

agm-map {
  height: calc(100vh - 45px);
}

#tipoDato ion-segment-button{
  --background: rgba(var(--ion-text-color-rgb,0,0,0),0.065);
  --background-checked: white !important;
  --color-checked: gray !important;
  --color: black !important;
  --border-color: gray !important;
  --border-width: 1px;
  --border-radius: 10%;
  --padding-start: 10%;
  --border-style: ridge ;
  --padding-end: 0px;
  min-width: 50%;
}


.gm-style .gm-style-iw-c{
  padding: 0px;
}


// TAMAÑO TABLET
@media (min-width:767px)  {
  ion-modal{
    --height: 730px !important;
  }
}
