<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>Respaldo {{tipo === 'OV'? 'Compra' : 'Entrega'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-upload-img (imageEventEmitter)='setImage($event)' *ngIf="paso === 1"></app-upload-img>
  <app-search-document *ngIf="paso === 2" [tipo]='tipo' (documentoEventEmitter)="setDocumento($event)"></app-search-document>
  <app-detalle-documento *ngIf="paso === 3" [documento]="documento"></app-detalle-documento>
  <div *ngIf="paso != 1 && !documentoRespaldadoMsj">
    <ion-grid>
      <ion-row *ngIf="paso === 3" class="ion-justify-content-center">
        <ion-col size="5">
          <ion-button color="danger" expand="full" (click)="cancelar()" mode="md"><ion-icon name="backspace"></ion-icon> CANCELAR</ion-button>
        </ion-col>
        <ion-col size="5">
          <ion-button color="primary" expand="full" [disabled]="!documento" (click)="guardarRespaldo()" mode="md"><ion-icon name="save"></ion-icon> GUARDAR</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-button expand="full" color="warning" (click)="paso = paso - 1" mode="md">
            <ion-icon name="arrow-round-back" ></ion-icon> Atras
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="documentoRespaldadoMsj && documentoRespaldadoMsj.length > 0">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <ion-label [color]="documentoRespaldado? 'success' : 'danger'">
            {{documentoRespaldadoMsj}}
          </ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-button [color]="documentoRespaldado? 'primary' : 'danger'" expand="full" (click)="cancelar()" mode="md">{{ documentoRespaldado?  'Respaldar Otro Documento' : 'Volver a intentar'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
