.item-sku{
    font-weight:bold;
    font-size:0.9rem;
    
}

.item-nombre{
    font-weight:bold;
    font-size:0.8rem;
    color:#555;
}

.item-nombre2{
    font-weight:bold;
    font-size:0.8rem;
    
}

.inp-cantidad{
    text-align:right;
    font-size: 1.2rem;
    border: 1px solid #CCC;
    font-weight:bold;
    max-width:5rem;
}

.fixedLabel {
    min-width: 100% !important;
    max-width: 100% !important;
}

ion-badge.cuadro{
    border-radius:2px;
}

.cant_recibida{
    -border:1px solid;
    top:-0.3rem;
    font-style: italic;
    color:#777;
}

small.txt_cantItems{
    --color:dark;
    font-weight:bold;
}

.resaltado{
    font-size:0.8rem;
    color:red;
    font-weight:bold;
}