<ion-header>
  <ion-toolbar >
    <ion-title>Confirmar Recepción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <p>
    Se procede a concretar la recepción de los siguientes artículos:
  </p>


  
  <ion-list style="padding-top:0px;">

    <ng-container  *ngFor="let doc of recibos; let i = index" >

    <!-- ========================================= -->
    <!-- DOCUMENTO GUIA TR - INI -->
    <!-- ========================================= -->
    <ng-container *ngIf="doc.documento.tipoDocumento=='GUIA-TR'">  
    <ion-item-group>
        <ion-item-divider color="precaucion">
          <ion-grid fixed>
            <ion-row>
              <!-- <ion-col size="3">{{doc.tipoDocumentoNombre}}</ion-col> -->
              <ion-col size="12" style="text-align: left;">
                <ion-label>Guía Despacho:</ion-label> <ion-badge class="cuadro" color="tertiary">{{doc.documento.documentoNro}}</ion-badge> <ion-badge color="medium">{{doc.documento.documentoRaiz}}</ion-badge>
              </ion-col>
            </ion-row>
           
          
          </ion-grid>

          
          <!-- <ion-label slot="start">{{doc.documento.tipoDocumentoNombre}}</ion-label>
          <ion-badge slot="end" class="cuadro" color="tertiary">{{doc.documento.documentoNro}}</ion-badge>
          <ion-badge slot="end" color="medium">{{doc.documento.documentoRaiz}}</ion-badge> -->
        </ion-item-divider>
      </ion-item-group>  

      

      <ion-list  >
 

        <ion-item  *ngFor="let prod of doc.itemsRecibir; let j = index" >
          <ion-grid fixed >
            <ion-row>
              <ion-col size="8">
                <ion-label  class="fixedLabel ion-text-wrap" >
                  <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;">{{prod.item}}</ion-badge> 
                  <ion-badge  class="cuadro" color="precaucion" outline>CANT: {{prod.cant_enviada}} <span style="color:#333;font-weight:normal;font-size:0.8rem">[{{ prod.unitid }}]</span></ion-badge>
                 
                <!-- <ion-badge class="cuadro" color="tertiary" outline>{{doc.folio_guia}}</ion-badge> -->
                <!-- <ion-badge color="medium" outline>{{ doc.documentoRaiz }}</ion-badge> -->
        
                  <p class="item-nombre ion-text-wrap" >
                    {{prod.nombre_item}}
                  </p>
                </ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <ion-label fixed class="fixedLabel ion-text-wrap" >
                  <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;font-size:0.9rem">
                  Pend
                </ion-badge>
                <p class="item-nombre ion-text-wrap" style="font-size:1rem;" >
                  {{ prod.cant_a_recibir }}
                </p>
              </ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <ion-label fixed class="fixedLabel ion-text-wrap" >
                  <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;font-size:0.9rem">
                  Recibir:
                </ion-badge>
                <p class="item-nombre ion-text-wrap" style="font-size:1rem;" >
                  {{ prod.cantidadUsuario }}
                </p>
              </ion-label>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="12">
                <ion-text  class="item-nombre2" color="danger" *ngIf=" prod.deterioroUsuario==1 " >
                  <ion-badge color="danger">  Se está declarando {{prod.deterioroUsuario}} artículo dañado</ion-badge><br/>
                </ion-text>
                <ion-text  class="item-nombre2" color="danger" *ngIf=" prod.deterioroUsuario>1 " >
                  <ion-badge color="danger">  Se están declarando {{prod.deterioroUsuario}} artículos dañados</ion-badge><br/>
                </ion-text>
                <ion-text class="item-nombre2" color="medium" *ngIf="prod.cant_recibida>0" style="font-style: italic;">
                  Cantidad ya recibida: {{ prod.cant_recibida}}, Por recibir: {{ prod.cant_a_recibir }}<br/>
                </ion-text>
                <ion-text  class="item-nombre2" color="primary" *ngIf=" prod.cantidadUsuario == prod.cant_a_recibir">
                  Con esta acción se completa recepción del artículo<br/>
                </ion-text>
                <ion-text  class="item-nombre2" color="tertiary" *ngIf=" prod.cantidadUsuario > prod.cant_a_recibir">
                  Se está recibiendo {{prod.cantidadUsuario - prod.cant_a_recibir}} sobrantes<br/>
                </ion-text>
                <ion-text  class="item-nombre2" color="danger" *ngIf=" prod.cantidadUsuario < prod.cant_a_recibir " >
                  Recibo parcial de: {{ prod.cantidadUsuario }}, quedará pendiente una cantidad de: {{prod.cant_a_recibir-prod.cantidadUsuario}}
                </ion-text>

             </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-list>

      </ng-container>
      
      <!-- ========================================= -->
      <!-- DOCUMENTO OC - INI -->
      <!-- ========================================= -->
      <ng-container *ngIf="doc.documento.tipoDocumento=='OC'">  
        <ion-item-group>
          <ion-item-divider color="precaucion">
            <ion-row>
              <ion-col size="9">
                <ion-label class="ion-text-wrap">{{doc.documento.nombre_proveedor}}</ion-label>
              </ion-col>
              <ion-col size="3" class="ion-text-right">
                <ion-badge class="cuadro" color="tertiary">{{doc.documento.documentoNro}}</ion-badge></ion-col>
            </ion-row>
          </ion-item-divider>
        </ion-item-group>  
        <ion-list  >
          <ion-item  *ngFor="let prod of doc.itemsRecibir; let j = index" >
            <ion-grid fixed >
              <ion-row>
                <ion-col size="8">
                  <ion-label  class="fixedLabel ion-text-wrap" >
                    <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;">{{prod.item}}</ion-badge> 
                    <ion-badge  class="cuadro" color="precaucion" outline>CANT: {{prod.cant_ordenada}} <span style="color:#333;font-weight:normal;font-size:0.8rem">[{{ prod.unitid_compra }}]</span></ion-badge>
                   
                  <!-- <ion-badge class="cuadro" color="tertiary" outline>{{doc.folio_guia}}</ion-badge> -->
                  <!-- <ion-badge color="medium" outline>{{ doc.documentoRaiz }}</ion-badge> -->
          
                    <p class="item-nombre ion-text-wrap" >
                      {{prod.nombre_item}}
                    </p>
                  </ion-label>
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                  <ion-label fixed class="fixedLabel ion-text-wrap" >
                    <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;font-size:0.9rem">
                    Pend
                  </ion-badge>
                  <p class="item-nombre ion-text-wrap" style="font-size:1rem;" >
                    {{ prod.cant_pendiente_entrega }}
                  </p>
                </ion-label>
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                  <ion-label fixed class="fixedLabel ion-text-wrap" >
                    <ion-badge class="cuadro" color="light" style="background:none;padding-left:0px;font-size:0.9rem">
                    Recibir:
                  </ion-badge>
                  <p class="item-nombre ion-text-wrap" style="font-size:1rem;" >
                    {{ prod.cantidadUsuario }}
                  </p>
                </ion-label>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="12">
                  <ion-text  class="item-nombre2" color="danger" *ngIf=" prod.deterioroUsuario==1 " >
                    <ion-badge color="danger">  Se está declarando {{prod.deterioroUsuario}} artículo dañado</ion-badge><br/>
                  </ion-text>
                  <ion-text class="item-nombre2" color="medium" *ngIf="prod.cant_recibida>0" style="font-style: italic;">
                    Cantidad ya recibida: {{ prod.cant_recibida}}, Por recibir: {{ prod.cant_pendiente_entrega }}<br/>
                  </ion-text>
                  <ion-text  class="item-nombre2" color="primary" *ngIf=" prod.cantidadUsuario == prod.cant_pendiente_entrega">
                    Con esta acción se completa recepción del artículo<br/>
                  </ion-text>
                  <ion-text  class="item-nombre2" color="tertiary" *ngIf=" prod.cantidadUsuario > prod.cant_pendiente_entrega">
                    Se está recibiendo {{prod.cantidadUsuario - prod.cant_pendiente_entrega}} sobrante<br/>
                  </ion-text>
                  <ion-text  class="item-nombre2" color="danger" *ngIf=" prod.cantidadUsuario < prod.cant_pendiente_entrega " >
                    Recibo parcial de: {{ prod.cantidadUsuario }}, quedará pendiente una cantidad de: {{prod.cant_pendiente_entrega-prod.cantidadUsuario}}
                  </ion-text>
  
               </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
  
        </ion-list>     
      </ng-container>
      <!-- ========================================= -->
      <!-- DOCUMENTO OC - FIN -->
      <!-- ========================================= -->
    </ng-container>

  </ion-list>

    
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="confirmar()" expand="block">Confirmar Recepción</ion-button>
    <ion-button (click)="cancelar()" color="danger" expand="block">Cancelar</ion-button>
      
  </ion-toolbar>
</ion-footer>