<ion-grid (click)="showDetails = !showDetails">
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <span class="itemTitle">{{despachoPendiente.documento}} - {{despachoPendiente.dlvdate | date :"dd/MM/yyyy" }}</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="4">
          <b>Modo:</b>
        </ion-col>
        <ion-col size="8" class="ion-text-end">
          {{despachoPendiente.modoDespacho | titlecase }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="despachoPendiente.destino">
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="4">
          <b>Destino:</b>
        </ion-col>
        <ion-col size="8" class="ion-text-end">
          {{despachoPendiente.destino | titlecase }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>Dias Retraso:</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end datos"
          [ngStyle]="{'color':  despachoPendiente.diasretraso > 0 ? 'red' : (despachoPendiente.diasretraso <= 0 && despachoPendiente.diasretraso > -3)? 'orange' : despachoPendiente.diasretraso <= -3? 'green' : {color: ''}}"
        >
          {{despachoPendiente.diasretraso }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>Estado:</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end">
          {{despachoPendiente.estado | titlecase}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>pickingroute:</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end">
          {{despachoPendiente.pickingrouteid}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>Monto/Cant</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end">
          {{despachoPendiente.monto | currency:'CL' : 'symbol' : '1.0-0'}} / {{despachoPendiente.cantidad}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showDetails">
    <ion-col size="12" class="ion-text-start">
      <ion-row>
        <ion-col size="5">
          <b>Origen</b>
        </ion-col>
        <ion-col size="7" class="ion-text-end">
          {{despachoPendiente.origen | titlecase}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <br>
  <ion-row *ngIf="showDetails">
    <ion-col size="12">
      {{despachoPendiente.address.replace('%1.','') | titlecase}}
    </ion-col>
  </ion-row>
</ion-grid>

