<ion-header>
  <ion-toolbar>
    <ion-title>Enviar {{ tipoDocumento }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon
          name="close"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="correoForm"
        (ngSubmit)="enviarCotizacion()"
        class="ion-margin"
      >
      <ion-item>
        <ion-input
          placeholder="cliente@correo.cl"
          class="input"
          type="text"
          #email1
          (ionChange)="email1.value = email1.value.toLowerCase()"
          autocapitalize="off"
          formControlName="para"
        ></ion-input>         
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="cliente@correo.cl"
          class="input"
          #email2
          (ionChange)="email2.value = email2.value.toLowerCase()"
          type="text"
          autocapitalize="off"
          formControlName="cc"
        ></ion-input>         
      </ion-item>
        <ion-item>
          <ion-textarea
            formControlName="cuerpo"
            placeholder="escriba mensaje para el cliente"
          ></ion-textarea>
        </ion-item>
        <div class="ion-padding-top">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!correoForm.valid"
          > Enviar Correo <ion-icon name="save"></ion-icon></ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <br>
  <div [innerHTML]="html"> </div>
</ion-content>