<ion-item *ngIf="articulo" class="ion-text-wrap" (click)="viewDetail = !viewDetail">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <img
          style="height: 50px;  width: 50px"
          src="https://images.implementos.cl/img/250/{{articulo.sku}}-1.jpg"
          onError="this.src='/assets/img/place-150x150.png'"
        >
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <ion-label class="skuDetalle" color="primary">
          {{articulo.sku}}
        </ion-label>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <ion-col size="12">
            <ion-label class="ion-text-end encabezado">Cant: {{articulo.cantidad}}</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label class="ion-text-end datos" *ngIf="articulo.direccion">
              <ion-icon name="pin"></ion-icon>{{articulo.direccion}}
            </ion-label>
            <ion-label class="ion-text-end datos" *ngIf="!articulo.direccion && articulo.p_minimo">
              <span style="font-size: 12px; text-decoration: none;"> NT: </span> {{articulo.p_minimo | formatoMoneda}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="viewDetail">
      <p style="text-align: justify;">
        {{articulo.nombre | lowercase}}
      </p>
    </ion-row>
  </ion-grid>
</ion-item>